@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.OUInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("new", "ou", new { id = Model.OU.Id, customerId = Model.Customer.Id, area = "admin" }, FormMethod.Post, new { id = "target" }))
{
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "new", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
            <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new { customerId = Model.Customer.Id}, new { @class = "btn" })</li>
        </ul>
    </div>
</div>

@Html.Partial("_Input", Model)

}