@model DH.Helpdesk.Web.Models.Reports.SearchModel

@using (Ajax.BeginForm("ReportsContent", "Reports", null, 
    new AjaxOptions { UpdateTargetId = "reports_container" }, new { id = "search_report_form" }))
{
    <table class="tableform">    
        <tr>
            <td class="span3">@Translation.Get("Rapport")</td>
            <td>@Html.DropDownListFor(m => m.ReportId, Model.Reports, new { @data_report_type = ""})</td>
        </tr>        
    </table>        
}
