@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.DateFieldsModel
@if (Model.ScanDate.Show
        || Model.SynchronizeDate.Show
        || Model.PathDirectory.Show)
{
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.SynchronizeDate, "Fields/Date", new { id = "computer_edit_syncdate_datepicker" })
                @Html.EditorFor(m => m.ScanDate, "Fields/Date", new { id = "computer_edit_scandate_datepicker" })
                @Html.EditorFor(m => m.PathDirectory, "Fields/Text")
            </table>
        </div>
    </div>
}
