@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Computer.MemoryFieldsViewModel
@if (Model.MemoryFieldsModel.RAMId.Show)
{
    <h4>@Translation.Get("Minne")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.MemoryFieldsModel.RAMId, "Fields/List", new { Source = Model.RAMs })
            </table>
        </div>
    </div>
}
else
{
    @Html.HiddenFor(m => m.MemoryFieldsModel.RAMId)
}
