body {
    padding-top: 0;
}

#lmEmbedded .navbar {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

#lmEmbedded .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

#lmEmbedded .navbar-fixed-top {
}

#lmEmbedded .collapse {
    display: block;
}

#lmEmbedded .container.containeralignright {
    margin-left: 0;
}
