<div style="display:none">
    @Html.Hidden("DeleteDialogDeleteButtonText", @Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation))
    @Html.Hidden("DeleteDialogCancelButtonText", @Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation))
</div>