/**************************************************************************************************************************************************
RESET OF ALL STYLES AND GIVE THE NEW
***************************************************************************************************************************************************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}

ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}

/****MIXED VALUES****/
	.hidden	{display:none;}
	.clear{clear:both;}
	.pipe {padding:0 .5em;color:#222;}
	.hr, .hr2 {clear:both;margin:0;height:2px;padding:0;background:transparent url(i/divider.gif) repeat-x top left;}
	.hr2 {clear:both;margin:0;height:1em;padding:0;}
	hr {display:none;}
	.off-left {position:absolute;left:-9999px;width:9999px;}
	.visuallyhidden {position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;border: 0;clip: rect(0);}
	.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {position: static;margin: 0;height: auto;width: auto;overflow: visible;clip: auto;}
	acronym, abbr {font-style:normal;text-decoration:none;cursor: help;}
	acronym[title], abbr[title] {border-bottom:1px dotted #999;}
	#Footer acronym[title], #Footer abbr[title] {border-bottom:1px dotted #655;}

	img, object, embed {border:none;max-width:100%;}
	object, embed {width:100%;min-height:300px;}
	span.amp {font:normal 1.1em Baskerville, Palatino, Constantia, "Book Antiqua", "URW Palladio L", serif;font-style: italic;}
	span.divider {padding:0 .5em;color:#888;background:transparent url(i/tbdivider.png) center center no-repeat;text-indent: -9999px;}
	.textcenter{text-align: center;}
	.textleft{text-align: left;}
	.textright{text-align: right;}

/**** CLEARFIX ****/
	.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
	* html .clearfix{zoom:1;} /* IE6 */
	*:first-child+html .clearfix{zoom:1;} /* IE7 */

/**** LINKS ****/	
	a:hover, a:active {outline: none;}
	a{padding:0;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transition: all 0.2s ease;}
	a:link {text-decoration: none; color:#2e81b6;border-bottom:1px dotted #2e81b6;}
	a:visited {text-decoration: none; color:#2e81b6;border-bottom:1px dotted #6c9dbc;}
	a:hover, a:focus {text-decoration: none; color:#222;background-color:#E8ECE1;border-bottom: 1px solid #888;}
	a:active {text-decoration: none; color:#583CBE;background-color:#E8ECE1;border-bottom: 1px solid #888;}
	a:focus {outline: thin dotted;}
	
	
/**** HEADERS ****/
	h1,h2,h3,h4,h5,h6 {font-weight:normal;color:#333;line-height:1.5em;}
	h1{font-size: 1.5em;}/* 32px / 16px = 1.5em */
	h2{font-size: 1.375em;}/* 22px / 16px = 1.375em */
	h3{font-size: 1.3125em;}/* 21px / 16px = 1.3125em */
	h4{font-size: 1.125em;}/* 18px / 16px = 1.125em */
	h5{font-size: 1.125em;}/* 18px / 16px = 1.125em */
	h6{font-size: 1em;}/* 16px / 16px = 1em.. */
	
/**** TEXT PARAGRAPHS ****/
	p, ul {line-height:1.5625em; margin:0 0 1em 0;}
	small {font-size:85%;}
	
/**** BUTTONS ****/	
	a.button {padding-top: 1em;font-size: .8125em;margin:0 0 2em 0;}
	a.button {font-size: .8125em;font-weight: normal;padding: 5px 12px 6px 12px;color: #666;-webkit-box-shadow: 1px 1px 2px #DBDED3;-moz-box-shadow: 1px 1px 2px #DBDED3;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));background: -moz-linear-gradient(top,#ffffff, #cccccc);border:1px solid #ddd; border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius:3px;}
	a.button:hover {border-color: #6A7A56;background-color: #f5f5f5;color:#333;}




/**************************************************************************************************************************************************
BODY
***************************************************************************************************************************************************/

body {color:#000;background: #f2f7fe;text-rendering: optimizeLegibility;font-family: Helvetica, Arial, sans-serif;}
html.hasFontSmoothing-true body {color:#222;background: #f2f7fe;text-rendering: optimizeLegibility;text-shadow: 0 1px 0 rgba(255, 255, 255, .9);font-family: Helvetica, Arial, sans-serif;}


/**************************************************************************************************************************************************
HEADER
***************************************************************************************************************************************************/

#HeaderWrapper {background:#c9dbeb;}
#Header {position:relative;margin:0 auto;padding:0;max-width:68.75em;}

/****LOGOTYPE****/
	#Logotype {float:left;}
	#Logotype a {width:225px;height:34px;margin:1em 0 0 0;padding:4px 0 0 0;color:#333;text-decoration:none;border:none;display:block;text-indent: -9999px;-webkit-transition:none;-moz-transition:none;-o-transition: none;transition: none;}




/**************************************************************************************************************************************************
CONTENT
***************************************************************************************************************************************************/

#ContentWrapper {border-top:1px solid #fff;}
#Content {margin:0 auto;max-width:68.75em; /*padding:0 2em 2em 2em;*/ margin-top:1em;}
#ContentLeft {float:left;width:74%;padding-top: 0;background-color:#fff; border:1px solid #c3c3c3;margin-bottom:1em;}
#ContentRight {float:right;width:24%;padding-top: 0;}
html.hasFontSmoothing-true #Sidebar {font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif;}

/****CONTENT RIGHT****/

#ContentRight ul li {margin-bottom:0.2em;padding:0.3em 0.3em 0.3em 0.6em;border:1px solid #999;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-image:url(images/bg_menuTop.png);}
#ContentRight ul a {text-decoration:none; color:#000; border:none;}
#ContentRight ul a:hover {text-decoration:none; color:#fff; border:none; background:none;}
#ContentRight ul li:hover {background-image:url(images/bg_menuTopHover.png);}

/****CONTENT LEFT****/

.divforCaption
{
	width:auto;
	background-color:#f2f7fe;
	padding:0.5em 2%;
	border-bottom:1px solid #c3c3c3;
	border-top:1px solid #c3c3c3;	
	border-left:1px solid #f2f7fe;
	border-right:1px solid #f2f7fe;
	margin:0 -1px;
}
.divforButton
{
	width:auto;
	background-color:#f2f7fe;
	padding:0.5em 2%;
	border-top:1px solid #c3c3c3;	
	border-left:1px solid #f2f7fe;
	border-right:1px solid #f2f7fe;
	margin:0 -1px;
}

.divforButton input[type=button]
{
	font-size:inherit;
}

.divforform
{
	padding:2%;
	overflow:auto;
}

.divforform p
{
	margin:0.3em;
}

.divforform input[type=text]
{
	width:20em;
	font-size:inherit;
}

.divforform select
{
	width:20em;
	font-size:inherit;
}

.divforform ul
{
	clear:both;
}

.divforform ul li
{
	display:inline;
	float:left;
	margin-right:0.3em;
}

.divforform ul li:first-child
{
	width:200px;
}

.divforform div
{
	float:left;
	width:200px;
}

.divforform a
{
	font-size:80%;margin-bottom:0.2em;padding:0.3em;border:1px solid #999;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-image:url(images/bg_menuTop.png);color:#000;
}

.divforMultiple
{
	padding:2%;
}
.divforMultiple .divMultipleWidth
{
	float:left;
	width:200px;
}

.divforMultiple p
{
	margin:0.3em;
}

.divforMultiple select
{
	width:20em;
	font-size:inherit;
}

.divforform table
{
	border:1px solid #ccc;
	border-collapse:collapse;
}

.divforform th
{
	border:1px solid #ccc;
	background-image:url(images/bg_menuTop.png);
	padding:3px;
}

.divforform td
{
	border:1px solid #ccc;
	text-align:right;
	background:#fff;
	padding:3px;
	font-weight:normal;
}

/**************************************************************************************************************************************************
FOOTER
***************************************************************************************************************************************************/
/*#FooterWrapper {background: #8ad4e1 url(i/footertile.gif) top left repeat-x; position: relative; padding:1em 2em 2em 2em;}*/
#FooterWrapper {position: relative;padding: 1em 2em 2em 2em;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;background: #EEFF99;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEFF99), to(#66EE33));background: -webkit-linear-gradient(#EEFF99, #66EE33);background: -moz-linear-gradient(#EEFF99, #66EE33);background: -ms-linear-gradient(#EEFF99, #66EE33);background: -o-linear-gradient(#EEFF99, #66EE33);background: linear-gradient(#EEFF99, #66EE33);-pie-background: linear-gradient(#EEFF99, #66EE33);behavior: url(/style/PIE.htc);}
#Footer {color:#ddd;margin:0 auto;max-width: 68.75em;}



/**************************************************************************************************************************************************
@MEDIA SMALLER THAN 930PX
***************************************************************************************************************************************************/
@media screen and (max-width: 930px){

	body {font-size: 92%;}
	
	#SitemapWrapper, #Sitemap, #ToolbarWrapper, #Toolbar {display:none;}
	#Logo {float:left;width:24%;}
	
	#MenuHeader {width:50%;float:left;}
	
	#Searchform {width:25%;margin:1.2em 0 0 0;}
	
	#Searchform input{width:62%;}
	/* nav */
	#MainNav {margin:.7em 0 0 0;}
	#MainNav li a {padding:.5em 0;height:auto;text-align: center;}
	#MainNav li a em {display:none;}
	#MainNav li a strong {display:block;padding:.769em 0 .769em 0;}
	
}
	
/**************************************************************************************************************************************************
@MEDIA SMALLER THAN 600PX - MOBILES
***************************************************************************************************************************************************/	
	
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px){
	
	#SitemapWrapper, #Sitemap, #Searchform, #ToolbarWrapper, #Toolbar, #Breadcrumb , #Sidflikar, #QuickInfoWrapper, #Aktuellt p.ribbon {display:none;}
	
	#HeaderWrapper {background:#c9dbeb;} 
	#ContentWrapper{padding-bottom: 0; margin:0.5em}
	
	#Logo {float:none;text-align:center;width:266px;margin:0 auto;}
	
	#MenuHeader {width:290px;float:none; }
	#MenuHeader ul {text-align:left;float:left}
	#MenuHeader ul li a {border:none;padding-top:0;padding-bottom:0.2em;}
	
	#Searchform {width:266px;float:none;margin:.5em auto;}
	#Searchform input{width:62%;}
	
	
	#ContentLeft, #ContentMiddle, #ContentRight {float:none;width:auto;}
	#ContentRight ul li {text-align:center;}
	
	.divforform input[type=text],.divforButton input[type=button], .divforform select, .divforMultiple select {width:99%;font-size:inherit;}
	.divforform a {display:none;}
	
	.divforform .thtdDisplayNone  {display:none;}
	
	h3.entry-meta-verktyg, h3.entry-meta-dela, h3.entry-meta-bifogade {display: none;}
	ul.entry-meta-blanketter, ul.entry-meta-tools {padding:.4em 0;margin:1em 0;background:transparent url(i/divider.gif) repeat-x 0 3px;}
	ul.entry-meta-blanketter, li.entry-meta-kommentarer, ul.entry-meta-tools {display:none;}
	
	/* comments form */
	.form-logged-in, .form-right, .form-left {float:none;width:97%;}
	.form-right {margin: 0;padding: 0;}
	#respond textarea {height:10em;width:100%;}
	
	/* comments */
	#comments .comment-text, .reply {float:none;width:auto;padding:0;margin-left:0;}
	#comments ul.comment-meta {float:none;background:none;width:auto;clear:both;}
	img.avatar{margin-left:0;}
	#comments ol.children .avatar {margin-left:0;}
	#comments ol.children ol.children .avatar {margin-left:0;}

	
	#Footer #Etikettmoln {width:auto;float: none;margin: 0 0 1em 0;}
	#Footer #AndraFooterWidget, #Footer #TredjeFooterWidget {width:auto; float:none;}

}

/*Just iPhone*/
@media only screen and (max-device-width: 480px){
}/* end mediaquery */

/*iPad styles*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){


	/* adjust icons for Georgia */

	#Toolbar a.admin {padding-left:1.6em;background:url(i/ikoner.png) 0 -498px no-repeat;}
	#Toolbar a.admin:hover {background-position: 0 -548px;}

	#Toolbar a.oversatt {padding-left:1.4em;background:url(i/ikoner.png) 0 -1197px no-repeat;}
	#Toolbar a.oversatt:hover {background-position: 0 -1297px;}
	#Toolbar a.kontakt {padding-left:2em;background:url(i/ikoner.png) 0 -997px no-repeat;}
	#Toolbar a.kontakt:hover {background-position: 0 -1097px;}
	#Toolbar a.rss {padding-left:1.4em;background:url(i/ikoner.png) 0 -797px no-repeat;}
	#Toolbar a.rss:hover {background-position: 0 -897px;}
	#Toolbar a.sitemap {padding-left:1.1538em;background:url(i/ikoner.png) 0 -597px no-repeat;}
	#Toolbar a.sitemap:hover {background-position: 0 -697px;}

	#Breadcrumb {letter-spacing:normal;}
	h4.widget-title {letter-spacing:normal;}
	#Footer .widget-title {font-size:99%;}
	#Footer .widget_tag_cloud h4.widget-title{font-size:99%;}
	
	#Footer .widget-title {background:transparent url(i/ikoner.png) 2px -2293px no-repeat;}
	#Footer .widget_tag_cloud h4.widget-title{background:transparent url(i/ikoner.png) 2px -2193px no-repeat;}
	
}/* end mediaquery */

