@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.ProgramEditModel

<h4>@Translation.Get("Program")</h4>
<table class="tableform">
    <tbody>        
    </tbody>
</table>
