@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.ProgramEditModel

<h4>@Translation.GetCoreTextTranslation("Program")</h4>
<table class="tableform">
    <tbody>
        @Html.EditorFor(m => m.Programs, "Fields/FlagsList", new {Source = Model.AllPrograms})
        @Html.EditorFor(m => m.InfoProduct, "Fields/WideText")
    </tbody>
</table>
