@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.ProgramEditModel

<h4>@Translation.Get("Program")</h4>
<table class="tableform">
    <tbody>
    @if (Model.Program.Show)
    {
        foreach (var program in Model.Program.Value.Programs)
         {
             <tr>
                 <td>
                     @program.Name
                 </td>
             </tr>
         }
    }
    @*@Html.EditorFor(m => m.Programs, "Fields/MultiSelectList", new { Source = Model.AllPrograms })*@
    @Html.EditorFor(m => m.InfoProduct, "Fields/WideText")
    </tbody>
</table>
