@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.SupplierEditModel

<h4>@Model.Header</h4>
<table class="tableform">
    <tbody>
        @Html.EditorFor(m => m.SupplierOrderNumber, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "20" } } })              
        @Html.EditorFor(m => m.SupplierOrderDate, "Fields/Date", new { id = "supplierorderdate_datepicker" })              
        @Html.EditorFor(m => m.SupplierOrderInfo, "Fields/Text", new { inputAttributes = new Dictionary<string, object> { { "maxlength", "200" } } })             
    </tbody>
</table>
