@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.SupplierEditModel

<h4>@Translation.Get("Orderinformation")</h4>
<table class="tableform">
    <tbody>
        @Html.EditorFor(m => m.SupplierOrderNumber, "Fields/Text")              
        @Html.EditorFor(m => m.SupplierOrderDate, "Fields/Date", new { id = "supplierorderdate_datepicker" })              
        @Html.EditorFor(m => m.SupplierOrderInfo, "Fields/Text")              
    </tbody>
</table>
