@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Printer.CommunicationFieldsModel
@if (Model.NetworkAdapterName.Show
        || Model.IPAddress.Show
        || Model.MacAddress.Show)
{
    <h4>@Translation.GetCoreTextTranslation("Kommunikation")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.NetworkAdapterName, "Fields/Text")
                @Html.EditorFor(m => m.IPAddress, "Fields/Text")
                @Html.EditorFor(m => m.MacAddress, "Fields/Text")
            </table>
        </div>
    </div>
}
