
@using DH.Helpdesk.Web

<div id="case_attach_ex_file_popup" role="dialog" class="modal fade" aria-labelledby="myModalLabelCase" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5>@Translation.GetCoreTextTranslation("Bifogade filer")</h5>
            </div>
            <div class="modal-body max-height-600">
                <div id="attachedFiles">
                    @*Populated by ajax from server*@
                </div>
            </div>
            <div class="modal-footer-right">
                <button type="button" id="btnAttach" class="btn btn-ok btn-default" data-dismiss="modal">@Translation.GetCoreTextTranslation("Bifoga")</button>
                <button type="button" id="btnCancel" class="btn btn-cancel btn-default" data-dismiss="modal">@Translation.GetCoreTextTranslation("Avbryt")</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render(BundleConfig.ScriptNames.CaseAttachExistingFiles)