/* mbsc-page {
    ::ng-deep .stickyTop {
        position: fixed;
        top: 0;
        z-index: 1071;
    }

    ::ng-deep .fakeHeader {
        height: 72px;
    }
} */

.content {
    padding-top: 72px;
}