 
  <div class="container">

      <div class="row">
        <div>
          <div class="col-12 col-xs-12">                            
            <div class="float-right">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">                  
                    <label *ngFor="let lang of Languages" class="btn btn-secondary">
                        <input type="radio" name="lang_{{lang}}" autocomplete="off" 
                            (change)="switchLanguage(lang)" 
                            [checked]="lang == CurrentLanguage" [value]="lang"> {{ getDisplayName(lang) }}
                    </label>
                </div>
            </div>              
          </div>          
        </div>
      </div>  

    <div class="jumbotron text-center">
            <h1 translate>Applikation</h1>
            <p>{{'Välkomsttext' | translate: getCurrentUser() }}</p>
    </div>

    <div class="row">
      <div class="col-4 col-sm-4">
          <ul class="list-unstyled">
            <li>Test: {{testString}}</li>
            <li>Test2: {{testString2}}</li>
          </ul>
          <button (click)="test()">Test</button>
      </div>
    
    </div>

    <router-outlet></router-outlet>
  </div>




