@model DH.Helpdesk.Web.Models.Profile.UserCustomersSettingsViewModel

@if (Model != null && Model.CustomersSettings.Any())
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 1%;"></th>
                <th>@Translation.Get("Kund")</th>
            </tr>
        </thead>        
        <tbody>    
            @Html.EditorFor(m => m.CustomersSettings)
        </tbody>
    </table>            
}
