@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Helpdesk start page";
}

<div id="mainContainer" class="content nonemenu">
    <div class="container">
        <div class="row-fluid">                        
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-1">
                        <div class="container">
                            <span class="toolt" data-toggle="tooltip"></span>
                            <div class="column">                                
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("CustomersInfo", Model.CustomersInfo);
                                    }                                                                        
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("ProblemsInfo", Model.ProblemOverviews);
                                    }                                                                        
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("StatisticsInfo", Model.StatisticsOverviews);
                                    }                                                                                                        
                                </div>                                        
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-3">
                        <div class="container">
                            <div class="column">
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("BulletinBoardInfo", Model.BulletinBoardOverviews);
                                    }                                                                                                    
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("CalendarsInfo", Model.CalendarOverviews);
                                    }                                                                        
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("FaqInfo", Model.FaqOverviews);
                                    }                                                                        
                                </div>                                        
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="tab-content">
                    <div class="tab-pane tab-pane-border active" id="fragment-4">
                        <div class="container">
                            <div class="column">
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("OperationLogsInfo", Model.OperationLogOverviews);
                                    }                                                                                                                                
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("DailyReportsInfo", Model.DailyReportOverviews);
                                    }                                                                                                                                
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("LinksInfo", Model.LinksInfo);
                                    }                                                                                                                                
                                </div>                                        
                                <div class="portlet">
                                    @{
                                        Html.RenderPartial("DocumentsInfo", Model.DocumentOverviews);
                                    }                                                                                            
                                </div>                                        
                            </div>                                                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
        <form>
            <div id="uploader">
                <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.Get("Stäng", Enums.TranslationSource.TextTranslation)</button>
    </div>
</div>

<div class="startpage-brand" style="display: none;">
                
</div>

<script type="text/javascript">

    function UpdateLogo() {
        var columns = $(".span4");
        $("#mainContainer").find(".startpage-brand").remove();
        var logo = $(".startpage-brand").clone();
        for (var i = 0; i < columns.length; i++) {
            var column = $(columns[i]);
            var columnLogo = column.find(".startpage-brand");
            if (column.find(".portlet-content").length == 0) {
                if (columnLogo.length == 0) {
                    column.find(".tab-content").append(logo);
                    logo.show();
                    break;
                }
            }
        }
    }

    $(function () {
        $(".column").sortable({
            connectWith: ".column",
            handle: ".portlet-header",
            cancel: ".portlet-toggle",
            placeholder: "portlet-placeholder",
            revert: true,
            beforeStop: function (event, ui) {
                UpdateLogo();
            }
        });

        UpdateLogo();
    });
</script>