@model DH.Helpdesk.Web.Models.Inventory.EditModel.Shared.ProccesorFieldsViewModel
<table class="tableform">
    @if (Model.ProccesorFieldsModel.ProccesorId.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Processor")</th>
        </tr>
    }
    @Html.EditorFor(m => m.ProccesorFieldsModel.ProccesorId, "NotReadonlyFields/List", new { Source = Model.Proccessors })
</table>

