@model DH.Helpdesk.Web.Models.Inventory.EditModel.Inventory.ConfigurableFieldModel<DateTime?>
@if (!Model.Show)
{
    return;
}

<tr>
    <td class="span3">
        @Translation.Get(Model.Caption)
    </td>
    <td class="span9">
        @Html.EditorFor(m => m.Value, "DatePicker", new { id = ViewData["Id"] })
        @Html.ValidationMessageFor(m => m.Value)
    </td>
</tr>
