<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>    
    <!--<add name="DSN" connectionString="Password=dba_chs123;Persist Security Info=True;User ID=dba_chs;Initial Catalog=DHBSCHR;Data Source=PTPSEELM-NT2010.ikeadt.com" />-->
<!--    <add name="DSN" connectionString="Password=chsbschradmin;Persist Security Info=True;User ID=dba_chsbschr;Initial Catalog=DHBSCHR;Data Source=ITSEELM-NT2017.ikea.com"/>-->
      <!--<add name="DSN" connectionString="Password=chsbschradmin;Persist Security Info=True;User ID=dba_chsbschr;Initial Catalog=DHBSCHR;Data Source=ITSEELM-NT2017.ikea.com" />-->
  <!--<add name="DSN" connectionString="Password=chs456;Persist Security Info=True;User ID=dba_chs;Initial Catalog=ITSQL0099;Data Source=ITSEELM-NT2014.ikea.com" />-->
    <add name="DSN" connectionString="Password=kgk270;Persist Security Info=True;User ID=web_user;Initial Catalog=dhHelpdesk_IKEA_BSCHR;Data Source=DHUTVSQL2;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="LocationPath" value="C:\temp\sg\" />
    <add key="FileExtension" value=".csv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> 
  </appSettings>  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>