<mbsc-form class="mbsc-padding">


  <mbsc-listview [options]="listviewSettings">
    <mbsc-listview-item *ngFor="let conti of data">
        {{conti.name}}
        <mbsc-listview-sublist>
            <mbsc-listview-item *ngFor="let country of conti.children">
                <img [src]="country.imgsrc" /> {{country.name}}
            </mbsc-listview-item>
        </mbsc-listview-sublist>
    </mbsc-listview-item>
  </mbsc-listview>

  <mbsc-button color="primary" (click)="onLogout()">Logout</mbsc-button>
</mbsc-form>