

<mbsc-form class="mbsc-padding">
   <mbsc-form-group>
      <mbsc-form-group-content>

        <mbsc-switch #sendEmailsCheck>
            Send emails to notifiers
            <span class="mbsc-desc">Set notifiers input state</span>
        </mbsc-switch>

        <mbsc-input id="notifierInput" #notifierInput
            [disabled]="isSendEmailsChecked"
            [ngClass]="{'disabled': true}"
            input-style="outline"
            placeholder="Enter user name">Some value</mbsc-input>
            
        <mbsc-select
                     [data]="items" 
                     #notifiersSelect="mobiscroll"></mbsc-select>




      </mbsc-form-group-content>
  </mbsc-form-group>
</mbsc-form>  
<!-- 


  <mbsc-form-group>
      <label>separator</label>
  </mbsc-form-group>
  <mbsc-form-group>
      <mbsc-form-group-content>
          <input id="notifierInput2" type="text" style="border:solid 1px red" />
          <input mbsc-select [mbsc-options]="options3" [mbsc-data]="items"  />
          
      </mbsc-form-group-content>
  </mbsc-form-group>

  <mbsc-form-group>
    <mbsc-button color="primary" (click)="select.instance.show()">Test</mbsc-button> 
  </mbsc-form-group>
  <mbsc-listview [options]="listviewSettings">
    <mbsc-listview-item *ngFor="let conti of data">
        {{conti.name}}
        <mbsc-listview-sublist>
            <mbsc-listview-item *ngFor="let country of conti.children">
                <img [src]="country.imgsrc" /> {{country.name}}
            </mbsc-listview-item>
        </mbsc-listview-sublist>
    </mbsc-listview-item>
  </mbsc-listview>
  -->