<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="HelpdeskDB" value="Data Source=dhutvsql6; Initial Catalog=Helpdesk-Test; User Id=helpdesk-test; Password=helpdesk-dev"/>
    <add key="UpKeeperUrl" value="https://api.upkeeper.se"/>
    <add key="UserName" value="fredrik.landh@dhsolutions.se"/>
    <add key="Password" value="9U.kVbX?)V"/>
    <add key="Customer_Id" value="749"/>
    <add key="CreateInventory" value="false"/>
    <add key="UpdateInventory" value="true"/>
    <add key="UpdateUpKeeper" value="true"/>
    <add key="UpKeeperOrgNo" value="68"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
	<!--Ljungby
	<appSettings>
		<add key="HelpdeskDB" value="Data Source=Intranetsql01.intranet.kommun.ljungby.se; Initial Catalog=DH_Helpdesk; User Id=DH_Helpdesk; Password=se17nt"/>
		<add key="UpKeeperUrl" value="https://upkeeperapi.ljungby.se"/>
		<add key="UserName" value="DHHelpdesk"/>
		<add key="Password" value="DHupKeeper"/>
		<add key="Customer_Id" value="1"/>
		<add key="CreateInventory" value="false"/>
		<add key="UpdateInventory" value="true"/>
		<add key="UpdateUpKeeper" value="true"/>
		<add key="UpKeeperOrgNo" value="1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
