{
  "HelpdeskDB": "Data Source=#{DatabaseServer};Initial Catalog=#{DatabaseName};User Id=#{DatabaseUser};Password=#{DatabasePassword}",
  "UpKeeperUrl": "#{ApiUrl}",
  "UserName": "#{UpKeeperUserName}",
  "Password": "#{UpKeeperPassword}",
  "Customer_Id": "#{UpKeeperCustID}",
  "CreateInventory": "true",
  "UpdateInventory": "true",
  "UpdateUpKeeper": "false",
  "UpKeeperOrgNo": "#{UpKeeperOrgNo}"
}