@using DH.Helpdesk.Web.Areas.Licenses.Models.Common
@using DH.Helpdesk.Web.Infrastructure
@model BaseEditModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderSection("Scripts", false)
<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#mainTab">@GetTitle()</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="mainTab">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            @RenderSection("Content", false)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions
{

    private MvcHtmlString GetTitle()
    {
        string result = null;
        switch (Model.Type)
        {
            case EntityModelType.Applications:
                result = Translation.Get("Applikation");
                break;
            case EntityModelType.Licenses:
                result = Translation.Get("Licens");
                break;
            case EntityModelType.Manufacturers:
                result = Translation.Get("Tillverkare");
                break;
            case EntityModelType.Products:
                result = Translation.Get("Produkt");
                break;
            case EntityModelType.Vendors:
                result = Translation.Get("Försäljare");
                break;
        }
        return MvcHtmlString.Create(result);
    }
}
