@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.ComputerModuleGridModel
@{
    Layout = "~/Areas/Inventory/Views/Shared/_IndexMasterDataLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        <li>
            @Html.ActionLink(Translation.Get("Lägg till Operativsystem"), "New", "OperatingSystem", new { @class = "btn" })
        </li>
    </ul>
}