*.orig
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
dhHelpdeskNG/dhHelpdesk_NG.Web/Web.config
dhHelpdeskNG/dhHelpdesk_NG.Web/App_Data/Uploaded Files/Reports/
