*.orig
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.DotSettings
[Tt]est[Rr]esult*
dhHelpdeskNG/dhHelpdesk_NG.Web/App_Data/Uploaded Files/Reports/
dhHelpdeskNG/dhHelpdesk_NG.Web/log4net.config
dhHelpdeskNG/packages/*
dhHelpdeskNG/.vs/config/applicationhost.config

dhHelpdeskNG/dhHelpdesk_NG.Web/Logs/
dhHelpdeskNG/dhHelpdesk_NG.Web/ExtendedCaseApi/**
dhHelpdeskNG/dhHelpdesk_NG.Web/ExtendedCase/**
dhHelpdeskNG/dhHelpdesk_NG.Web_SelfService/ExtendedCase/**
dhHelpdeskNG/dhHelpdesk_NG.Web_SelfService/ExtendedCaseApi/**
dhHelpdeskNG/dhHelpdesk_NG.Web_SelfService/Logs/
dhHelpdeskNG/DH.Helpdesk.WebApi/Logs
dhHelpdeskNG/.vs/
dhHelpdeskMobile/.vs/
**/node_modules/*
**/wwwroot/*
**/wwwroot-test/*
**/*.d.ts
*.npmrc
/ExtendedCase/ExtendedCase.Database/ExtendedCase.Database.dbmdl
/ExtendedCase/ExtendedCase.Database/ExtendedCase.Database.dbmdl
/dhHelpdeskNG/UpgradeLog2.htm
/dhHelpdeskNG/DH.Helpdesk.WebApi/Properties/PublishProfiles/FolderProfile1.pubxml
# Ignore all .vs folders (recommended for Visual Studio)

# Database backup files (too large for GitHub)
*.bak
Database/DBBackups/*.bak
Database/*.bak
