@{
    ViewBag.Title = "New";
}
<div id="tabContainer">
    <ul class="tabmenu">
        <li id="tab1" class="active">Problem</li>
        <li id="tab2">Logg</li>
        <li id="tab3">Ärenden</li>
    </ul>
    <span class="clear"></span>
    <div class="tabcontent tab1">
        <div class="foldDownContainer">
            <div class="foldDownHeader">
                Allmänt
            </div>
            <div class="foldDownContent">
                <table>
                    <tr>
                        <td>
                            Rubrik:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Beskrivning:
                        </td>
                        <td>
                            <textarea></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ansvarig:
                        </td>
                        <td>
                            <select>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Inventarie:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tabcontent tab2">
        <div class="foldDownContainer">
            <div class="foldDownHeader">
                Loggpost
            </div>
            <div class="foldDownContent">
                <table>
                    <tr>
                        <td>
                            Loggtext:
                        </td>
                        <td>
                            <textarea></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Visa i ärendelogg som:
                        </td>
                        <td>
                            <input type="checkbox" />Intern notering
                            <input type="checkbox" />Extern notering
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Avslutsorsak:
                        </td>
                        <td>
                            <select>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kopplade ärenden:
                        </td>
                        <td>
                            <input type="checkbox" />Avsluta kopplade ärenden
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Avslutsdatum:
                        </td>
                        <td>
                            <input type="text" class="datePicker" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    $('#tblCases').fixheadertable({            
            height: null,
            width: null,
            minWidth: null,
            minWidthAuto: true,
            zebra: true,
            sortable: true,
            sortedColId: 0,
            resizeCol: true,
            minColWidth    : 100,
            pager: true,
            rowsPerPage: 10,
            wrapper: false,

        });

    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.foldDownContainer .foldDownHeader').click(function () {
            $(this).next().slideToggle('slow');
            return false;
        }).next().show();
    });
    
</script>
<script type="text/javascript">

    $(document).ready(function () {
        // Attach DatePicker
        $.datepicker.regional['sv'];
        $(".datePicker").datepicker({
            changeYear: true,
            showOn: 'both',
            buttonImage: '../../Content/icons/calendar.png',
            buttonImageOnly: true
        });
        $(".datePicker").datepicker("option", "buttonText", 'yyyy-mm-dd');
        $('img.ui-datepicker-trigger').css({ 'cursor': 'pointer', "vertical-align": 'top', "margin": '3px 0 0 -18px;' });
    });

    $(function () {
        var validator = $("#target").validate({
            rules: {
                "Problem.Name": {
                    required: true
                },
                "Problem.InventoryNumber": {
                    required: true
                }          
            },
            messages: {
                "Problem.Name": {
                    required: "@Translation.Get("Du måste ange ett problem", Enums.TranslationSource.TextTranslation)"
                },
                "Problem.InventoryNumber": {
                    required: "@Translation.Get("Du måste ange ett inventeringsnummer", Enums.TranslationSource.TextTranslation)"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    }); 

</script>
