
@model DH.Helpdesk.Web.Models.Changes.SettingsEdit.SettingsModel
           
<script type="text/javascript" src="@Url.Content("~/Content/js/Changes/settings.js")"></script>

<script type="text/javascript">
    $(function () {
        var parameters = {
            saveSettingsUrl: '@Url.Action("Settings")',
            settingsSavedSuccessfullyMessage: '@Translation.Get("Settings saved successfully.")'
        };

        applySettingsBehavior(parameters);
    });
</script>

<div id="settings_container">
    @using (Ajax.BeginForm("Settings", "Changes", new AjaxOptions { UpdateTargetId = "changes_container", OnSuccess = "onSettingsSavedSuccessfully" }, new { id = "settings_form" }))
    {
        @Html.EditorFor(m => m, "Settings/SettingsModel")
    }
</div>