@model List<DH.Helpdesk.Web.Areas.OrderAccounts.Models.Order.GridModel>
@{
    foreach (var model in Model)
    {
        <div>
            <strong>@Html.DisplayFor(x => model.CurrentModeName)</strong>
        </div>
        @Html.Partial("Grid", model)
    }
}
