<ng-container>
    <mbsc-card *ngFor="let cf of filters; trackBy: trackByFiltersFn">
      <mbsc-card-header>
        <mbsc-card-title>{{ cf.customerName }}</mbsc-card-title>
      </mbsc-card-header>
      <mbsc-card-content>
        <mbsc-listview [options]="options" (onItemTap)="onItemTap($event, cf.customerId)">
          <mbsc-listview-item *ngFor="let ff of customerFilters(cf.customerId); trackBy: trackByFn">
              <span class="status-title" translate>{{ ff.name }}</span>
              <span class="val" *ngIf="!(ff.isLoading$ | async); else loading;">{{ ff.count }}</span>
          </mbsc-listview-item>
      </mbsc-listview>
      </mbsc-card-content>
    </mbsc-card>
  </ng-container>
  <ng-template #loading><span class="val"><i class="mbsc-ic spinner-sm"></i></span></ng-template>