<ng-container>
    <mbsc-card>
      <mbsc-card-header>
        <mbsc-card-title>{{ (customer$ | async)?.name }}</mbsc-card-title>
      </mbsc-card-header>
      <mbsc-card-content>
        <mbsc-listview [options]="options" (onItemTap)="onItemTap($event)">
          <mbsc-listview-item *ngFor="let ff of userFilters; trackBy: trackByFn">
              <span class="status-title" translate>{{ ff.name }}</span>
              <span class="val" *ngIf="!(ff.isLoading$ | async); else loading;">{{ ff.count }}</span>
          </mbsc-listview-item>
      </mbsc-listview>
      </mbsc-card-content>
    </mbsc-card>
  </ng-container>
  <ng-template #loading><span class="val"><i class="mbsc-ic spinner-sm"></i></span></ng-template>