<ng-container [formGroup]="form">
    <mbsc-input #input [formControlName]="field.name" [error]="getErrorState()" [errorMessage]="getErrorMessage()">{{ field.label }}{{ requiredSymbol }}</mbsc-input> 
<!--
    <label>
        {{field.Label}}
        <input [formControlName]="field.Name" [readonly]="isReadonly ? '' : null" />
    </label>     
    <label class="mbsc-err">
        <input type="text" placeholder="Text field with error style and message"  />
        <span class="mbsc-err-msg">Error message!</span>
    </label> -->
</ng-container>