<ng-container [formGroup]="form">
    <mbsc-input #input [formControlName]="field" 
        [error]="getErrorState()"
        [errorMessage]="getErrorMessage()" 
        [ngClass]="{ 'disabled': formControl.disabled }">{{ formControl.label }}{{ requiredSymbol }}</mbsc-input> 
<!--
    <label>
        {{fieldLabel}}
        <input [formControlName]="field" [readonly]="isReadonly ? '' : null" />
    </label>     
    <label class="mbsc-err">
        <input type="text" placeholder="Text field with error style and message"  />
        <span class="mbsc-err-msg">Error message!</span>
    </label> -->
</ng-container>