@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

 @if (Model.StaticFiles!=null && Model.StaticFiles.Count > 0)
{ 
    foreach (ECT.Model.Entities.StaticFile file in Model.StaticFiles){
        <tr>
            <td>@file.Name</td>
            <td>@file.Extension.Substring(1)</td>
            <td>&nbsp;</td>
            <td>
                <a href="@Url.Content(file.URL)" class="btn pull-right" target="_blank"><i class="icon-file"></i>&nbsp;@Model.Translate("Show")</a>
            </td>
        </tr>
    }
}
