
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.ConfigurableFieldModel<string>
           
@if (!Model.Show)
{
    return;
}
<span class="span3">
    @Translation.Get(Model.Caption)    
</span>
@Html.TextBoxFor(m => m.Value)
@Html.HiddenFor(m => m.IsRequired)