@model List<DH.Helpdesk.BusinessData.Models.Shared.ItemOverview>
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Typ")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer" onclick="window.location.href = '@Url.Action("RedirectToEditInventorySetttings", "InventorySettings", new { currentMode = item.Value })'">
                <td>@Html.DisplayFor(x => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
