@model DH.Helpdesk.Web.Models.Inventory.SearchModels.ServerSearchFilter
<table class="tableform">
    @using (Ajax.BeginForm("ServersGrid", "Inventory", null, new AjaxOptions { UpdateTargetId = "grid_container" }))
    {
        <tr>
            <td class="span3">
                @Html.LabelFor(m => m.SearchFor)
            </td>
            <td>
                @Html.TextBoxFor(m => m.SearchFor)
            </td>
        </tr>
        <tr>
            <td class="span3">&nbsp;
            </td>
            <td>
                <input type="submit" value="@Translation.Get("Sök", Enums.TranslationSource.TextTranslation)" class="btn" />
            </td>
        </tr>
    }
</table>
<div id="grid_container">
    @Html.Action("ServersGrid", "Inventory", new { area = string.Empty, filter = Model })
</div>
