@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.UserIndexViewModel

@using (Html.BeginForm("index", "users", FormMethod.Post, new { id = "searchOnlineUsers" }))
{        
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="tableform" id="tblLoggedOnUsers">
                    <tr>
                        <td class="span3">
                            @Translation.Get("Standardkund", Enums.TranslationSource.TextTranslation)
                        </td>
                        <td class="span4">
                            @Html.DropDownListFor(model => model.OnlineUsersTabSelectedCustomerId, Model.CsSelected, "", new { id = "customerChange" })
                        </td>
                         <td class="span5"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="loggedInUsersPartial">
         @Html.Partial("index/_OnlineUserList", Model.ListLoggedInUsers)
    </div> 
}