<div>
    <div class="md-hamb mbsc-padding">
        <mbsc-hamburger-nav [options]="hamburgerSettings">
<!--             <mbsc-nav-item data-icon="newspaper" (click)="sendTestRequest()">Send test request</mbsc-nav-item>
            <mbsc-nav-item data-icon="bubble">Messages</mbsc-nav-item>
            <mbsc-nav-item data-icon="fa-globe">Notifications</mbsc-nav-item>
            <mbsc-nav-item data-icon="line-settings">Profile</mbsc-nav-item>
 -->            <mbsc-nav-item data-icon="ion-ios7-close-outline"><a [routerLink]="['/login']">Logout</a></mbsc-nav-item>
        </mbsc-hamburger-nav>
    </div>
    <div class="md-hamb">
        Datahalland
    </div>
</div>