@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Licenses.Models.Licenses.LicensesIndexModel
@{
    Layout = "~/Areas/Licenses/Views/Shared/_IndexLayout.cshtml";
}

@section Actions {
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Ny licens"), "License", "Licenses", new { @class = "btn" })
        </li>
    </ul>
}

@using (Ajax.BeginForm("Licenses", "Licenses", null, 
    new AjaxOptions { UpdateTargetId = "LicensesLicensesTableContainer" },
    new { id ="LicensesSearchForm" } ))
{
    
}
<div id="LicensesLicensesTableContainer">
    @Html.Action("Licenses", "Licenses")
</div>