<div class="rule-conditions-container">
    <h4>Conditions </h4>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#
                </th>
                <th>Field
                </th>
                <th>From value
                </th>
                <th>To value
                </th>
                <th>Valid for Inactive items 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class='rule-condition-rows'>
            {{for Conditions tmpl="ruleCondition" /}}                                                                       
        </tbody>
    </table>
</div>
