<div class="rule-conditions-container">
    <h4>Conditions </h4>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:2%">
                    #
                </th>
                <th style="width:10%">
                    Field
                </th>
                <th style="width:20%">
                    From value
                </th>
                <th style="width:20%">
                    To value
                </th>
                <th style="width:8%;">
                    Apply on inactive items 
                </th>
                <th style="width:2%">

                </th>
            </tr>
        </thead>
        <tbody class='rule-condition-rows'>            
        </tbody>
    </table>
</div>
