<tr data-id="id">
    <td>
        {{:Id}}
    </td>
    <td>
        <select class="chosen-single-select dropDownField">
            <option value="1001">Process
            </option>
            <option value="1002">SubStatus
            </option>
        </select>
    </td>
    <td>
        <select class="chosen-select dropDownFieldData" multiple="multiple">
            <option>[Any]
            </option>
            <option>[Null]
            </option>
            <option>Item1
            </option>
            <option>Item2
            </option>
            <option>Item3
            </option>
        </select>
    </td>
    <td>
        <select class="chosen-select dropDownFieldData" multiple="multiple">
            <option>[Any]
            </option>
            <option>[Null]
            </option>
            <option>Item1
            </option>
            <option>Item2
            </option>
            <option>Item3 Item3Item3Item3Item3Item3Item3Item3Item3Item3
            </option>
        </select>
    </td>   
    <td >
        <input type="checkbox" class="switchcheckbox" />
    </td> 
    <td>
        <a href="#" onclick="alert('Delete')"><i class="icon-minus-sign"></i></a>
    </td>
    
</tr>


