<tr data-id="id">
    <td>1
    </td>
    <td>
        <select class="chosen-single-select">
            <option>Process
            </option>
            <option>SubStatus
            </option>
        </select>
    </td>
    <td>
        <select class="multiselect multiselect-search" multiple="multiple">
            <option>[Any]
            </option>
            <option>[Null]
            </option>
            <option>Item1
            </option>
            <option>Item2
            </option>
            <option>Item3
            </option>
        </select>
    </td>
    <td>
        <select class="multiselect multiselect-search" multiple="multiple">
            <option>[Any]
            </option>
            <option>[Null]
            </option>
            <option>Item1
            </option>
            <option>Item2
            </option>
            <option>Item3 Item3Item3Item3Item3Item3Item3Item3Item3Item3
            </option>
        </select>
    </td>
    <td>
        <input type="checkbox" />
    </td>
    <td>
        <a href="#" onclick="alert('Delete')"><i class="icon-minus-sign"></i></a>
    </td>
</tr>


