<table>
    <tr>
        <td class="span2">RuleName 
        </td>
        <td>
            <input type="text" value="{{:Name}}">
            <input type="button" id="setValue" value="Set" />
        </td>
    </tr>
    <tr>
        <td class="span2">Event 
        </td>
        <td>
            <select>
                <option></option>
                <option>On Save Case</option>
                <option>On Open Case</option>
                <option>On Delete Case</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="span2">Sequence                            
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td class="span2">Continue On Success 
        </td>
        <td>
            <input type="checkbox" />
        </td>
    </tr>
    <tr>
        <td class="span2">Continue On Error
        </td>
        <td>
            <input type="checkbox" />
        </td>
    </tr>

    <tr>
        <td class="span2">Active                            
        </td>
        <td>
            <input type="checkbox" checked="checked" />
        </td>
    </tr>
</table>
