@using DH.Helpdesk.SelfService.Models.FAQ
@using System.Text
@model FAQIndexViewModel

@{
    ViewBag.Title = "FAQ";
}

<div class="container-fluid dh-container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                @Translation.Get("FAQ", Enums.TranslationSource.TextTranslation)
            </a>
        </li>
    </ul>

    <div class="content">
        <div class="tab-pane active" id="home">
            <div class="container-fluid dh-container">
                <div class="row">                    
                    <div class="col-md-4">
                        <table border="1">
                            <tr>
                                <td>
                                    @Model.FAQCategories.ConvertToHtml()
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <table border="1" >
                            <tr>
                                <td>
                                    test2
                                </td>
                            </tr>
                        </table>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".expand").click(function () {
        $(this).toggle();
        $(this).next().toggle();
        $(this).parent().parent().children().last().toggle();
    });

    $(".collapse").click(function () {
        $(this).toggle();
        $(this).prev().toggle();
        $(this).parent().parent().children().last().toggle();
    });

    $("input[type='checkbox']").click(function () {
        if ($(this).attr("checked") == false) {
            $(this).parent().parent().find("input[type='checkbox']").each(function () {
                $(this).removeAttr("checked");
            });
        }
        else {
            $(this).parent().parent().find("input[type='checkbox']").each(function () {
                $(this).attr("checked", "checked");
            });
        }
    });
</script>
