
@model DH.Helpdesk.Web.Models.Changes.ChangeEdit.ConfigurableFieldModel<DateTime?>
           
@if (!Model.Show)
{
    return;
}           

<tr>
    <td class="span3">
        @Translation.Get(Model.Caption)
    </td>
    <td class="span9">
        @Html.EditorFor(m => m.Value, "TimePicker", new { id = ViewData["Id"], inputAttributes = new Dictionary<string, object> { { "data-dh-is-required", Model.IsRequired } } })
        @Html.HiddenFor(m => m.IsRequired)
        @Html.ValidationMessageFor(m => m.Value)
    </td>
</tr>