@*<div class="row-fluid">
    <ul class="inline alignrighttop marginbuttontop">
        @if(Model.Form != null)
        {
            <li id="TempFixFormName" class="pull-left">@Model.Translate(Model.Form.FormName)</li>
        }
        <li>@ECT.FormLib.FormLibSessions.User.FullName</li>
    </ul>

</div>*@
