<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HelpdeskSqlServerDbContext"
         connectionString="Data Source=db_server;Initial Catalog=dh_helpdesk_db;User Id=helpdesk_user;Password=helpdesk_password;MultipleActiveResultSets=True;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>


  <appSettings >
    <add key="log4net.Internal.Debug" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="dh_filesDirectory" value="documents_path" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="dh_selfserviceaddress" value="selfservice_url"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultCulture" value="sv" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>