<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HelpdeskSqlServerDbContext"
         connectionString="Data Source=#{DatabaseServer};Initial Catalog=#{DatabaseName};User Id=#{DatabaseUser};Password=#{DatabasePassword};MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings
    xdt:Transform="Replace">
    <add key="log4net.Internal.Debug" value="false" />
    <add key="dh_filesDirectory" value="#{FilesDirectory}" />
    <add key="DefaultCulture" value="sv" />
    <add key="SmtpServer" value="smtp.datahalland.se" />
    <add key="SmtpPort" value="25" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>