<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->  
  <connectionStrings>
    <add name="HelpdeskSqlServerDbContext" 
         connectionString="Data Source=dhutvsql2;Initial Catalog=DH_Support;User Id=sa;Password=;MultipleActiveResultSets=True;" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)"/>
  </connectionStrings>


  <appSettings >
    <add key="log4net.Internal.Debug" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="dh_filesDirectory" value="C:\DHHelpdeskUTV_Documents" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="dh_selfserviceaddress" value="dhHelpdeskUTV/Selfservice/case/Index/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultCulture" value="sv" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServer" value="smtp.datahalland.se" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>