@using DH.Helpdesk.SelfService.Models.Message
@model MessageDialogModel

@if (Model != null)
{
    ViewBag.Title = "";

    var _iconPath = "";
    var _dialogStyle = "";

    switch (Model.MsgType)
    {
        case MessageTypes.success:
            _iconPath = Url.Content("~/Content/img/success.png");
            _dialogStyle = "alert-success";
            break;

        case MessageTypes.info:
            _iconPath = Url.Content("~/Content/img/notice.png");
            _dialogStyle = "alert-info";
            break;

        case MessageTypes.warning:
            _iconPath = Url.Content("~/Content/img/warning.png");
            _dialogStyle = "alert-warning";
            break;

        case MessageTypes.error:
            _iconPath = Url.Content("~/Content/img/error.png");
            _dialogStyle = "alert-danger";
            break;
    }

    <div class="container dh-container">
        <div class="row">
            <div class="messageContainer">
                <div class="messageDialog alert @_dialogStyle">
                    <div class="msgBody">
                        <img alt="" src="@_iconPath" class="messageIcon"/>
                        <br/>
                        <br/>
                        @if (!string.IsNullOrEmpty(Model.Title))
                        {
                            <p style="font-size: large"> @Model.Title </p>
                        }
                        @if (!string.IsNullOrEmpty(Model.Details))
                        {
                            <p style="font-size: medium; word-wrap: break-word;"> @Model.Details </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Footer {
    @* This will hide footer section *@
}

