@model DH.Helpdesk.NewSelfService.Models.Error.ErrorModel
@{
    ViewBag.Title = "Index";
}

<h4 style="color:blue"> ErrorCode: @Model.ErrorCode </h4>

<h4 style="color:red"> @Model.ErrorMessage </h4>
 
