@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@{
    Layout = null;
}
@{ if (Request.QueryString["debug"] == "1")
               {
        <div style="width: 100%;">
        <div style="text-align: right; font-size: 10pt;">
            <font face="IDAutomationHC39M">*123456789*</font>
        </div>
    </div>
    <br />
       
                    <text> Url.Content: </text>  @Url.Content("~/FormLibContent/assets/css/documents.css")<br />
                    <text> Url.Absolute: </text>  @Url.Absolute("~/FormLibContent/assets/css/documents.css")<br />
                    <text> model.Contract.BaseUrl:</text> @Model.Contract.BaseUrl
               }}