<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DSN" connectionString="Data Source=dhutvsql1;Initial Catalog=dh_support;Persist Security Info=True;Integrated security=SSPI;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>
