@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;


@functions{
    public string GetContract()
    {

        //IF <Employment Category/OA12> = Permanent AND <Business Unit/OA3> different than U.K & IE Contact Centre or Distribution Services Ltd or Distribution Service Office
        
        if (Model.GetAnswer("EmploymentCategory").ToLower() == "Permanent".ToLower())
        {

            if (Model.GetAnswer("BusinessUnit").ToLower() != "Peterborough Contact Centre".ToLower() && Model.GetAnswer("BusinessUnit").ToLower() != "Distribution Centre Peterborough 012".ToLower() && Model.GetAnswer("BusinessUnit").ToLower() != "Distribution Service Office".ToLower())
            {
            return "Permanent";
            }
            else
            {
                return "";
            }
               
        }
        else
        {
        return "";
        }
        
    }
}

<div class="tab-pane" id="documents">
 @*   @if(Model.GetAnswer("BusinessUnit") != "Service Office Netherlands"
         || Model.GetAnswer("EmploymentCategory") != "Apprentice" || Model.GetAnswer("BusinessUnit") != "IKEA Competence B.V.")
    {
    *@<div class="span12">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>@Model.Translate("Document")
                    </th>
                    <th>@Model.Translate("Type")
                    </th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            @if (!string.IsNullOrEmpty(Model.GetAnswer("EmploymentCategory")))
            {
            <tbody>
            @if (!string.IsNullOrEmpty(GetContract()))
{
    
<tr>
    <td>@Model.Translate("Contract")</td>
    <td>pdf</td>
    <td>&nbsp;</td>
    <td>
        <a href="@Url.Action("print", "hiring", new
                {
                    id = GetContract(),
                    caseId = Model.Contract.Id,
                    path = Path.Combine(Path.GetDirectoryName(Model.FormXmlPath), Path.GetFileNameWithoutExtension(Model.FormXmlPath)),
                    userId = FormLibSessions.User.UserId
                })" class="btn pull-right print"><i class="icon-file"></i>&nbsp;@Model.Translate("Print")</a>
    </td>
</tr>
    
}
            </tbody>
             }
        </table>
    </div>
   @* }*@
</div>





