@using DH.Helpdesk.Web.Infrastructure
@{
    ViewBag.Title = "";
}

<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>&nbsp;</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("Grunddata", Enums.TranslationSource.TextTranslation)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <ul class="nav nav-stacked">
                        @Html.Partial("_MasterDataPanelContent")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
