@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.FieldSettingModel
<td>@Html.LabelFor(m => m)</td>
<td><input type="checkbox" disabled="disabled" class="switchcheckbox" /></td>
<td> <input type="text" value="@Model.Caption" disabled="disabled" /></td>
<td><input type="checkbox" disabled="disabled" class="switchcheckbox" /></td>
<td><input type="checkbox" disabled="disabled" class="switchcheckbox" /></td>



