@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.FieldSettingModel
<td>@Html.LabelFor(m => m)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails, new { @class = "switchcheckbox" })</td>
<td>@Html.TextBoxFor(m => m.Caption, new { @readonly = "readonly" })</td>
<td><input type="checkbox" disabled="disabled" class="switchcheckbox" /></td>
<td><input type="checkbox" disabled="disabled" class="switchcheckbox" /></td>



