@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Settings.Computer.TabSettingModel
<td>@Html.LabelFor(m => m)</td>
<td>@Html.CheckBoxFor(m => m.Show, new { @class = "switchcheckbox" })</td>
<td colspan="5">@Html.TextBoxFor(m => m.Caption)</td>

