@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <p style="font-family: Verdana; font-size: 11px;">
            <strong>Toelichting op salarisbetaling bij IKEA</strong><br />
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 11px;">
            Bij IKEA maken we onderscheid tussen de salarisbetaling van een uurloon parttimer en een maandloon parttimer/fulltimer. 
         <br />
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 11px;">
            <strong>Uurloon parttimers</strong> krijgen maandelijks de gewerkte uren van de vorige maand uitbetaald. Alleen in je eerste maand van je dienstverband ontvang je salaris gebaseerd op je contracturen; je ontvangt dan salaris over uren die je nog niet gewerkt hebt. Pas in de daaropvolgende maand kan IKEA het aantal daadwerkelijke gewerkte uren plus toeslagen en reiskosten uit je eerste gewerkte maand berekenen en uitbetalen.
         <br />
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 11px;">
            <strong>Maandloonparttimers/fulltimers</strong> ontvangen de contracturen van de <u><i>lopende maand</i></u> + reiskosten en eventuele toeslagen van de <u><i>voorgaande maand</i></u>. 
             <br />
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 11px;">
            <strong>Wijziging contracturen</strong><br />
            Als je contracturen wijzigen (je gaat meer of minder uren per week werken), zal je salaris bij je eerstvolgende salarisbetaling ook wijzigen. Ga je meer werken dan worden de extra contracturen op de eerstvolgende salarisbetaling uitbetaald, maar ga je minder werken dan worden de verlaagde contracturen juist in mindering gebracht. 
             <br />
            <br />
            Hieronder kan je in 2 voorbeeldberekeningen zien hoe de uitbetaling van je contracturen wordt berekend:
                <br />
            <br />
        </p>
        <p style="font-family: Verdana; font-size: 11px;">
            <strong>Uurloon parttimer met contractwijziging per 1 mei</strong>
            <br />
       
        <table border="1" cellpadding="5">
            <tr border="0">
                <th border="0"></th>
                <th border="0" align="center">april</th>
                <th border="0" align="center">mei</th>
                <th border="0" align="center">juni</th>
            </tr>
            <tr>
                <td border="0">Contracturen</td>
                <td align="right" valign="bottom">34,67</td>
                <td align="right" valign="bottom">43,33</td>
                <td align="right" valign="bottom">43,33</td>
            </tr>
            <tr>
                <td border="0">Uurloon</td>
                <td align="right" valign="bottom">€ 10,00</td>
                <td align="right" valign="bottom">€ 10,00</td>
                <td align="right" valign="bottom">€ 10,00</td>
            </tr>
            <tr>
                <td border="0">"Basis" salaris</td>
                <td align="right" valign="bottom"><strong>€ 346,70</strong></td>
                <td align="right" valign="bottom"><strong>€ 433,30</strong></td>
                <td align="right" valign="bottom"><strong>€ 433,30</strong></td>
            </tr>
            <tr height="30" border="0">
                <td border="0" height="30" color="white">_</td>
                <td border="0" height="30" color="white" align="right" valign="bottom"></td>
                <td border="0" height="30" color="white" align="right" valign="bottom"></td>
                <td border="0" height="30" color="white" align="right" valign="bottom"></td>
            </tr>
            <tr>
                <td border="0" valign="top">Gewerkte uren huidige maand</td>
                <td align="right" valign="bottom">36,00</td>
                <td align="right" valign="bottom">41,00</td>
                <td align="right" valign="bottom">45,00</td>
            </tr>
            <tr>
                <td border="0">Minder/Meer Uren vorige maand (<i>gewerkte uren vorige maand -/- contracturen vorige maand</i>)</td>
                <td align="right" valign="bottom">(39,67-34,67=)<br />
                    5,00</td>
                <td align="right" valign="bottom">(36-34,67=)<br />
                    1,33</td>
                <td align="right" valign="bottom" color="red">(41-43,33=)<br />
                    2,33-</td>
            </tr>
            <tr>
                <td border="0">Uurloon</td>
                <td align="right" valign="bottom">€ 10,00</td>
                <td align="right" valign="bottom">€ 10,00</td>
                <td align="right" valign="bottom">€ 10,00</td>
            </tr>

            <tr>
                <td border="0">Minder/meer salaris</td>
                <td align="right" valign="bottom"><strong>€ 50,00</strong></td>
                <td align="right" valign="bottom"><strong>€ 13,30</strong></td>
                <td align="right" valign="bottom" color="red"><strong>€ 23,30-</strong></td>
            </tr>
            <tr>
                <td border="0">Uitbetalingsbedrag huidige maand</td>
                <td align="right" valign="bottom"><strong>€ 396,70</strong></td>
                <td align="right" valign="bottom"><strong>€ 446,60</strong></td>
                <td align="right" valign="bottom"><strong>€ 410,00</strong></td>
            </tr>
        </table>
             </p>
        <br />
        <br />
        <br />
        <p style="font-family: Verdana; font-size: 11px;">
            <strong>Maandloon parttimer/fulltimer met contractwijziging per 1 mei</strong>
            <br />
       
        <table border="1" cellpadding="5">
            <tr border="0">
                <th border="0"></th>
                <th border="0" align="center">april</th>
                <th border="0" align="center">mei</th>
                <th border="0" align="center">juni</th>
            </tr>
            <tr>
                <td border="0">Contracturen</td>
                <td align="right" valign="bottom">104,00</td>
                <td align="right" valign="bottom">121,33</td>
                <td align="right" valign="bottom">121,33</td>
            </tr>
            <tr>
                <td border="0">Uurloon</td>
                <td align="right" valign="bottom">€ 10,00</td>
                <td align="right" valign="bottom">€ 10,00</td>
                <td align="right" valign="bottom">€ 10,00</td>
            </tr>
            <tr>
                <td border="0">"Basis" salaris</td>
                <td align="right" valign="bottom"><strong>€ 1.040,00</strong></td>
                <td align="right" valign="bottom"><strong>€ 1.213,30</strong></td>
                <td align="right" valign="bottom"><strong>€ 1.213,30</strong></td>
            </tr>
            <tr>
                <td border="0">Uitbetalingsbedrag<br />
                    huidige maand</td>
                <td align="right" valign="bottom"><strong>€ 1.040,00</strong></td>
                <td align="right" valign="bottom"><strong>€ 1.213,30</strong></td>
                <td align="right" valign="bottom"><strong>€ 1.213,30</strong></td>
            </tr>
        </table>
             </p>
        @*
                 <tr>
                <td border="0"></td>
                <td align="right" valign="bottom"></td>
                <td align="right" valign="bottom"></td>
                <td align="right" valign="bottom"></td>
            </tr>
            *@
        <endpage />
    </div>
</body>
</html>
