@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Shared.ProccesorFieldsViewModel
@if (Model.ProccesorFieldsModel.ProccesorId.Show)
{
    <h4>@Translation.GetCoreTextTranslation("Processor")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.ProccesorFieldsModel.ProccesorId, "Fields/List", new { Source = Model.Proccessors })
            </table>
        </div>
    </div>
}
