@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Orders.Models.Order.OrderEdit.FullOrderEditModel
@{
    Layout = "~/Areas/Orders/Views/Shared/_OrderLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">               
        <li>
            @Html.ActionLink(Translation.Get("Spara"), null, null, new { id = "btnSave", @class = "btn" })
        </li>
        <li>
            @Html.ActionLink(Translation.Get("Avbryt"), "Index", "Orders", null, new { @class = "btn" })
        </li>
        <li>
            @Html.ActionLink(Translation.Get("Ta bort"), "Delete", "Orders", new { id = Model.Id }, 
                new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Are you sure?") })
        </li>                
    </ul>        
}

@section Content
{
    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post, new { id = "edit_form" }))
    {
        @Html.EditorFor(m => m)
    }
    
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function() {
                $("#edit_form").submit();
                return false;
            });
        });
    </script>      
}