@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.GlobalSettingIndexViewModel
<div class="row">
    <div class="span8">
        <table class="table table-striped table-bordered table-hover" id="tblTextTranslation">
            <thead>
                <tr>
                    <th>
                        @Translation.Get("Text", Enums.TranslationSource.TextTranslation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Texts)
                {                    
                    <tr>
                        <td>
                            <a href="@Url.Action("edittranslation", "globalsetting", new { area = "admin", id = item.Id })">@Html.DisplayFor(modelItem => item.TextToTranslate)</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
