@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.GlobalSettingHolidayViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("editholiday", "globalsetting", new { id = Model.HolidayHeader.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
               
                        @*<li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "editholiday", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                        <li>@Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete",
                 new { id = Model.HolidayHeader.Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post?", Enums.TranslationSource.TextTranslation) })</li>*@
                
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new { texttypeid = 0, compareMethod = 1}, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Holidays", Model)
 
}
<script type="text/javascript">
    
</script>
