<mbsc-form>
    <div class="mbsc-form-group">
        <form [formGroup]="filtersForm" novalidate>
            <div class="mbsc-form-group-title">Free Text Search</div>
            <mbsc-input formControlName="freeSearch" placeholder="Search" icon="pencil" icon-align="right"></mbsc-input>
        </form>
    </div>
</mbsc-form>
<span class="md-btn-icon mbsc-ic mbsc-ic-loop2" [hidden]="!loading"></span><!-- TODO: change to more handsome loader -->  
<mbsc-listview [options]="listviewSettings" [hidden]="loading" (onItemTap)="onItemTap($event)">
        <mbsc-listview-item *ngFor="let case of cases" >
                #{{case.Columns | getByKey: 'CaseNumber'}}
                <div>{{case.Columns | getByKey: 'RegTime'}}</div> <!-- TODO: use ISO date instead of string and format -->   
        </mbsc-listview-item>
</mbsc-listview>
<div class="mbsc-form-group mbsc-btn-group-block">
        <mbsc-button color="primary" (click)="search()" [disabled]="loading">
                <span class="md-btn-icon mbsc-ic mbsc-ic-loop2" [hidden]="!loading"></span><!-- TODO: change to more handsome loader --> 
                <span class="md-btn-text" [hidden]="loading">Search</span>
        </mbsc-button>
</div>