div {
    &.mbsc-col-sm-auto {
        padding-left: 0;
        margin: auto;
    }
}

mbsc-listview {
    mbsc-listview-item {
        .secondary {
            font-size: 0.8em;
            opacity: 0.7;
        }
    }
}
