@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Inventory.ConfigurableFieldModel<DateTime?>
@if (!Model.Show)
{
    return;
}

<tr>
    <td class="span3">
        @Translation.Get(Model.Caption)
    </td>
    <td class="span9">
        @if (!Model.IsReadOnly)
        {
            @Html.EditorFor(m => m.Value, "DatePicker", new {id = ViewData["Id"]})
            @Html.ValidationMessageFor(m => m.Value)
        }
        else
        {
            @Html.DisplayFor(m => m.Value, "Date")
        }
    </td>
</tr>
