@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.EditModel.Inventory.ConfigurableFieldModel<string>
@if (!Model.Show)
{
    return;
}

<tr>
    <td class="span3">
        @Translation.Get(Model.Caption)
    </td>
    <td class="span9">
        @if (!Model.IsReadOnly)
        {
            @Html.TextAreaFor(m => m.Value, new {@class = "inputw500 inputmh100"})
            @Html.ValidationMessageFor(m => m.Value)
        }
        else
        {
            @Html.TextAreaFor(m => m.Value, new { @class = "inputw500 inputmh100", @readonly = true })
        }
    </td>
</tr>
