:host ::ng-deep .mbsc-form {
        background: transparent;
    }

mbsc-input {
    &.margin {
        ::ng-deep label {
            margin: 16px;
        }
    }
}

mbsc-button {
    ::ng-deep .mbsc-btn {
        color: white;
    }
}

.microsoft-login {
  text-align: center;
  position:absolute;
  left: 50%;
  //  top: 40%;
  transform: translate(-50%, -50%)
}