<mbsc-form class="md-login-form">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <div class="md-logo"></div>
        <div class="mbsc-form-group-inset">
            <mbsc-input formControlName="username" [error]="f.username.touched && f.username.dirty && f.username.invalid" [errorMessage]="getError('username')">User</mbsc-input>
            <mbsc-input formControlName="password" type="password" password-toggle="true" icon="none" icon-align="right" [error]="f.password.touched && f.password.dirty && f.password.invalid" [errorMessage]="getError('password')">Password</mbsc-input>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
        <div class="mbsc-form-group-inset mbsc-padding">
            <mbsc-button block type="submit" [disabled]="loginForm.invalid || loading">Login</mbsc-button>
        </div>
    </form>
    
</mbsc-form>
