:host ::ng-deep .mbsc-form {
        background: transparent;
    }

mbsc-input {
    &.margin {
        ::ng-deep label {
            margin: 16px;
        }
    }
}

mbsc-button {
    ::ng-deep .mbsc-btn {
        color: white;
    }
}

.microsoftLogin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}