:host ::ng-deep .mbsc-form {
        background: transparent;
    }

mbsc-input {
    &.margin {
        ::ng-deep label {
            margin: 16px;
        }
    }
}

mbsc-button {
    ::ng-deep .mbsc-btn {
        color: white;
    }
}

.microsoft-login {
  text-align: center;
  position:flex;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%)
}

.md-load-btn {
  margin-top: -10px;
  padding-top: 0px;
}