<mbsc-form class="case-overview-header">
  <div class="mbsc-form-group">
     
      <div class="mbsc-grid mbsc-grid-sm" >
              <div class="mbsc-row">
                      <div class="mbsc-col center bold" translate>Skapa ärende</div> <!-- case overview-->
              </div>
      </div>
     
  </div>
</mbsc-form>
<mbsc-listview [options]="templatesListSettings" #templatesListView="mobiscroll">
  <ng-container *ngFor="let node of templateNodes">
      <mbsc-listview-item *ngIf="!isCategory(node)" (click) ="openTemplate(node.id)">{{ node.name }}</mbsc-listview-item>
      <mbsc-listview-item *ngIf="isCategory(node)"><span>{{ node.name }}</span>
        <mbsc-listview-sublist>
          <mbsc-listview-item *ngFor="let template of node.items" (click) ="openTemplate(template.id)">
            {{ template.name }}
          </mbsc-listview-item>
        </mbsc-listview-sublist>
    </mbsc-listview-item>
  </ng-container>
</mbsc-listview>