@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.GraphicsFieldsModel
<table class="tableform">
    @if (Model.VideoCard.Show)
    {
        <tr>
            <th colspan="2" class="header"><h4>@Translation.Get("Grafik")</h4></th>
        </tr>
    }
    @Html.EditorFor(m => m.VideoCard, "Fields/Text")
</table>
