@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.InventoryFieldsModel
@if (Model.BarCode.Show)
{
    <h4>@Translation.Get("Inventering")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.BarCode, "Fields/Text")
                @Html.EditorFor(m => m.PurchaseDate, "Fields/Date", new { id = "purchasedate_datepicker" })
            </table>
        </div>
    </div>
}
