@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.InventoryFieldsModel
<table class="tableform">
    @if (Model.BarCode.Show)
    {
        <tr>
            <th colspan="2" class="header"><h4>@Translation.Get("Inventering")</h4></th>
        </tr>
    }
    @Html.EditorFor(m => m.BarCode, "Fields/Text")
    @Html.EditorFor(m => m.PurchaseDate, "Fields/Date", new { id = "purchasedate_datepicker" })
</table>
