@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.OrganizationFieldsViewModel
<table class="tableform">
    @if (Model.Domains.Show
        || Model.Units.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Organisation", Enums.TranslationSource.TextTranslation)</th>
        </tr>
    }
    @if (Model.Domains.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Domains.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @if (!Model.Domains.IsReadOnly)
                {
                    Html.DropDownListFor(m => m.OrganizationFieldsModel.DomainId, Model.Domains.Value);
                }
                else
                {
                    if (!Model.OrganizationFieldsModel.DomainId.HasValue)
                    {
                        Html.TextBoxFor(m => string.Empty, new { @readonly = true });
                    }
                    else
                    {
                        Html.TextBoxFor(m => m.Domains.Value.SingleOrDefault(x => x.Value == Model.OrganizationFieldsModel.DomainId.ToString()).Text, new { @readonly = true });
                    }
                    Html.HiddenFor(m => m.OrganizationFieldsModel.DomainId);
                }
            </td>
        </tr>
    }
    @if (Model.Units.Show)
    {
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Units.Caption, Enums.TranslationSource.TextTranslation)</label>
            </td>
            <td class="span9">
                @if (!Model.Domains.IsReadOnly)
                {
                    Html.DropDownListFor(m => m.OrganizationFieldsModel.UnitId, Model.Units.Value);
                }
                else
                {
                    if (!Model.OrganizationFieldsModel.UnitId.HasValue)
                    {
                        Html.TextBoxFor(m => string.Empty, new { @readonly = true });
                    }
                    else
                    {
                        Html.TextBoxFor(m => m.Units.Value.SingleOrDefault(x => x.Value == Model.OrganizationFieldsModel.UnitId.ToString()).Text, new { @readonly = true });
                    }
                    Html.HiddenFor(m => m.OrganizationFieldsModel.UnitId);
                }
            </td>
        </tr>
    }
</table>
