@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.OtherFieldsModel
<table class="tableform">
    @if (Model.Info.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Övrigt")</th>
        </tr>
    }
    @Html.EditorFor(m => m.Info, "Fields/WideText")
</table>
