@model DH.Helpdesk.Web.Models.Inventory.EditModel.Computer.SoundFieldsModel
<table class="tableform">
    @if (Model.SoundCard.Show)
    {
        <tr>
            <th colspan="2" class="header"><h4>@Translation.Get("Ljud")</h4></th>
        </tr>
    }
    @Html.EditorFor(m => m.SoundCard, "Fields/Text")
</table>

