.close-pnl {
  background: #438eb9;
  overflow:hidden;
}
.close {
  float:right;
  font-weight:16px;
  padding:10x 20px;

  i { padding-right: 5px}
}
.close:after { clear:both; }

.preview {
  display:block;
  overflow: auto;
  width:100%;
}