@model DH.Helpdesk.BusinessData.Models.Users.UserProfileCustomerSettings
@if(Model.Active)
{
    <tr>
        <td>
            @Html.HiddenFor(m => m.CustomerId)
            @Html.CheckBoxFor(m => m.ShowOnStartPage)
        </td>
        <td>
            @Html.DisplayFor(m => m.CustomerName)
        </td>
    </tr>
}