<div class="mbsc-label case-section-title">Mail To tickets</div>
<div class="mbsc-grid">
    <div class="mbsc-row" *ngIf="mailTO.length">        
        <div class="mbsc-col-2">TO</div>
        <div class="mbsc-col">
            <ul class="nostyle">
                <li *ngFor="let email of mailTO">{{ email }}</li>
            </ul>      
        </div>
    </div>
    <div class="mbsc-row" *ngIf="mailCC.length">
        <div class="mbsc-col-2">CC</div>
        <div class="mbsc-col">
            <ul class="nostyle">
                <li *ngFor="let email of mailCC">{{ email }}</li>
            </ul>      
        </div>
    </div>
</div>