/***********************FONT SIZES*****************************************/

/*body {
    font-size: 12px !important;
    line-height: 18px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="button"],
input[type="checkbox"],
.uneditable-input {

  font-size: 12px !important;
}*/

/****************TEMP QUALITY LOGO ON START PAGE*******************************/
/*.startpage-brand {
    background: url(ikea-quality-text.png);
    background-repeat:no-repeat;
    background-size: contain;
    height: 300px;
    margin-top:30px;
}*/


/*****************NAVIGATION**********************************************/
/*.navbar
{
                             margin-left: 0;
                             margin-right: 0;
                             border: 0;
                             -webkit-box-shadow: none;
                             box-shadow: none;
                             border-radius: 0;
                             margin: 0;
                             padding-left: 0;
                             padding-right: 0;
                             min-height: 45px;
                             position: relative;*/
                             /*background: #438eb9;
                             background: #f9d616;*/
    /*background:#fff;
                             
}

.navbar .navbar-brand
{
                             background: url(CHS-logo-H31px_140227.png);*/
                             /*background: url(../img/dhhelpdesk.png);*/
                                                          /*background-position:0 10px;
                                                          background-repeat:no-repeat;
                                                          color: #fff;
                                                          font-size: 24px;
                                                          text-shadow: none;
                                                          padding-top: 10px;
                                                          padding-bottom: 10px;
                                                          width:263px !important;
                                                          height:25px;
}

                             .navbar .navbar-brand:hover, .navbar .navbar-brand:focus
                             {
                                                          color: #fff;
                             }

.navbar-admin*/ /*ADMIN*/
/*{
                             margin-left: 0;
                             margin-right: 0;
                             border: 0;
                             -webkit-box-shadow: none;
                             box-shadow: none;
                             border-radius: 0;
                             margin: 0;
                             padding-left: 0;
                             padding-right: 0;
                             min-height: 45px;
                             position: relative;
                             background: #53378a;
}

.navbar .navbar-brand-admin*/ /*ADMIN*/
                             /*{*/
                                                         /* background: url(../img/dhhelpdeskadministration.png);
                                                          background-position:0 10px;
                                                          background-repeat:no-repeat;
                                                          color: #fff;
                                                          font-size: 24px;
                                                          text-shadow: none;
                                                          padding-top: 10px;
                                                          padding-bottom: 10px;
                                                          width:243px !important;
                                                          height:25px;*/
                             /*}*/

/************************LOGIN*************************************************************************/
/*body.login {
        padding-top: 50px;
        padding-bottom: 40px;*/
        /*background-color: #438eb9;*/
        /*background:#fff;
      }
.form-signin {
        max-width: 300px;
        padding: 19px 60px 29px;
        margin: 0 auto 0;
        background-color: #fff;*/
        /*border: 1px solid #fff;*/
        /*border: 1px solid #438eb9;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
.signin-bottom
{
                             max-width: 300px;
                             padding: 10px 60px 10px;
                             margin: 0 auto 20px;
                             background-color: #fff;*/
                             /*border: 1px solid #fff;*/
    /*border: 1px solid #438eb9;
                             background: #438eb9;
                             text-align:center;
                             color: #fff;
                             font-size:11px;
}

.signin-bottom a, .signin-bottom a:hover
{
                             color: #fff;
}

.form-signin-heading
{*/
                             /*background: url(../img/dhhelpdesk-login.png);*/
                             /*background: url(CHS-logo-W300_140227.png);
                             background-position:0 5px;
                             background-repeat: no-repeat;
                             color: #fff;
                             font-size: 24px;
                             text-shadow: none;
                             padding-top: 10px;
                             padding-bottom: 10px;
                             width:300px !important;*/
                             /*height:80px;*/
                             /*height:68px;
}*/
/*JQuery portlets*/
/*.column {
    width: 100%;
    float: left;
    padding-bottom: 100px;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }*/
