@using DH.Helpdesk.Web.Infrastructure

<!-- Move to partial view -->
<div id="upload_files_popup" role="dialog" class="modal hide fade" aria-labelledby="myModalLabelCase" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
        <div id="file_uploader"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Translation.GetCoreTextTranslation("Stäng")</button>
    </div>
</div>
    
<div id="confirm-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">    
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="alert alert-info infop">@Translation.GetCoreTextTranslation("Är du säker på att du vill ta bort bifogad fil")?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ok">@Translation.GetCoreTextTranslation("OK")</button>
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">@Translation.GetCoreTextTranslation("Avbryt")</button>
            </div>
        </div>
    </div>
</div>