@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.SearchModels.ServerSearchViewModel
@{
    Layout = "~/Areas/Inventory/Views/Shared/_IndexInventoryLayout.cshtml";
}

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li>
                @Html.ActionLink(Translation.Get("Ny server"), "New", new { controller = "Server" }, new { @class = "btn" })
            </li>
        }
        <li>
            @Html.ActionLink(Translation.Get("Excel"), "ExportGridToExcelFile", new { controller = "Server" }, new { @class = "btn", id = "excel_report_inventory_button" })
        </li>
    </ul>
}

@Html.Partial("Servers", Model)