<ng-container [formGroup]="form" *ngIf="!fieldModel.hidden">
  <div class="col-md-12 control-label" *ngIf="fieldTemplate.isLabelHtml" >
      <span [innerHtml]="fieldTemplate.label"></span>
      <span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
  </div>
  <label [attr.for]="fieldModel.getUiPath()" class="col-md-6 control-label" *ngIf="!fieldTemplate.isLabelHtml">
      {{ fieldTemplate.label }}<span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
  </label>
  <div class="row"> 
    <div class="col-md-12">

      <validation-error [control]="fieldModel.control"></validation-error>
      <validation-warnings [warnings]="fieldModel.warnings"></validation-warnings>

      <div ng2FileDrop *ngIf="!fieldModel.control.disabled && !formInfo.isMobile"
          [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
          (fileOver)="fileOverBase($event)"
          [uploader]="fileUploader"
          class="file-drop well my-drop-zone">
        Drop files here
      </div>

      <div class="file-list">
        <div *ngFor="let item of files; trackBy: identify"
          class="file-item"
          >
          <span class="glyphicon glyphicon-paperclip" ></span>
          <span class="filename" ><a href="javascript:void(0);" (click)="downloadFile(item)">{{ item.fileName }}</a></span>
          <span class="glyphicon glyphicon-remove delete"
            (click)="deleteFile(item)"></span>
        </div>
        <div *ngFor="let item of fileUploader.queue" class="file-item uploading">
          <span class="glyphicon glyphicon-paperclip"></span>
          <span class="filename" [ngStyle]="getStatusStyles(item)">{{ item?.file?.name }}</span>
          <span class="float-right">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError" (click)="deleteError(item)"><i class="glyphicon glyphicon-remove"></i></span> 
            <div *ngIf="item.isUploading" class="loader"></div>
          </span>
        </div>
      </div>

      <label for="{{ fieldModel.getUiPath() }}" *ngIf="!fieldModel.control.disabled">
        <input type="file" id="{{ fieldModel.getUiPath() }}" name="{{ fieldModel.getUiPath() }}" class="fileupload"
          ng2FileSelect [uploader]="fileUploader" multiple />
        <span type="button" class="btn btn-default btn-sm">Add</span>
      </label>
    </div>
  </div>
</ng-container> 