@using System.Threading
@model DateTime?
@{
    var controlId = ViewData["id"];
    var isDisabledControl = ViewData.ContainsKey("disabled");
    if (controlId == null)
    {
        throw new ArgumentNullException("id", "id must be specified.");
    }

    var inputAttributes = (Dictionary<string, object>)ViewData["inputAttributes"];
    Dictionary<string, object> htmlAttributes;
    if (inputAttributes != null)
    {
        htmlAttributes = new Dictionary<string, object>(inputAttributes.Count + 1);

        foreach (var inputAttribute in inputAttributes)
        {
            htmlAttributes.Add(inputAttribute.Key, inputAttribute.Value);
        }
    }
    else
    {
        htmlAttributes = new Dictionary<string, object>(1);
    }

    if (htmlAttributes.Keys.Contains("class"))
    {
        var passedClass = htmlAttributes["class"];
        htmlAttributes["class"] = string.Format("span2 {0}", passedClass);
    }
    else
    {
        htmlAttributes.Add("class", "span2");
    }

    var dateFormat = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern;
    string formattedDate = null;

    if (Model.HasValue)
    {
        formattedDate = Model.Value.ToString(dateFormat);
    }

    var controlName = string.Empty;
    var name = ViewData["Name"] as string;
    if (!string.IsNullOrWhiteSpace(name))
    {
        controlName = name;
        htmlAttributes.Add("Name", controlName);
    }

    if (isDisabledControl)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                $('#@controlId').datepicker({
                    //format: '@Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern.ToLower()',
                    clearBtn: true,
                    autoclose: true,
                    weekStart: 1,
                    todayHighlight: true,
                    format: 'yyyy-mm-dd'
                });
            });
        </script>
    }
    htmlAttributes.Add("autocomplete","off");
}
<input type="text" style="display: none;" />
<div id="@controlId" class="input-append date dateie">
    @if (!string.IsNullOrWhiteSpace(controlName))
    {
        // todo
        @Html.TextBoxFor(m => formattedDate, htmlAttributes)
    }
    else
    {
        @Html.TextBox(controlName, formattedDate, htmlAttributes)
    }
    <span class="add-on">
        <i class="icon-calendar"></i>
    </span>
</div>
