
@using System.Threading
@model DateTime?

@{
    var dateFormat = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern;
    var datePickerFormat = dateFormat.ToLower();
    string formattedDate = null;

    if (Model.HasValue)
    {
        formattedDate = Model.Value.ToString(dateFormat);
    }
}

<div class="input-append date dateie" data-date="" data-date-format="@datePickerFormat">
    @Html.TextBox(string.Empty, formattedDate, new RouteValueDictionary { { "data-provide", "datepicker" } })
    <span class="add-on">
        <i class="icon-calendar"></i>
    </span>
</div>