@using System.Globalization
@using DH.Helpdesk.Common.Extensions.DateTime
@model DateTime?

@{
    var controlId = ViewData["id"];
    if (controlId == null)
    {
        throw new ArgumentNullException("id", "id must be specified.");
    }

    var inputAttributes = (Dictionary<string, object>)ViewData["inputAttributes"];
    var htmlAttributes = new Dictionary<string, object>();
    if (inputAttributes != null)
    {
        foreach (var inputAttribute in inputAttributes)
        {
            htmlAttributes.Add(inputAttribute.Key, inputAttribute.Value);
        }
    }

    htmlAttributes.Add("class", "span2");
    htmlAttributes.Add("data-dh-is-required", ViewData["required"] != null);
}

<script type="text/javascript">
    $(function() {
        $('#@controlId').datepicker({
            format: "mm-yyyy",
            viewMode: "months", 
            minViewMode: "months",
            autoclose: true
        });

        $('#@controlId').datepicker("setDate", new Date(@(Model.HasValue ? Model.Value.ToJavaScriptMilliseconds().ToString(CultureInfo.InvariantCulture) : string.Empty)));
    });
</script>

<input type="text" style="display: none;" />
<div id="@controlId" class="input-append date dateie">
    @Html.TextBox(string.Empty, string.Empty, htmlAttributes)
    <span class="add-on">
        <i class="icon-calendar"></i>
    </span>
</div>

