<app-header-title></app-header-title>

<mbsc-card>
  <mbsc-card-header>
      <mbsc-card-title translate>Välkommen</mbsc-card-title>      
  </mbsc-card-header>
  <mbsc-card-content>
    <p class="mbsc-bold"></p>
    <p translate>Med den här applikationen kan du</p>
    <ul>
      <li translate>Skapa ärenden</li>
      <li translate>Redigera ärenden</li>
      <li translate>Tilldela ärenden</li>
    </ul>
    <p translate>Hoppas du gillar den!</p>
    <p translate>DH Helpdesk utvecklingsteam​</p>
    <a href="mailto:support@dhsolutions.se">support@dhsolutions.se</a>​
  </mbsc-card-content>
</mbsc-card>

<cases-status></cases-status>

<version></version>

    