<app-header-title></app-header-title>

<mbsc-card>
  <mbsc-card-header>
      <mbsc-card-title>DH Helpdesk - Beta version​</mbsc-card-title>      
  </mbsc-card-header>
  <mbsc-card-content>
    <p class="mbsc-bold"></p>
    <p>We have finally released a beta version of DH Helpdesk for mobile users. In this release you can view and search for existing cases.</p>
    <p>Please give us feedback on <a href="mailto:support@dhsolutions.se">support@dhsolutions.se</a>​.</p>
    <p>Regards<br>
      DH Helpdesk Development team​</p>
  </mbsc-card-content>
</mbsc-card>

<cases-status></cases-status>

<version></version>

    