<app-header-title></app-header-title>
<div class="mbsc-padding">
    <p class="mbsc-bold">DH Helpdesk - Beta version​</p>
    <p>
        We have finally released a beta version of DH Helpdesk for mobile users. In this release you can view and search for existing cases.
    </p>
    <p>
        Please give us feedback on <a href="mailto:support@dhsolutions.se">support@dhsolutions.se</a>​.
    </p>
    <p>
        Regards<br>
        DH Helpdesk Development team​
    </p>
    <p>Version: {{ version }}</p>
</div>
    