@model DH.Helpdesk.Web.Models.Reports.CaseSatisfactionReport
@{
    Layout = null;

    if (Model.File == null)
    {
        @Html.Partial("Empty")
        return;
    }
}
<div class="content">
    <h2>Case satisfaction report</h2>
    <div>
        <img src="@Url.Action("GetReportImage", "Reports", new { objectId = Model.File.ObjectId, fileName = Model.File.FileName })" />      
    </div>
</div>