@model DH.Helpdesk.Web.Models.Reports.IndexModel

@{
    ViewBag.Title = @Translation.Get("Rapporter");
}

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("Rapporter")</a>
            </li>
        </ul>        
        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                @Html.Action("Reports", new { area = string.Empty })
            </div>
        </div>
    </div>
</div>

