<ng-container [formGroup]="form" *ngIf="!fieldModel.hidden">
    <div class="col-md-6 control-label" *ngIf="fieldTemplate.isLabelHtml" >
        <span [innerHtml]="fieldTemplate.label"></span>
        <span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
    </div>
    <label [attr.for]="fieldModel.getUiPath()" class="col-md-6 control-label" *ngIf="!fieldTemplate.isLabelHtml">
        {{ fieldTemplate.label }}<span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
    </label>
    <div class="col-md-6">
        <ng-select [formControlName]="fieldTemplate.id"
                   [noFilter]="3"
                   [id]="fieldModel.getUiPath()"
                   [options]="fieldModel.items | toNGSelectOptions">
        </ng-select>
        <validation-error [control]="fieldModel.control"></validation-error>
        <validation-warnings [warnings]="fieldModel.warnings"></validation-warnings>
    </div>
</ng-container>