@model DH.Helpdesk.Web.Models.Inventory.EditModel.Shared.MemoryFieldsViewModel
@if (Model.MemoryFieldsModel.RAMId.Show)
{
    <h4>@Translation.Get("Minne")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.MemoryFieldsModel.RAMId, "NotReadonlyFields/List", new { Source = Model.RAMs })
            </table>
        </div>
    </div>
}

