/************PRINT LAYOUT**********/
.printheader {
    font-size: 10px;
    text-align:left;
    margin-bottom:19px;
}
.printcase {
    font-size: 11px;
}

.printcase td {
    font-size: 11px;
    text-align:left;    
    padding:5px;
}

.printcase .textbold {
    font-weight: bold;
}

.printcase .H {
    font-weight: bold;
    font-size:19px;
}

.printcase .G {
    font-weight: bold;
    font-size: 13px;
    background-color:#ccc !important;
    -webkit-print-color-adjust: exact;
}

.printCaseGroupRow .G {
  padding-top: 1.5em;
}

.printcase .R {    
    font-size: 11px;    
}

.printcase .L {    
    font-size: 11px;    
}

.printcase .F {    
    font-size: 11px;    
}

.printcase .S {    
    font-size: 11px;    
}