@model DH.Helpdesk.Web.Areas.Admin.Models.UserInputViewModel

@{
    var counter = 0;
 }

<div class="container">
    <table class="tableform">
        @foreach (var cu in Model.CustomerUsers)
        {
            <tr>
                <td class="span3">
                    @Translation.GetCoreTextTranslation(cu.CustomerName)&nbsp;
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.EditorFor(m => m.CustomerUsers[counter], "CustomerUser")</td>
            </tr>
            counter++;
        }
    </table>
</div>


