@model dhHelpdesk_NG.Web.Areas.Admin.Models.UserInputViewModel
<div class="formContainer">
    <table border="0">
        <tr>
            <h4>@Translation.Get("Kund", Enums.TranslationSource.TextTranslation)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Driftgrupp", Enums.TranslationSource.TextTranslation)
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Handläggarrättigheter", Enums.TranslationSource.TextTranslation)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Läsrättigheter", Enums.TranslationSource.TextTranslation)
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Translation.Get("Standard", Enums.TranslationSource.TextTranslation)
            </h4>
        </tr>
         @foreach (var cu in Model.CustomerUsers)
            {
                <tr>
                    <td style="vertical-align:top;width:100px;">@Translation.Get(cu.Customer.Name, Enums.TranslationSource.TextTranslation)</td>
                    <td>
                        <table>
                            @{ var i = 0; }
                            @foreach (var uwg in cu.User.UserWorkingGroups)
                            {
            
                                <tr>
                                    <td>
                                        @uwg.WorkingGroup_Id
                                    </td>
                                 </tr>   
                                i++;
                            }
                        </table>
                    </td>
                </tr>
         }
    </table>
</div>
<script type="text/javascript">

    $(function () {
        $('.userRole').change(function () {
            var t = $(this);
            var s = t.is(':checked');
            $('input[sel="' + t.attr('sel') + '"]').removeAttr('checked');
            if (s)
                t.attr('checked', 'checked');
        });
    });

</script>
