
<ec-review-section-instance *ngFor="let reviewSectionInstance of reviewSectionInstances;let i = index"
                            [attr.id]="sectionTemplate.id +'_' + i"
                            [attr.name]="sectionTemplate.id"
                            [reviewSectionInstance]="reviewSectionInstance"
                            [sectionTemplate]="sectionTemplate"
                            [proxyModel]="formModel.proxyModel"
                            [sectionIndex]="i">
</ec-review-section-instance>





