
<div [style.display]="sectionModel.hidden?'none':'inherit'" [formGroup]="sectionModel.group" >
    <div formArrayName="instances">
        <ng-container *ngFor="let sectionInstance of sectionModel.instances;let i = index; trackBy: trackById">
            <div [style.display]="sectionInstance.hidden?'none':'inherit'" [formGroupName]="i">
                <div class="sectionHeader">
                    <div class="title">
                        <h3>{{sectionTemplate.name}} {{ i > 0 ? (i + 1).toString() : '' }} </h3>
                    </div>
                    <div class="actions">
                        <button *ngIf="sectionTemplate.populateAction" type="button" class="btn btn-default btn-sm active" 
                                [disabled]="sectionInstance.disabled"
                                (click)="populateAction(sectionInstance)">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            {{ sectionTemplate.populateAction.actionName }} 
                        </button>
                        <label *ngIf="sectionTemplate.enableAction" class="btn btn-default btn-sm active">
                            <input #chkEnable type="checkbox"
                                   [disabled]="sectionModel.disabled"
                                   [checked]="sectionInstance.sectionEnableStateSelection"
                                   (click)="enableSectionChanged(chkEnable, sectionInstance)"> {{ sectionTemplate.enableAction.label }}
                        </label>
                        <button *ngIf="showDeleteSectionInstanceButton(i)" type="button" class="btn btn-default btn-sm" 
                                [disabled]="sectionModel.disabled"
                                (click)="deleteSectionInstance(i, sectionInstance)">Delete</button>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-inline form-group" *ngFor="let controlTpl of sectionTemplate.controls; trackBy: trackByControlId">
                    <ndc-dynamic [ndcDynamicComponent]="getControlByType(controlTpl.controlType)"
                                 [ndcDynamicInputs]="{ fieldTemplate: controlTpl, form: sectionInstance.group, fieldModel: getFormField(i, controlTpl.id), subtype: controlTpl.controlType}">
                    </ndc-dynamic>
                <!--<div class="form-inline form-group" *ngFor="let controlTpl of sectionTemplate.controls; trackBy: trackByControlId" [ngSwitch]="controlTpl.controlType">
                    <ec-textbox *ngSwitchCase="controlType.type.Textbox" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-textbox>
                    <ec-textbox *ngSwitchCase="controlType.type.Amount" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)" [subtype]="controlTpl.controlType"></ec-textbox>
                    <ec-textbox *ngSwitchCase="controlType.type.Percentage" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)" [subtype]="controlTpl.controlType"></ec-textbox>
                    <ec-textbox *ngSwitchCase="controlType.type.Unit" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)" [subtype]="controlTpl.controlType"></ec-textbox>
                    <ec-textbox *ngSwitchCase="controlType.type.Number" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)" [subtype]="controlTpl.controlType"></ec-textbox>
                    <ec-textbox *ngSwitchCase="controlType.type.AltNumber" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)" [subtype]="controlTpl.controlType"></ec-textbox>
                    <ec-label *ngSwitchCase="controlType.type.Label" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-label>
                    <ec-textbox-search *ngSwitchCase="controlType.type.Search" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-textbox-search>
                    <ec-textarea *ngSwitchCase="controlType.type.Textarea" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-textarea>
                    <ec-dropdown *ngSwitchCase="controlType.type.Dropdown" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-dropdown>
                    <ec-multiselect *ngSwitchCase="controlType.type.Multiselect" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-multiselect>
                    <ec-date *ngSwitchCase="controlType.type.Date" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-date>
                    <ec-checkbox-list *ngSwitchCase="controlType.type.CheckboxList" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-checkbox-list>
                    <ec-checkbox *ngSwitchCase="controlType.type.Checkbox" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-checkbox>
                    <ec-radio *ngSwitchCase="controlType.type.Radio" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-radio>
                    <ec-review *ngSwitchCase="controlType.type.Review" [fieldTemplate]="controlTpl" [form]="sectionInstance.group" [fieldModel]="getFormField(i, controlTpl.id)"></ec-review>
                    <ec-unknown *ngSwitchDefault [fieldTemplate]="controlTpl"></ec-unknown>-->
                    <div class="clear"></div>
                </div>
            </div>
        </ng-container>
        <div class="actionsPanel" *ngIf="showActionsPanel()">
            <div class="btn-group pull-right">
                <button type="button" [disabled]="sectionModel.disabled" class="btn btn-sm btn-primary" (click)="onAddSectionInstance()">{{ getAddSectionText() }}</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

