<ng-container *ngIf="isLoaded; else loading">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="form" novalidate>
                <div class="form-group">
                    <label for="formsList">Forms:</label>
                    <ng-select formControlName="formsList"
                               [noFilter]="3"
                               [id]="formsList"
                               [options]="items | toNGSelectOptions" #list>
                    </ng-select>
                </div>
            </form>
        </div>
        <div class="col-md-2" *ngIf="isTemplateLoaded()" style="margin-top: 24px;">
            <button type="button" class="btn" ngxClipboard [cbContent]="metaDataJs">Copy Template</button>
        </div>
    </div>
    <div class="row" *ngIf="isTemplateLoaded()">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="caseStatus">Case Status</label>
                    <input type="text" class="form-control" id="caseStatus" #caseStatus>
                </div>
                <div class="form-group">
                    <label for="userRole">User Role</label>
                    <input type="text" class="form-control" id="userRole" #userRole>
                </div>
                <div class="form-group">
                    <label for="customerId">Customer Id</label>
                    <input type="text" class="form-control" id="customerId" #customerId>
                </div>
                <div class="form-group">
                    <label for="userGuid">User Guid</label>
                    <input type="text" class="form-control" id="userGuid" #userGuid>
                </div>
                <button type="button" class="btn" (click)="openPreview({caseStatus: caseStatus.value, userRole: userRole.value, customerId: customerId.value, userGuid: userGuid.value})">Preview</button>
            </form>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="isTemplateLoaded()">
    <div class="row">
        <div class="col-md-12">{{metaData.Name}}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tab Name</th>
                        <th>Section Name</th>
                        <th>Field Name</th>
                        <th>Field Type</th>
                        <th>Data Source</th>
                        <th>Warnings</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let tab of metaData.tabs; let ti = index;">
                        <ng-container>
                            <tr class="tab">
                                <td>
                                    <!--id: {{ tab.id }}<br />-->
                                    {{ tab.name }}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let section of tab.sections; let si = index;">
                            <ng-container>
                                <tr>
                                    <td></td>
                                    <td class="section">
                                        <!--id: {{ section.id }}<br />-->
                                        {{ section.name }}
                                        <!--type: {{ section.type }}<br />-->
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let control of section.controls; let ci = index;">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td *ngIf="control.reviewControlId == null">
                                        <!--id: {{ control.id }}<br />-->
                                        {{ control.label }}
                                    </td>
                                    <td *ngIf="control.reviewControlId != null">
                                        reviewControlId: {{ control.reviewControlId }}
                                    </td>

                                    <td>
                                        {{ control.type }}
                                    </td>
                                    <td>
                                        <ng-container *ngIf="control.dataSource != null">
                                            {{ control.dataSource.id || 'static' }}
                                            <button type="button" class="btn" (click)="viewCode(control.dataSource)">View</button>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="control.warningBinding != null">
                                            <span *ngIf="isGlobalFunction(control.warningBinding)">Global function name: {{control.warningBinding}}</span>
                                            <button type="button" class="btn" (click)="viewCodeWithGf(control.warningBinding)">View</button>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<!--<ng-container *ngIf="metaData != null">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</ng-container>-->

<ng-template #loading>
    Loading Data...
</ng-template>

<ng-template #code_template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Code View</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea rows="30" cols="75" readonly="">{{codeSource}}</textarea>
    </div>
</ng-template>