@model DH.Helpdesk.SelfService.Models.Shared.LayoutViewModel

@{
    var actionName = Model.IsMultiCustomerSearchEnabled ? "MultiCustomerUserCases" : "UserCases";
}
@if (Model.CurrentCustomer != null && Model.CurrentCustomer.ShowCasesOnExternalPage != 0)
{
    <li class="blue">
        <a href="@Url.Action(actionName, "case", new { customerId = Model.CustomerId, area = "" })">
            <i class="fa fa-clock-o mnu-fa"></i><br />
            @(Model.IsLineManager ? Translation.Get("Service Requests") : Translation.Get("Cases"))
        </a>
    </li>
}