@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Inventory.Models.SearchModels.SettingsIndexViewModel
@{
    Layout = "~/Areas/Inventory/Views/Shared/_IndexLayout.cshtml";

    var extraData = new ViewDataDictionary
    {
        new KeyValuePair<string, object>("InventoryAdminPermission", Model.UserHasInventoryAdminPermission)
    };
 }

@section Actions
{
    <ul class="secnav">
        @if (Model.UserHasInventoryAdminPermission)
        {
            <li>
                @Html.ActionLink(Translation.Get("Lägg till"), "NewCustomInventoryType", "InventorySettings", new { }, new { @class = "btn", id = "new_custom_inventory_type_button" })
            </li>
        }
    </ul>
}

@Html.Partial("InventoryTypesGrid", Model.InventoryTypes, extraData)

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $(".isActive").on('switchChange.bootstrapSwitch', function(e) {
                var data = {
                    IsActive: $(this).prop('checked'),
                    InventoryType: $(this).prop('id').replace('chkActive_', '')
                };
                $.post('@Url.Action("UpdateStandardTypeSettings", "InventorySettings")', $.param(data));
            });
        })
    </script>
}
