@using DH.Helpdesk.Web.Infrastructure
@model List<DH.Helpdesk.BusinessData.Models.Shared.ItemOverview>
@{    
    var userPermission = false;
    if (ViewData.Keys.Contains("InventoryAdminPermission"))
    {
        userPermission = (bool)ViewData["InventoryAdminPermission"];
    }
 }
<table id="tblCases" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Typ")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (userPermission)
            {
                <tr style="cursor: pointer" onclick="window.location.href = '@Url.Action("EditSettings", "InventorySettings", new { inventoryTypeId = item.Value })'">
                    <td>@Html.DisplayFor(x => item.Name)
                    </td>
                </tr>
            }else{
                <tr>
                    <td>@Html.DisplayFor(x => item.Name)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
