@model dhHelpdesk_NG.Web.Models.Changes.InputModel.EvaluationModel
           
<table class="tableform">
    <tr>
        <td class="span3">
            @Html.LabelFor(m => m.ChangeEvaluation)            
        </td>
        <td class="span9">
            @Html.TextAreaFor(m => m.ChangeEvaluation)            
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.EvaluationReady)            
        </td>
        <td>
            @Html.CheckBoxFor(m => m.EvaluationReady)    
        </td>
    </tr>
</table>