
body {
    background: #f2f7fe;
}

img {
    max-width: 100%;
}

h4 {
    /*background: #f2f7fe;*/
    padding: 5px;
    line-height: 22px;
    background: #f7f7f7;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#eee));
    background-image: -webkit-linear-gradient(top,#fff,0%,#eee,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#eee 100%);
    background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
    border: 1px solid #CCC;
    padding: 0 0 0 5px;
    font-size: 15px;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 4px;
}

.max {
    width: 50px !important;
}


/**NAVBAR***/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.toplogo {
    background: url(../img/dhhelpdesk.png);
    background-repeat: no-repeat;
    width: 125px;
    height: 28px;
    margin: 0;
    padding: 0;
}

.toplogout {
    padding: 5px 0 0 0;
}

.toplogout-space {
    padding: 0 20px;
}

.toplogout a {
    color: #333;
}

.toplogout .dropdown {
    float: left;
}

.disabled {
    background-color: #ddd !important;
}

.gif-loader {
    width: 25px !important;
    height: 25px !important;
    background: url('/content/img/ajax-loader.gif');
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    display: inline-block;
}

.loading-msg {
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-top: none;
    opacity: 0.75;
    top: 0px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    position: absolute;
    color: gray;
    padding: 10px;
}

    .loading-msg .content-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .loading-msg .loader {
        position: absolute;
        width: 170px;
        height: 70px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 15px;
        border: 1px solid #ddd;
        background: url('/content/img/ajax-loader.gif') no-repeat 98px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        line-height: 3;
    }

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
        height: 62px;
        max-height: 62px;
        /*IE 8 Fixes - Not breaking to new row*/
        clear: both;
        min-width: 1100px;
        /*END IE 8 FIXES*/
    }
}

.navbar-nav > li > a {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    line-height: 15px;
    font-size: 13px;
}

.navbar-default {
    background-color: #438eb9;
    border-color: #e7e7e7;
    margin-left: -20px;
}

    .navbar-default .navbar-brand {
        color: #777;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #777;
    }

    .navbar-default .navbar-nav > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #888;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777;
}

    .navbar-default .navbar-link:hover {
        color: #333;
    }

.blue {
    background-color: #438eb9 !important;
}

    .blue:hover, .blue:active, .blue:focus {
        background-color: #d96326 !important;
    }

.green {
    background-color: #ffdf01 !important;
}

    .green:hover {
        background-color: #2c7659 !important;
    }

.purple {
    background-color: #53378a !important;
}

    .purple:hover {
        background-color: #3e1d80 !important;
    }

.light-blue {
    background-color: #62a8d1 !important;
}

    .light-blue:hover {
        background-color: #579ec8 !important;
    }

    .purple a, .green a, .blue a, .light-blue a {
        color: #fff !important;
        text-align: center;
    }


.dropdown-menu li a {
    color: #333 !important;
    text-align: left;
}

    .dropdown-menu li a .small {
        font-size: 75%;
    }

.navbar-nav {
    border-right: 1px solid #fff;
}

    .navbar-nav > li {
        color: #777;
        border-left: 1px solid #fff;
    }

.ico-home {
    background: url(../img/ico-home.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.ico-new {
    background: url(../img/ico-new.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.ico-ongoing {
    background: url(../img/ico-ongoing.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.ico-finished {
    background: url(../img/ico-finished.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.ico-documents {
    background: url(../img/ico-documents.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.faq-unstyled {
    list-style: none;
}

.faq-expand, .faq-collapse, .faq-expand:hover, .faq-collapse:hover {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.faq-node, .faq-node:hover {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.faq-font-bold {
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.ico-coworkers {
    background: url(../img/ico-coworkers.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.ico-help {
    background: url(../img/ico-help.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

.greybar {
    background: #f5f5f5 !important;
    border-bottom: 1px solid #e5e5e5;
}

.secnav {
    background-color: transparent;
    display: inline-block;
    line-height: 24px;
    margin: 0 20px 0 0;
    padding: 0;
    color: #333;
}

    .secnav > li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        *padding: 5px 10px 0 0;
        padding: 0 5px 0 0;
    }


/************PANEL**************/
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-default {
    border-color: #ddd;
}

    .panel-default > .panel-heading {
        color: #fff;
        background-color: #438eb9;
        border-color: #438eb9;
        font-weight: bold;
    }

        .panel-default > .panel-heading.heading-color {
            color: #fff;
            background-color: #d96326;
            border-color: #d96326;
        }

        .panel-default > .panel-heading h3 {
            line-height: normal;
            font-size: 18px;
            margin: 0;
        }

        /**FAQ***/
        .panel-default > .panel-heading.faqph {
            color: #333;
            background-color: #f9f9f9;
            border-color: #ddd;
            font-weight: bold;
        }

            .panel-default > .panel-heading.faqph h5 {
                line-height: normal;
                font-size: 14px;
                margin: 0;
                color: #333;
                /*font-weight:bold;*/
            }

table th.thpointer {
    cursor: pointer;
}

/***TABS**************/

.tab-indicator {
    width: 20px !important;
    height: 20px !important;
    background: url('/content/img/ajax-loader.gif');
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    display: inline-block;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    background-color: #438eb9;
    color: #fff;
}

    .nav-tabs > li > a:hover {
        border-color: #eee #eee #ddd;
        color: #333;
    }

.nav-tabs > li.active > a {
    font-weight: bold;
}

.dh-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dh-col {
    margin-left: -15px;
}
/***FORM TAGS***************/
@media (min-width: 768px) {
    input[type=text] {
        width: 300px;
        height: 34px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }

    .chosen-search input[type=text] {
        width: 280px;
    }

    select {
        width: 300px;
    }

    textarea {
        width: 300px;
        min-height: 100px;
    }

    input[type=text], select, textarea {
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}

@media (max-width: 767px) {
    textarea {
        min-height: 100px;
    }
}

label {
    font-weight: normal !important;
}

    label.error {
        color: #ff0000;
        margin-left: 10px;
    }

input[type=text].error, select.error, textarea.error, .btn-group.error .btn {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

a.error, input[type=¨button].error .btn {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    color: #333333;
}

.error {
    color: #ff0000;
}

.form-group {
    margin-bottom: 5px;
}

/*****JUMBOTRON*********/
.jumbotron {
    padding: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff !important;
}

    .jumbotron h1,
    .jumbotron .h1 {
        color: inherit;
    }

    .jumbotron p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

.container .jumbotron {
    border-radius: 0px !important;
}

.jumbotron .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }

    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 63px;
    }
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu.pull-left {
        float: none;
    }

/*****DROP DOWN SUB MENUS*/

@media screen and (min-width: 768px) {
    .desktop .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .desktop .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .desktop .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .desktop .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .desktop .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
}

.touchscreen .dropdown-submenu > .dropdown-menu {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 10px;
    padding: 0;
    border: none 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/***COMMUNICATE****/

.siteCom {
    max-width: 600px;
    position: fixed;
    top: 0;
    display: block;
    color: #FFF;
    z-index: 1000 !important;
    height: 100%;
    border: 1px solid #438eb9;
    /*background-color:#fff;*/
    background-color: #438eb9;
}

.modal-backdrop, .modal-backdrop.in {
    display: none;
}

.mapText {
    color: #fff;
    /*white-space: nowrap;*/
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    /*-webkit-transform: translate(1.1em,0) rotate(90deg);
       -moz-transform: translate(1.1em,0) rotate(90deg);
         -o-transform: translate(1.1em,0) rotate(90deg);
            transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;*/
    /* IE9+ */
    /*-ms-transform: none;
   -ms-transform-origin: none;*/
    /* IE8+ */
    /*-ms-writing-mode: tb-rl;*/
    /* IE7 and below */
    /**writing-mode: tb-rl;*/
}

.newcom {
    left: 12px;
    top: 4px;
    color: #ff6600;
    position: absolute;
}

/*.siteCom .mapButton {
  display:block;
  color:#fff;
 background-color:#438eb9;  
  padding:8px 5px 5px 5px;
  height:32px;
  width:30px;
  text-align:center;
  position:relative;
  left: 100%;
  margin-top:176px;
  cursor:pointer;
  border-radius: 0 4px 4px 0;
  -moz-opacity: 0.80;
  opacity:.80;
  filter: alpha(opacity=80);

}*/
.mapButtonside.mapButton {
    display: block;
    color: #fff;
    background-color: #438eb9;
    padding: 8px 5px 5px 5px;
    /*height:120px;*/
    height: 32px;
    width: 30px;
    text-align: center;
    position: relative;
    left: 100%;
    /*margin-top:350px;*/
    /*margin-top:150px;*/
    margin-top: 176px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    -moz-opacity: 0.80;
    opacity: .80;
    filter: alpha(opacity=80);
}

.mapButtonclose.mapButton {
    display: block;
    color: #fff;
    background-color: none;
    padding: 0px;
    margin-left: -29px;
    height: 10px;
    width: 20px;
    text-align: center;
    position: relative;
    left: 100%;
    margin-top: 4px !important;
    cursor: pointer;
    font-weight: bold;
}

.mapButtonBtn.mapButton {
    position: absolute;
    top: 120px;
    right: 10px;
    z-index: 2000;
}

.siteCom .theMap {
    width: 100%;
    height: 95%;
    color: #fff;
    margin-top: -180px;
    overflow: auto;
}

.siteCom .com-list {
    padding: 20px 20px 20px 15px;
    height: 100%;
}

.siteCom .com-list-com {
    padding: 10px 10px 2px 10px;
    background: #f2f7fe;
    background: #5bc0de;
    background: #fff;
    color: #000;
    margin-bottom: 20px;
    border-right: 5px solid #d96326;
    border-right: 5px solid #ffdf01;
    margin-right: 30px;
    position: relative;
}

.siteCom .com-list-hd {
    padding: 10px 10px 2px 10px;
    background: #f2f7fe;
    background: #5bc0de;
    background: #fff;
    color: #000;
    margin-bottom: 20px;
    border-left: 5px solid #d96326;
    margin-left: 30px;
    position: relative;
}

.siteCom > .arrow,
.siteCom > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.siteCom > .arrow {
    border-width: 11px;
}

    .siteCom > .arrow:after {
        content: "";
        border-width: 10px;
    }

.list-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.siteCom .com-list-hd .list-arrow {
    top: 45%;
    right: -10px;
    margin-top: -5px;
    border-width: 10px 0 10px 10px;
    border-left-color: #fff;
}

.siteCom .com-list-com .list-arrow {
    top: 45%;
    left: -10px;
    margin-top: -5px;
    border-width: 10px 10px 10px 0;
    border-right-color: #fff;
}

/******COMMUNICATE ON PAGE****/
.onpage.com-list {
    padding: 20px 20px 20px 15px;
    height: 100%;
}

    .onpage.com-list .com-list-com {
        padding: 10px 10px 2px 10px;
        background: #f2f7fe;
        background: #5bc0de;
        background: #f1f1f1;
        color: #000;
        margin-bottom: 20px;
        border-right: 5px solid #d96326;
        border-right: 5px solid #ffdf01;
        margin-right: 30px;
        position: relative;
    }

    .onpage.com-list .com-list-hd {
        padding: 10px 10px 2px 10px;
        background: #f2f7fe;
        background: #5bc0de;
        background: #f1f1f1;
        color: #000;
        margin-bottom: 20px;
        border-left: 5px solid #d96326;
        margin-left: 30px;
        position: relative;
    }

    .onpage.com-list > .arrow,
    .onpage.com-list > .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .onpage.com-list > .arrow {
        border-width: 11px;
    }

        .onpage.com-list > .arrow:after {
            content: "";
            border-width: 10px;
        }

    .onpage.com-list > .list-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .onpage.com-list .com-list-hd .list-arrow {
        top: 45%;
        right: -10px;
        margin-top: -5px;
        border-width: 10px 0 10px 10px;
        border-left-color: #f1f1f1;
    }

    .onpage.com-list .com-list-com .list-arrow {
        top: 45%;
        left: -10px;
        margin-top: -5px;
        border-width: 10px 10px 10px 0;
        border-right-color: #f1f1f1;
    }
/***BUTTONS****/

.btn-default {
    margin-top: -2px !important;
}

.btn-dhblue {
    color: #fff;
    background-color: #0067b2;
    border-color: #0067b2;
}

    .btn-dhblue:hover,
    .btn-dhblue:focus,
    .btn-dhblue:active,
    .btn-dhblue.active,
    .open .dropdown-toggle.btn-dhblue {
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }


/*****MODAL***********/
.modal-header.cohead {
    background: #0067b2;
    color: #fff;
}

    .modal-header.cohead .close {
        color: #fff;
        opacity: 1.0;
    }

/*****ALERT GREY********/
.alert-grey {
    color: #999;
    background-color: #f1f1f1;
    border-color: #e1e1e1;
}

/******BACKGROUND COLORS**********/
.bg-blue {
    background: #006eab;
}

.bg-orange {
    background: #d96326;
}

.bg-purple {
    background: #53378a !important;
}

.bg-green {
    background: #008283;
}

/******FONT AWSOME***********/
.mnu-fa {
    font-size: 32px;
    clear: both;
    width: 51px;
    height: 40px;
    margin: 0 auto;
    padding: 4px 0;
}

/****TABEL A COLOR*****/
.linkcolor a {
    color: #333;
}

.case-popup-div {
    min-height: 80px;
    width: 100% !important;
    margin: 0 auto;
}

.case-send-emails-div {
    overflow: auto;
    padding: 2px;
    resize: both;
    text-align: left;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    word-wrap: break-word;
}

.case-email-selected {
    border: 1px solid #cccccc;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #e6e6e6;
    display: inline;
    line-height: 20px;
}

.case-div-width90em {
    width: 90em;
}

.case-dropdown-area {
    display: inline-flex;
    text-align: left;
}

.case-usersearch-textarea {
    height: 2.4em;
    min-height: 1em;
    width: 30em;
    max-width: 30em;
    vertical-align: bottom;
}


.case-followers-button-done {
    /*padding-top: 1.8em;
    padding-left: 80px;*/
    float: right;
}

.no-left-padding {
    padding-left: 0px !important
}

.caseControlPanel {
    padding-left: 15px !important;
}

.width100 {
    width: 100% !important;
}

.width90 {
    width: 90% !important;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.order-date-search .input-group {
    display: inline-table;
}

.order-date-search .date {
    width: 140px;
    margin-right: 10px;
}

table.table-orders th span.glyphicon {
    float: right;
}

.order-edit .container {
    margin-left: 0;
}

.table-orders tbody tr {
    cursor: pointer
}

.order-edit .date {
    width: 140px;
}

.order-description {
    padding: 5px;
    margin-bottom: 10px;
}

/**************************** Validation **************************************************/

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
    margin: 10px 10px;
}

.validation-summary-valid {
    display: none;
}

/******************************************************************************/

.ml15 {
    margin-left: 0.5em !important;
}

.multitext .input-group {
    display: inline-block;
    padding-left: 15px;
    float: left;
}

div .multitext input[type='text'] {
    margin-right: 5px;
    width: 190px;
}

div .multitext i {
    cursor: pointer;
}

.btn-document {
    margin-bottom: 10px;
    display: block;
    width: 3em;
}

.inputw450 {
    width: 450px !important;
}

.inputmh100 {
    min-height: 150px !important;
}

.dropdown-group {
    width: 320px;
    height: 34px;
    margin-top: -2px;
}

.messageContainer {
    margin: 20px auto;
    text-align: center;
}

.messageDialog {
    background-color: #fff;
}

/*.messageDialog {
    position:fixed;
    top: 35%;
    left: 50%;
    width:36em;    
    height:25em;
    margin-top: -12em; 
    margin-left: -18em;   
    background-color: #fff;
}*/


@media(max-width:767px) {
    .messageDialog {
        top: 50% !important;
    }

        .messageDialog .msgBody {
            margin: auto 60px;
        }
}

.messageIcon {
    width: 60px;
}

.searchGroup {
    margin: 20px 0;
}

.searchGroupCaption {
    background: #f0f0f0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
}

    .searchGroupCaption.collapsed {
        border-bottom: solid 2px #ccc;
    }

    .searchGroupCaption a,
    .searchGroupCaption a:hover,
    .searchGroupCaption a:visited {
        color: #000;
        text-decoration: none;
        outline: 0;
    }

.start-page .panel-body, .start-page .panel-heading {
    overflow-wrap: break-word;
}

.case-followers {
    overflow: hidden;
    padding: 2px;
    padding-left: 700px;
    text-align: left;
    position: absolute;
    text-overflow: ellipsis;
    resize: both;
    word-break: break-word;
}

/*SUMMERNOTE*/

.note-editor {
    margin-bottom: 5px !important;
}

    .note-toolbar {
    background-color: #fafafa !important;
    border: 1px solid #fafafa !important;
}

    .note-editor.error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

/*END OF SUMMERNOTE*/

/*************************** bootstrap dropdown updated css for product area control***************************/
.subddMenu {
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
    text-align: left;
}

    .subddMenu li {
        direction: ltr !important;
    }

.dropdown-menu.modified .dropdown-submenu:hover > .subMenuWrapper > .dropdown-menu {
    display: block;
}

.dropdown-menu.modified > li,
.dropdown-menu.modified .dropdown-menu > li {
    position: static;
}

    .dropdown-menu.modified > li > .subMenuWrapper,
    .dropdown-menu.modified .dropdown-menu > li > .subMenuWrapper {
        position: absolute;
        z-index: 10;
        left: 100%;
    }

        .dropdown-menu.modified > li > .subMenuWrapper > .subddMenu,
        .dropdown-menu.modified .dropdown-menu > li > .subMenuWrapper > .subddMenu {
            position: static;
        }
