@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderSection("Scripts", false)
<div class="secnavs fixed">
    <div class="pull-left">
        @RenderSection("Actions", false)
    </div>
</div>
<div class="content">
    <div class="container">
        @RenderSection("Content")
    </div>
</div>