@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions.Content.DropDownContent           

@if (ViewBag.Required != null)
{
    @Html.DropDown("department_dropdown", "DepartmentId", true, Model, (bool)ViewBag.Required)
}
else
{
    @Html.DropDown("department_dropdown", "DepartmentId", true, Model)
}

<span id ="DepartmentErrorMessage" class="field-validation-error" data-valmsg-for="UserId.Value" data-valmsg-replace="true" >    
       
</span>