@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.Notifiers.InputModel

@{
    Layout = "../Shared/_PopupLayout.cshtml";
    ViewBag.Title = Translation.Get("Ny anmälare", Enums.TranslationSource.TextTranslation);
}

@using (Ajax.BeginForm("NewNotifierPopup", "Notifiers", new AjaxOptions { OnSuccess = "afterSuccessSubmit" }, new { id = "target" }))
{
    <div class="navbar fixed">
            <div class="navbar-container">
                <a href="/">
                    <div class="navbar-header pull-left navbar-brand">
                    </div>
                </a>
            </div>
    </div>
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn" />
                </li>
                <li>
                    <input type="button" onclick="window.close()" value="@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)" class="btn" />
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)   
}

@Scripts.Render("~/bundles/notifiers/notifier")
<script type="text/javascript">
    function afterSuccessSubmit(result, state, response) {
        if (result.success) {
            window.returnValue = result.id;
            try {
                window.opener.NewNotifierEvent(result.id);
            } catch (err) {
            }
            window.close();
            return false;
        } else {
            var errMsg = result.error || 'Unknown error';
            ShowToastMessage(errMsg, 'error', false);
        }
    }
</script>