
@model DH.Helpdesk.Web.Models.Notifiers.InputModel
           
<script type="text/javascript">
    function afterSuccessSubmit(result, state, response) {
        window.returnValue = result;
        window.close();
    }
</script>

@{
    Layout = "../Shared/_PopupLayout.cshtml";
    ViewBag.Title = Translation.Get("Ny anmälare", Enums.TranslationSource.TextTranslation);
}

@using (Ajax.BeginForm("NewNotifierPopup", "Notifiers", new AjaxOptions { OnSuccess = "afterSuccessSubmit" }))
{
    <div class="secnavs">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Spara", Enums.TranslationSource.TextTranslation)" class="btn" />
                </li>
                <li>
                    <a class="btn" onclick=" window.close() ">@Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation)</a>
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
}