@model DH.Helpdesk.Web.Models.Notifiers.InputModel

@{
    Layout = "../Shared/_PopupLayout.cshtml";
    //ViewBag.Title = Translation.GetCoreTextTranslation("Ny anmälare");
    ViewBag.Title = "";
}

@using (Ajax.BeginForm("NewNotifierPopup", "Notifiers", new AjaxOptions { OnSuccess = "afterSuccessSubmit" }, new { id = "target" }))
{
    <div class="navbar fixed">
        <div class="navbar-container">
            <a href="/">
                <div class="navbar-header pull-left navbar-brand"></div>
            </a>
        </div>
    </div>
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.GetCoreTextTranslation("Spara")" class="btn" />
                </li>
                <li>
                    <input type="button" onclick="window.close()" value="@Translation.GetCoreTextTranslation("Avbryt")" class="btn" />
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
}

@Scripts.Render("~/bundles/notifiers/notifier")
<script type="text/javascript">
    function afterSuccessSubmit(result, state, response) {
        window.returnValue = result;
        try {
            window.opener.NewNotifierEvent(result);
        }
        catch (err) { }
        window.close();
        return false;
    }
</script>