
@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.Notifiers.NotifiersModel
           
@Scripts.Render("~/bundles/notifiers/notifiers")

<script type="text/javascript">
    var parameters = {};
    parameters.departmentDropDownUrl = '@Url.Action("DepartmentDropDown")';

    $(function() {
        applyPageBehavior(parameters);
    });
</script>

<div class="row">
    @Html.Partial("Search", Model.SearchModel)
</div>
<div id="notifiers_grid">
    @Html.Partial("NotifiersGrid", Model.GridModel)
</div>