@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions.Content.DropDownContent           

@if (ViewBag.Required != null)
{
    @Html.DropDown("organizationUnit_dropdown", "OrganizationUnitId", true, Model, (bool)ViewBag.Required)
}
else
{
    @Html.DropDown("organizationUnit_dropdown", "OrganizationUnitId", true, Model)
}

<span id ="OrganizationUnitErrorMessage" class="field-validation-error" >    
    required    
</span>