
@using System.Web.Optimization
@model DH.Helpdesk.Web.Models.Notifiers.SettingsModel

@Scripts.Render("~/bundles/notifiers/settings")
           
<script type="text/javascript">
    var settingsViewParameters = { settingsUrl: '@Url.Action("Settings")' };

    $(function () {

        // YES and NO SWITCH FOR CHECKBOXES
        $('.switchcheckbox').bootstrapSwitch('onText', trans_yes);
        $('.switchcheckbox').bootstrapSwitch('offText', trans_no);
        $('.switchcheckbox').bootstrapSwitch('size', 'small');
        $('.switchcheckbox').bootstrapSwitch('onColor', 'success');
    });

    $(function() {
        applySettingsViewBehavior(settingsViewParameters);
    });

</script>

<div id="settings_container">
    @using (Ajax.BeginForm("Settings", null, new AjaxOptions { UpdateTargetId = "fragment-1" }, new { id = "settings_form" }))
    {
        @Html.EditorFor(m => m)
    }
</div>