@using DH.Helpdesk.BusinessData.Models
@model IList<ComputerUserCategoryOverview>

@functions {

    string BuildEditUrl(ComputerUserCategoryOverview item)
    {
        if (item.IsEmpty && item.Id == 0)
        {
            return Url.Action("EditEmptyCategory", "Notifiers", new { id = item.Id });
        }
        return Url.Action("EditUserCategory", "Notifiers", new { id = item.Id });
    }
}

<div class="row">
<div class="span6">
    <table class="table table-striped table-bordered table-hover" style="display:inline-table">
        <thead>
        <tr>
            <th>@Translation.GetCoreTextTranslation("Kategorier")</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer" onclick="window.location.href = '@BuildEditUrl(item)'">
                <td>@Html.DisplayFor(x => item.Name)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</div>
