@model ECT.FormLib.Models.FormModelGlobalView
@using ECT.FormLib.Models;
<div class="span12">
    <table class="table-striped table-gv">
        <thead>
            <tr>
                <th>@Model.FormModel.Translate("Label")</th>
                <th>@Model.FormModel.Translate("Value")</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.FormFields)
            {
                <tr>
                    <td class="tdstrong">@(!string.IsNullOrEmpty(item.GVLabel) ? Model.FormModel.Label(item.GVLabel):Model.FormModel.Label(item.FormFieldName))</td>
                    <td class="copy-me">@(!string.IsNullOrEmpty(item.GVValue) ? item.GVValue:item.FormFieldValue)</td>
                    <td><div class="pull-right"><button class="btn btn-small copy"><i class="icon-share"></i>&nbsp;@Model.FormModel.Translate("Select")</button></div></td>
                </tr>   
            }
        </tbody>
    </table>
</div>