@using DH.Helpdesk.Web.Infrastructure

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="secnavs fixed">
	<div class="pull-left">
		@RenderSection("Actions", false)
	</div>
</div>
<div class="content">
	<div class="container">
		<ul class="nav nav-tabs nav-tabs-actions">
			<li class="active">
				@Html.ActionLink(Translation.Get("Fakturering"), "Index", "Overview")
			</li>
		</ul>
		<div class="tab-content overflow-visible">
			<div class="tab-pane tab-pane-border active">
				@RenderBody()
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@RenderSection("Scripts", false)
}

