<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
<!--    <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=dhutvsql3;Initial Catalog=dhHelpdeskNG_SysTest;User Id=dhHelpdeskNG_SysTest_WebUser;Password=kgk270Q2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
<!--    <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=dhutvsql3;Initial Catalog=dhHelpdeskNG_SysTest;User Id=dhHelpdeskNG_SysTest_WebUser;Password=kgk270Q2;" providerName="System.Data.OleDb" />-->

    <!--<add name="HelpdeskOracleDbContext" connectionString="User Id=DH;Password=hdikeaus;Direct=true;Data Source=dhsql2;Port=1521;SID=hdikeaus" providerName="Devart.Data.Oracle" />
    <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=dhutvsql1;Initial Catalog=DH_Support;User Id=SA;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    
       <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=dhutvsql1;Initial Catalog=DH_Support;User Id=SA;Password=;" providerName="System.Data.OleDb" />
       <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=dhutvsql1;Initial Catalog=DH_Support;User Id=SA;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
<!--        <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=dhutvsql1;Initial Catalog=DH_Support;User Id=SA;Password=;" providerName="System.Data.OleDb" />-->
<!--        <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DH_Support;User Id=rte;Password=rte;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
<!--        <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=localhost\SQLEXPRESS;Initial Catalog=DH_Support;User Id=rte;Password=rte;" providerName="System.Data.OleDb" />-->


    <!--<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=(local);Initial Catalog=DH_Support;User Id=dhuser;Password=dhpass;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=(local);Initial Catalog=DH_Support;User Id=dhuser;Password=dhpass;" providerName="System.Data.OleDb" />-->
  </connectionStrings> 
  <appSettings>
    <add key="dh_maskedpassword" value="||||||||" />  
    <add key="dh_filesDirectory" value="\\dhutvas3\Websites\dhHelpdesk\uploaded_file" />
    <add key="dh_selfserviceaddress" value="http://www.dhsolutions.se" />
    <add key="dh_selfserviceaddress" value="dhHelpdeskUTV/Selfservice/case/Index/" />   
    <add key="Application.DefaultCulture" value="sv" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="InitFromSelfService" value="true" />
    <add key="InitFromSelfServiceWorkflowInitValue" value="10" />
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="SmtpServer" value="localhost"/>
    <add key="SmtpPort" value="25"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:\temp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <customErrors mode="RemoteOnly" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- 50 mb in kilobytes -->
    <httpRuntime maxRequestLength="51200" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- for iis 7 >. 50 mb in bytes -->
        <requestLimits maxAllowedContentLength="5242880" />
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>