<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
		<!-- Ljungby -->
		<!--<add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=Intranetsql01.intranet.kommun.ljungby.se; Initial Catalog=DH_Helpdesk_test; User Id=dh_helpdesk_test; Password=Jhk2347%/lju" providerName="System.Data.OleDb"/>
		<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=Intranetsql01.intranet.kommun.ljungby.se; Initial Catalog=DH_Helpdesk_test; User Id=dh_helpdesk_test; Password=Jhk2347%/lju;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient"/>
		<add name="HelpdeskIndexingService" connectionString="provider=Search.CollatorDSO.1;EXTENDED PROPERTIES='Application=Windows';"/>
		<add name="DSN" connectionString="Data Source=Intranetsql01.intranet.kommun.ljungby.se; Initial Catalog=DH_Helpdesk_test; User Id=dh_helpdesk_test; Password=Jhk2347%/lju" />-->

		<!-- Ytterbygg -->
				<!--<add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=DHUTVSQL6;Initial Catalog=DH_Helpdesk_YtterbyggProd;User Id=DH_Helpdesk_Ytterbygg_Prod;Password=lokal2012;" providerName="System.Data.OleDb"/>
		<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6;Initial Catalog=DH_Helpdesk_YtterbyggProd;User Id=DH_Helpdesk_Ytterbygg_Prod;Password=lokal2012;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient"/>
		<add name="HelpdeskIndexingService" connectionString="provider=Search.CollatorDSO.1;EXTENDED PROPERTIES='Application=Windows';"/>
		<add name="DSN" connectionString="Data Source=DHUTVSQL6;Initial Catalog=DH_Helpdesk_YtterbyggProd;User Id=DH_Helpdesk_Ytterbygg_Prod;Password=lokal2012;" />-->
    <!-- IkeA Dev-->
    <!--<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6; Initial Catalog=dhHelpdesk_IKEA_BSCHR; User Id=DH_Helpdesk; Password=kgk270;Network Library=dbmssocn;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB; Data Source=DHUTVSQL6; Initial Catalog=dhHelpdesk_IKEA_BSCHR; User Id=DH_Helpdesk; Password=kgk270;Network Library=dbmssocn;" providerName="System.Data.OleDb" />
    <add name="HelpdeskIndexingService" connectionString="Provider=MSIDXS;" />
    <add name="DSN" connectionString="Password=kgk270;Persist Security Info=True;User ID=web_user;Initial Catalog=dhHelpdesk_IKEA_BSCHR;Data Source=DHUTVSQL6;MultipleActiveResultSets=True" />
    <add name="DSN_AM" connectionString="Password=devtest;Persist Security Info=True;User ID=amUser;Initial Catalog=AccessManagementDBDataAdminB;Data Source=DHUTVSQL6;MultipleActiveResultSets=True" />-->
    <!-- Prod -->
	<add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=dhdmzsql1.dhsolutions.se;Initial Catalog=DH_helpdesk;User Id=DH_helpdesk;Password=arita860;" providerName="System.Data.OleDb"/>
    <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=dhdmzsql1.dhsolutions.se;Initial Catalog=DH_helpdesk;User Id=DH_helpdesk;Password=arita860;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient"/>
    <add name="HelpdeskIndexingService" connectionString="provider=Search.CollatorDSO.1;EXTENDED PROPERTIES='Application=Windows';"/>
    <add name="DSN" connectionString="Data Source=dhdmzsql1.dhsolutions.se;Initial Catalog=DH_helpdesk;User Id=DH_helpdesk;Password=arita860;"/>
    <add name="DHProfiler" connectionString="Data Source=dhdmzsql1.dhsolutions.se;Initial Catalog=DHProfiler;User Id=profiler;Password=profiler;"/>
		<!--Test-->
		<!--<add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Test;User Id=helpdesk-test;Password=helpdesk-test;" providerName="System.Data.OleDb" />
		<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Test;User Id=helpdesk-test;Password=helpdesk-test;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient" />
		<add name="HelpdeskIndexingService" connectionString="provider=Search.CollatorDSO.1;EXTENDED PROPERTIES='Application=Windows';" />
		<add name="DSN" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Test;User Id=helpdesk-test;Password=helpdesk-test;" />-->
  <!-- Development copy of JKP:s test -->
		<!--<add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Development;User Id=DH_Helpdesk_JU_Test;Password=DHT3st16!!;" providerName="System.Data.OleDb"/>
		<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Development;User Id=DH_Helpdesk_JU_Test;Password=DHT3st16!!;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient"/>
		<add name="HelpdeskIndexingService" connectionString="provider=Search.CollatorDSO.1;EXTENDED PROPERTIES='Application=Windows';"/>
		<add name="DSN" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Development;User Id=DH_Helpdesk_JU_Test;Password=DHT3st16!!;" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="dh_maskedpassword" value="||||||||" />
    <add key="dh_filesDirectory" value="c:\websites-deploy\test.helpdesk.internal.datahalland.se\uploaded_file" />
    <add key="dh_selfserviceaddress" value="https://test-helpdesk-internal.dhsolutions.se/Selfservice/Case/Index/" />
    <add key="dh_webapiurl" value="https://test-helpdesk-internal.dhsolutions.se/api/Account/Login" />
    <add key="encryptionkey" value="JRI!8KST3V0E#DS9SU}RFBCGHZL6E4M7" />
    <add key="Application.DefaultCulture" value="sv" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="InitFromSelfService" value="false" />
    <add key="InitFromSelfServiceWorkflowInitValue" value="10" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="SmtpServer" value="relay2.hostnet.se" />
    <add key="SmtpPort" value="25" />
    <add key="DHProfiler:Application" value="Helpdesk" />
    <add key="DHProfiler:Environment" value="Development" />
    <add key="DHProfiler:MeasureLoggingPerformance" value="true" />
    <add key="LoginMode" value="Application" />
    <add key="MicrosoftLogin" value="1" />
    <add key="ClientId" value="d7a3b1b6-c4a9-461f-a0d6-505f662969df" />
		<add key="Tenant" value="common" />
		<add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
		<add key="RedirectUri" value="https://localhost:449/" />
		<!-- HelpdeskRecaptchaSecretKey for developing purpose only -->
		<!--<add key="HelpdeskRecaptchaSecretKey" value="6Lf-hQIqAAAAAIB4cEX6xTWBUYdMiNq9me6hqcOB" />-->
		<!--<add key="HelpdeskRecaptchaSiteKey" value="6Lf-hQIqAAAAABec6utu1g7Aw9eBNPOE0w7yA2zF" />-->
		<add key="HelpdeskRecaptchaSiteKey" value="6Lf-hQIqAAAAABec6utu1g7Aw9eBNPOE0w7yA2zF" /><!-- Empty string if not in use -->
		<add key="HelpdeskRecaptchaEndPoint" value="https://www.google.com/recaptcha/api/siteverify" /><!-- Empty string if not in use -->
		<add key="HelpdeskRecaptchaMinScore" value="0.8" /><!-- Empty string if not in use -->
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2" debug="true" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- 50 mb in kilobytes -->
    <httpRuntime maxRequestLength="52428800" targetFramework="4.7.2" enableVersionHeader="false" />
    <!-- For windows -->
    <!--<authentication mode="Windows">
      <forms loginUrl="~/Login/Login" defaultUrl="~/" />
    </authentication>-->
    <!--For Application-->
    <authentication mode="None">
      <forms loginUrl="~/Login/Login" defaultUrl="~/" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="false" />
    <machineKey validationKey="121B090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A282C" decryptionKey="CBAB74D7EC5BB56D75D217CECBFB9628819BDB8BF91CFCD64568A145BE59718B" validation="SHA1" decryption="AES" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <sessionState cookieless="UseDeviceProfile" timeout="2880" />
  </system.web>
  <!--For windows-->
  <!--<location path="." inheritInChildApplications="false">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>-->
  <!--end windows-->
  <system.webServer>
    <!-- if set to true, no static files will show server name etc in response headers, but might have affect on performance-->
    <modules runAllManagedModulesForAllRequests="false" />
    <security>
      <requestFiltering>
        <!-- for iis 7 >. 50 mb in bytes -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <handlers>
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="" />-->
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="CaseFileHandler" path="cases/casefiles/*/*.*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CaseLogFileHandler" path="cases/caselogfiles/*/*/*.*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="DocsFileHandler" path="docs/*/*/*.*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Frame-Options" value="sameorigin" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <!--New Owin Development-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <!-- Old for master/dev -->
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>-->
      <!-- End Old-->
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>