@model dynamic
@{
    //ViewBag.Title = @Translation.Get("Åtkomst nekad");
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content error-page">
    <div class="tab-pane-border">
        <h2>@ViewBag.Title</h2>
        <p>@Translation.Get("Du har inte tillgång till den här delen av applikationen. Var vänlig kontakta systemadministratören.")</p>
        <button class="btn btn-success" onclick="window.history.back()">@Translation.Get("Tillbaka till föregående sida")</button>
    </div>
</div>