@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta content="html/text; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title>@Translation.Get("dhHelpdesk", Enums.TranslationSource.TextTranslation)</title>

        @Styles.Render("~/Content/css/popup")
        @Scripts.Render("~/bundles/common/popup")
    </head>
    <body>
        @RenderBody()
    </body>
</html>