@model DH.Helpdesk.Web.Models.Error.HandleErrorInfoGuid
@{
    ViewBag.Title = "";
    //ViewBag.Title = "Error (" + Model.Exception.Message + ")";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <h2 style="margin: 10px 0;">
            Sorry, an error occurred while processing your request.
        </h2>
        <p style="margin: 10px 0;">
            Please provide below to your support team:
        </p>
        <div id="exeption" style="padding: 10px; background: #ffa;">
            <ul>
                <li>Error Id: @Model.Guid</li>
                <li>Step-by-step instructions on how to reproduce your issue</li>
                <li>Time when error occurred: @DateTime.Now</li>
            </ul>
        </div>
    </div>
</div>
