@model DH.Helpdesk.SelfService.Models.Orders.FieldModels.ConfigurableFieldModel<int>

@if (!Model.Show)
{
    return;
}           

<div class="row form-group">
    <div class="col-md-3">
        @Html.FieldCaption(Model)
    </div>
    <div class="col-md-6">
        @Html.HiddenFor(m => m.Value)
        @Html.DisplayFor(m => m.Value)
    </div>
    <div class="col-md-3">
        @Model.Help
    </div>
</div>