@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;
@{
    Layout = null;
}
<table @*class="table-full-width"*@>
    <tr style="line-height: normal !important;">
        <td>Met vriendelijke groet,<br /><br /></td>
    </tr>
    <tr style="line-height: normal !important;">
        <td>IKEA Shared Service Centre</td>
    </tr>
    <tr>
        <td @*style="width: 50%; min-width: 50%;"*@>@*@Model.DocumentData.EmployerSignatureText*@
            <div><img style="max-height:80px;" src="~/FormLibContent/Assets/img/NetherlandsSignatures/RowanCrick.png"/></div>           
    </td>
    </tr>
    <tr style="line-height: normal !important;">
        <td>Rowan Crick</td>
    </tr>
    <tr style="line-height: normal !important;">
        <td>SSC NL Team Leader</td>
    </tr>
</table> @{ if (Request.QueryString["debug"] == "1")
            {
                @Model.Contract.BaseUrl@Model.Department.HeadOfDepartmentSignature 
            }}