@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@using ECT.FormLib.Pdfs;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<link href="@Model.Contract.BaseUrl/FormLibContent/assets/css/documents.css" rel="stylesheet" type="text/css" />*@
    @Model.GetStyleAnswer("GetStyleLink")
    @Html.Partial("../Shared/Pdfs/_Styles", Model)
    @Model.GetStyleAnswer("GetStyles")
    @*<style>
        table, p {
            font-size: 9pt !important; 
            line-height: normal !important;
        }
    </style>*@
</head>
<body>
    @*<table>
        <tr style="page-break-before: always;">
            <td>&nbsp;</td>
        </tr>
    </table>*@
    <div class="default-page">
        <h1>
            Toelichting op salarisbetaling bij IKEA
        </h1>

        <p style="line-height: normal !important; font-size: 9pt !important;"><strong>Nieuwe salarisstrook</strong><br />
        Een nieuwe baan en dus een nieuwe salarisstrook. Graag geven we je hierbij uitleg over je IKEA salarisstrook.</p>

        <p style="line-height: normal !important; font-size: 9pt !important;"><strong>Salarisbetaling</strong><br />
        IKEA betaalt elke maand rond de 23<span style="font-size: xx-small; vertical-align: text-top;">e</span> van de maand je salaris uit. Rond deze datum ontvang je jouw salarisstrook per post. Als vakantiekracht ben je bij IKEA werkzaam als uurloon parttimer.</p>

        <p style="line-height: normal !important; font-size: 9pt !important;">Als jouw startdatum bij IKEA voor de 15<span style="font-size: xx-small; vertical-align: text-top;">e</span> van de maand is krijg je die maand ook al salaris op basis van je contracturen. Pas in de <em style="text-decoration: underline;">daaropvolgende maand</em> kan IKEA het aantal daadwerkelijke gewerkte uren plus reiskosten en eventuele toeslagen uit je eerder gewerkte maand berekenen en uitbetalen.<br />
        Als jouw startdatum op of na de 15<span style="font-size: xx-small; vertical-align: text-top;">e</span> van de maand is ontvang je de volgende maand je eerste salaris, dit zijn dan je contracturen en je meer/minder gewerkte uren, eventuele toeslagen en reiskosten van de voorgaande maand.<br />
        Als vakantiekracht ben je in dienst op basis van een aantal contracturen per maand. Wanneer je niet per de 1<span style="font-size: xx-small; vertical-align: text-top;">ste</span> van de maand start, zullen deze contracturen voor de eerste maand naar rato worden berekend.</p>
        
        <p style="line-height: normal !important; font-size: 9pt !important;">Hieronder kan je in een voorbeeldberekening zien hoe de uitbetaling van je contracturen wordt berekend:</p>

        <p style="line-height: normal !important; font-size: 9pt !important;"><strong>Vakantiekracht in dienst per 1 mei</strong></p>

        
        <table style="line-height: normal !important; font-size: 9pt !important;" class="table-full-width table-bordered table-appendix">
            @*<tr>
                <th style="border:none !important;"></th>
                <th style="border:none !important;" colspan="4"><strong>aantal contracturen</strong></th>
            </tr>*@
            <tr>
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important; vertical-align: bottom !important; text-align: left; padding-left: 8px;" colspan="1"><strong>Mei</strong></th>
                <th style="border: none !important; vertical-align: bottom !important; text-align: left; padding-left: 8px;" colspan="1"><strong>Juni</strong></th>
                <th style="border: none !important; vertical-align: bottom !important; text-align: left; padding-left: 8px;" colspan="1"><strong>Juli</strong></th>
            </tr>
            @*<tr>
                <td style="border:none !important;width:50%;min-width:50%;"></td>
                <td style="width:15%;min-width:15%;"><u>&lt;</u> 12 + vulploeg</td>
                <td>13-21</td>
                <td>22-31</td>
                <td><u>&gt;</u> 32</td>
            </tr>*@
            @*<tr>
                <td class="td-no-border" style="height:10px; min-height:10px; font-size:1px;">&nbsp;</td>
                <td class="td-no-border" colspan="4" style="border-left:1px solid black !important;border-right:1px solid black !important;height:10px; min-height:10px;font-size:1px;">&nbsp;</td>
            </tr>*@
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;">Contracturen *</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">104,00</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">104,00</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">104,00</td>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;">Uurloon</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">€ 6,00</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">€ 6,00 </td>
                <td style="text-align:left !important; vertical-align: bottom !important;">€ 6,00 </td>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;"><strong>"Basis" salaris</strong></td>
                <td style="text-align:left !important; vertical-align: bottom !important;"><strong>€ 624,00</strong></td>
                <td style="text-align:left !important; vertical-align: bottom !important;"><strong>€ 624,00</strong></td>
                <td style="text-align:left !important; vertical-align: bottom !important;"><strong>€ 624,00</strong></td>
            </tr>
            <tr style="height: 25px;">
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important;" colspan="1"></th>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;">Gewerkte uren<br />huidige maand</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">134,00</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">65,00</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">45,00</td>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;">Minder/Meer Uren vorige<br />maand<br /><em>(gewerkte uren vorige</em><br /><em>maand -/- contracturen</em><br /><em>vorige maand)</em></td>
                <td style="text-align:left !important; vertical-align: bottom !important;">0</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">(134-104=)<br />30,00</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">(65-104=)<br /><text style="color: red">39,00 -</text></td>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;">Uurloon</td>
                <td style="text-align:left !important; vertical-align: bottom !important;">€ 6,00 </td>
                <td style="text-align:left !important; vertical-align: bottom !important;">€ 6,00 </td>
                <td style="text-align:left !important; vertical-align: bottom !important;">€ 6,00 </td>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;"><strong>Minder/meer salaris</strong></td>
                <td style="text-align:left !important; vertical-align: bottom !important;"><strong>€ 0,00</strong></td>
                <td style="text-align:left !important; vertical-align: bottom !important;"><strong>€ 180,00</strong></td>
                <td style="color: red; text-align:left !important;"><strong>€ 234,00-</strong></td>
            </tr>
            <tr style="height: 25px;">
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important;" colspan="1"></th>
                <th style="border: none !important;" colspan="1"></th>
            </tr>
            <tr>
                <td style="text-align:left !important; border: none; vertical-align: bottom !important;"><strong>Uitbetalingsbedrag</strong><br /><strong>(bruto) huidige maand</strong></td>
                <td style="text-align:left !important; vertical-align: top !important;"><strong>€ 624,00</strong></td>
                <td style="text-align:left !important; vertical-align: top !important;"><strong>€ 804,00 </strong></td>
                <td style="text-align:left !important; vertical-align: top !important;"><strong>€ 390,00</strong></td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td>*&nbsp;&nbsp;</td>
                <td style="line-height: normal !important; font-size:9pt !important;">Wanneer een vakantiekracht niet per de 1<span style="font-size: xx-small; vertical-align: text-top;">ste</span> van de maand start, zullen deze contracturen voor de eerste maand naar rato worden berekend.</td>
            </tr>
        </table>
 </div>
</body>
</html>
