@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Inventory.EditModel.ConfigurableFieldModel<int>
@if (!Model.Show)
{
    return;
}

<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span9">
        @Html.TextBoxFor(m => m.Value, new Dictionary<string, object> { { "data-dh-is-required", Model.IsRequired } })
        @Html.HiddenFor(m => m.IsRequired)
        @Html.ValidationMessageFor(m => m.Value)
    </td>
</tr>
