@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Reports.Models.Reports.FinishingCauseCategoryCustomerModel

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Translation.Get("Avdelning")</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>