@using DH.Helpdesk.Common.Enums
@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Areas.Reports.Models.Reports.ReportGenerator.ReportGeneratorAggregateModel

@Translation.Get("Poster i sökresultat"):
@Model.CasesFound
<div>
    @foreach (var item in Model.Aggregation.OrderBy(x => x.Key))
    {
        <div>
            @String.Format("{0}: {1}", item.Key.ToString("yyyy/MM"), item.Value)
        </div>
    }
</div>
