@model DH.Helpdesk.Web.Models.Inventory.EditModel.Settings.InventoryFieldSettingModel
<td>@Html.TextBoxFor(m => m.Caption)</td>
<td></td>
<td></td>
<td>@Html.DisplayFor(m => m.PropertySize)</td>
<td>@Html.CheckBoxFor(m => m.ShowInDetails)</td>
<td>@Html.CheckBoxFor(m => m.ShowInList)</td>
