
@using System.Threading
@model DateTime?

@{
    var controlId = ViewData["id"];
    var dateFormat = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern;
    string formattedDate = null;

    if (Model.HasValue)
    {
        formattedDate = Model.Value.ToString(dateFormat);
    }
}

<script type="text/javascript">
    $(function() {
        $('#@controlId').datepicker({
            format: '@Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern.ToLower()',
            autoclose: true
        });
    });
</script>

<div id="@controlId" class="input-group date dateie">
    @Html.TextBox(string.Empty, formattedDate, new {@class = "form-control ignore-globalfocus" })
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
</div>