@{
    ViewBag.Title = "Index";
}

<div class="divforMultiple">
    <p>
        <div class="divMultipleWidth">Avdelning</div>
        <select id="s2" multiple="multiple">
            <option>IKEA AG / LANDESORGANISATION    4410</option>
        </select>
    </p>
    <p>
        <div class="divMultipleWidth">Ämnesområde</div> <select></select>
    </p>
    <p>
        <div class="divMultipleWidth">Incidenttyp </div> <select></select>
    </p>
    <p>
        <div class="divMultipleWidth">Status</div> <select></select>
    </p>
</div>
<div class="divforCaption">Ämnesområde</div>
<div class="divforform">
    <p>
        Diagram
    </p>
</div>
<div class="divforCaption">Driftgrupp </div>
<div class="divforform">
    <p>
        Diagram
    </p>
</div>
<div class="divforCaption">Ärenden </div>
<div class="divforform">
    <table>
        <tr>
            <th>Ärende</th>
            <th class="thtdDisplayNone">Registreringsdatum</th>
            <th class="thtdDisplayNone">Incidenttyp</th>
            <th class="thtdDisplayNone">Driftgrupp</th>
            <th class="thtdDisplayNone">Understatus1</th>
            <th>Rubrik</th>
        </tr>
        <tr>
            <td>Ärende</td>
            <td class="thtdDisplayNone">Registreringsdatum</td>
            <td class="thtdDisplayNone">Incidenttyp</td>
            <td class="thtdDisplayNone">Driftgrupp</td>
            <td class="thtdDisplayNone">Understatus1</td>
            <td>Rubrik</td>
        </tr>
        <tr>
            <td>Ärende</td>
            <td class="thtdDisplayNone">Registreringsdatum</td>
            <td class="thtdDisplayNone">Incidenttyp</td>
            <td class="thtdDisplayNone">Driftgrupp</td>
            <td class="thtdDisplayNone">Understatus1</td>
            <td>Rubrik</td>
        </tr>
    </table>
</div>
