@{
    ViewBag.Title = "";
}
<div id="tabContainer">
    <ul class="tabmenu">
        <li id="tab1" class="active">Sök ärende</li>
    </ul>
    <span class="clear"></span>
    <div class="tabcontent tab1">
        <div class="filterContent">
            <div class="hideThis">
                <table>
                    <tr>
                        <td>
                            Användarinformation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Anmälare:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kund:
                        </td>
                        <td>
                            <select>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Övrigt
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Handläggare:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Closing Date:
                        </td>
                        <td>
                            <input type="text" class="datePicker" />
                            -
                            <input type="text" class="datePicker" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Status:
                        </td>
                        <td>
                            <select>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ärendeinformation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ärendenummer:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Registreringsdatum:
                        </td>
                        <td>
                            <input type="text" class="datePicker" />
                            -
                            <input type="text" class="datePicker" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rubrik:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Beskrivning:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Loggpost
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Loggtext:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            <input type="text" />
                            <input type="button" value="Sök" />
                        </td>
                        <td>
                            <p class="showContentButton">
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table id="tblCases">
            <thead>
                <tr>
                    <th>
                        <img src="../../Content/icons/dotGrey.png" />
                    </th>
                    <th>
                        Ändring
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Mobil
                    </th>
                    <th>
                        Avdelning
                    </th>
                    <th>
                        Titel
                    </th>
                    <th>
                        System
                    </th>
                    <th>
                        Objekt
                    </th>
                    <th>
                        Inventarie
                    </th>
                    <th>
                        RSS
                    </th>
                    <th>
                        Godkännande
                    </th>
                    <th>
                        Implementation klar
                    </th>
                    <th>
                        Utvärdering klar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="../../Content/icons/dotGreen.png" />
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        9
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        11
                    </td>
                    <td>
                        12
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

    $('#tblCases').fixheadertable({            
            height: null,
            width: null,
            minWidth: null,
            minWidthAuto: true,
            zebra: true,
            sortable: true,
            sortedColId: 0,
            resizeCol: true,
            minColWidth    : 100,
            pager: true,
            rowsPerPage: 10,
            wrapper: false,

        });

    });

</script>
<script type="text/javascript">

    $(".showContentButton").click(function () {
        $(".hideThis").slideToggle("slow");
        $(this).toggleClass("showContentButtonactive"); return false;
    });


</script>
<script type="text/javascript">

    $(document).ready(function () {
        // Attach DatePicker
        $.datepicker.regional['sv'];
        $(".datePicker").datepicker({
            changeYear: true,
            showOn: 'both',
            buttonImage: '../../Content/icons/calendar.png',
            buttonImageOnly: true
        });
        $(".datePicker").datepicker("option", "buttonText", 'yyyy-mm-dd');
        $('img.ui-datepicker-trigger').css({ 'cursor': 'pointer', "vertical-align": 'top', "margin": '3px 0 0 -18px;' });
    });
</script>
