@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Problem.LogEditModel

@using (Html.BeginForm("AddLog", "Problems", FormMethod.Post, new { id = "log_edit_form" }))
{
    @Html.Partial("_InputLog", Model)

    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>
                    <input type="submit" value="@Translation.Get("Add Log", Enums.TranslationSource.TextTranslation)" class="btn"/>
                </li>
            </ul>
        </div>
    </div>
    @Html.HiddenFor(x => x.ProblemId)
}