@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Domain.Division
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("edit", "division", new { id = Model.Id }, FormMethod.Post, new { id = "target" }))
{
    <div class="menuContent">
        @Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "edit", new { id = Model.Id }, new { onclick = "$('#target').submit();return false;" })
        @Html.ActionLink(Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation), "delete",
         new { id = Model.Id }, new { @class = "btn deleteDialog", deleteDialogText = Translation.Get("Är du säker på att du vill ta bort aktuell post?", Enums.TranslationSource.TextTranslation) })
        @Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index")
    </div>
    <div class="contentContent">
        @Html.Partial("_Input", Model)
    </div>
}
