@{
    ViewBag.Title = "";
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/img-profile/ikea-map.png")" />
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">@Translation.Get("Find Your Way", Enums.TranslationSource.TextTranslation)</div>
                <div class="panel-body">
                    <ol>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                        <li>More info soon</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
