@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Faq.Output.EditingCategoryModel

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fragment-1">@Translation.Get("FAQ Kategori", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <table class="tableform">
                                <tr>
                                    <td class="span3">
                                        @Translation.Get("Namn", Enums.TranslationSource.TextTranslation) <span class="mandatorystar">*</span>
                                    </td>
                                    <td class="span9">
                                        @this.Html.TextBoxFor(m => m.Name)
                                        @this.Html.ValidationMessageFor(m => m.Name)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>