@{
    ViewBag.Title = "About";
}
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li id="tab_1" class="active">
                <a href="#fragment-1">@Translation.Get("About DH Helpdesk", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <h2>About</h2>
                            <p>DH Helpdesk is a case handling system</p>
                        </div>
                        <div class="span4" style="background:#ff6a00;">
                            <p style="font-size:100px; color:#fff;line-height:120px;text-align:center;">5202</p>
                            <p style="color:#fff;text-align:center;">users</p>
                        </div>
                        <div class="span4" style="background:#b200ff;">
                            <p style="font-size:100px; color:#fff;line-height:120px;text-align:center;">11</p>
                            <p style="color:#fff;text-align:center;">countries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

