@using DH.Helpdesk.Web.Infrastructure.Extensions.HtmlHelperExtensions
@model DH.Helpdesk.Web.Models.Inventory.EditModel.ConfigurableFieldModel<string>
@if (!Model.Show)
{
    return;
}

<tr>
    <td class="span3">
        @Html.FieldCaption(Model)
    </td>
    <td class="span9">
        @Html.TextAreaFor(m => m.Value, new { data_dh_is_required = Model.IsRequired, @class = "inputw500 inputmh100" })
        @Html.HiddenFor(m => m.IsRequired)
        @Html.ValidationMessageFor(m => m.Value)
    </td>
</tr>
