<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <sectionGroup name="formLibConfigurable">
      <section name="accessManagment" type="ECT.FormLib.Configurable.AccessManagment" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="selfServiceConfigurable">
      <section name="selfServiceUrlSetting" type="DH.Helpdesk.SelfService.Infrastructure.Configuration.SelfServiceUrlSetting" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!-- Configuration section settings area. -->
  <formLibConfigurable>
    <accessManagment>
      <api uriPath="http://myhrservices-access.ikea.com/" username="AdminTest1" password="asd123!" />
      <countries>
        <country helpdeskCustomerId="29" employeePrefix="05" code="NL" />
        <country helpdeskCustomerId="30" employeePrefix="08" code="UK" />
        <country helpdeskCustomerId="31" employeePrefix="11" code="IE" />
        <country helpdeskCustomerId="32" employeePrefix="41" code="KR" />
        <country helpdeskCustomerId="34" employeePrefix="20" code="NO" />
        <country helpdeskCustomerId="39" employeePrefix="00" code="ST" />
        <country helpdeskCustomerId="43" employeePrefix="13" code="AU" />
        <country helpdeskCustomerId="1" employeePrefix="13" code="SE" />
      </countries>
    </accessManagment>
  </formLibConfigurable>
  <selfServiceConfigurable>
    <selfServiceUrlSetting>
      <deniedUrls>
        <!--<url key="0" path="/case/Index*" />
        <url key="1" path="/case/NewCase/*" />
        <url key="2" path="/case/UserCases*" />
        <url key="3" path="/Documents*" />
        <url key="4" path="/FAQ*" />
        <url key="5" path="/CoWorkers*" />
        <url key="6" path="/Help*" />
      
        <url key="8" path="/Case/SearchUserCase*" />
        <url key="9" path="/case?*" />-->
      </deniedUrls>
      <allowedUrls>
        <url key="7" path="/Start*" />
        <url key="0" path="/case/Index/{GUID}" />
        <url key="1" path="/start/ChangeLanguage/*" />
        <url key="2" path="/case/NewCase?customerId=1&amp;caseTemplateId=592" />
        <url key="3" path="/case/ExtendedCase?customerId=43&amp;caseTemplateId=1664" />
        <url key="4" path="/Case/ExtendedCase" />
      </allowedUrls>
    </selfServiceUrlSetting>
  </selfServiceConfigurable>
  <connectionStrings>
    <!--<add name="DSN" connectionString="Password=kgk270;Persist Security Info=True;User ID=web_user;Initial Catalog=dhHelpdesk_IKEA_BSCHR;Data Source=DHUTVSQL2;MultipleActiveResultSets=True" />--> 
		<!-- Ytterbygg -->
		<!--<add name="DSN" connectionString="Data Source=DHUTVSQL6;Initial Catalog=DH_Helpdesk_YtterbyggProd;User Id=DH_Helpdesk_Ytterbygg_Prod;Password=lokal2012;" />
    <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6;Initial Catalog=DH_Helpdesk_YtterbyggProd;User Id=DH_Helpdesk_Ytterbygg_Prod;Password=lokal2012;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient"/>-->

		
		<!--dev-->
    <!--<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHDS01\SQLEXPRESS;Initial Catalog=Helpdesk-Dev;User Id=pds;Password=pds;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient" />-->
    <!--dhutvsql6-->
    <!--<add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Dev;User Id=helpdesk-dev;Password=helpdesk-dev;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient" />-->
	  <!-- Test-->
		<add name="DSN" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Test;User Id=helpdesk-test;Password=helpdesk-test;" />
	  <add name="HelpdeskSqlServerDbContext" connectionString="Data Source=DHUTVSQL6;Initial Catalog=Helpdesk-Test;User Id=helpdesk-test;Password=helpdesk-test;MultipleActiveResultSets=True;Connection Lifetime=3;Max Pool Size=3;" providerName="System.Data.SqlClient" />
    <!-- <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=CFPSEELM-NT2008;Initial Catalog=CFSQL0029;Persist Security Info=True;User Id=dhsschr; Password=dhbschr123" providerName="System.Data.OleDb"  />
    <add name="DSN_AM" connectionString="Password=Ikea!2367;Persist Security Info=True;User ID=dhamdb;Initial Catalog=CFSQL0030;Data Source=CFPSEELM-NT2008;MultipleActiveResultSets=True" />-->
    <!--<add name="DSN" connectionString="Password=kgk270;Persist Security Info=True;User ID=web_user;Initial Catalog=dhHelpdesk_IKEA_BSCHR;Data Source=DHUTVSQL2;MultipleActiveResultSets=True" />  
    <add name="AccessManagementDB" connectionString="Data Source=dhutvsql2;Initial Catalog=AccessManagementDBDataAdminB;User ID=sa;Password=;" providerName="System.Data.SqlClient" />
    <add name="HelpdeskSqlServerDbContext" connectionString="Password=kgk270;Persist Security Info=True;User ID=web_user;Initial Catalog=dhHelpdesk_IKEA_BSCHR;Data Source=DHUTVSQL2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HelpdeskOleDbContext" connectionString="Provider=SQLOLEDB;Data Source=DHUTVSQL2;Initial Catalog=dhHelpdesk_IKEA_BSCHR;User Id=web_user;Password=kgk270;" providerName="System.Data.OleDb" />-->
  </connectionStrings>
  <appSettings>
    <add key="LoginMode" value="Application" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="dh_filesDirectory" value="c:/temp" />
    <add key="dh_selfserviceaddress" value="http://localhost:449/case/index/" />
    <add key="dh_helpdeskaddress" value="http://localhost:449" />
    <add key="webpages:Version" value="3.0.0.0" />
    <!-- For self/service line manager -->
    <add key="InitFromSelfService" value="true" />
    <add key="InitFromSelfServiceWorkflowInitValue" value="10" />
    <add key="ida:FederationMetadataLocation" value="https://sts.ikeadt.com/federationmetadata/2007-06/federationmetadata.xml" />
    <add key="ida:Issuer" value="https://sts.ikeadt.com/adfs/ls/" />
    <add key="ida:ProviderSelection" value="productionSTS" />
    <add key="SmtpServer" value="relay2.hostnet.se" />
    <add key="SmtpPort" value="25" />
    <add key="DefaultUserId" value="katarina.ask1" />
    <add key="DefaultEmployeeNumber" value="13106668" />
    <add key="ConfirmMsgAfterCaseRegistration" value="true" />
    <add key="CaseList" value="coworkers" />
	<add key="SignOutUrl" value="https://sts.ikeadt.com/adfs/ls/?wa=wsignout1.0" />
    <!-- "SelfService", "LineManager" -->
    <add key="CurrentApplication" value="SelfService" />
    <!-- Chat = true-->
	<add key="ShowCommunicationForSelfService" value="true" />

    <!-- Single Sign Keys-->
    <add key="ApplicationId" value="Line Manager" />
    <add key="ClaimDomain" value="DomainName" />
    <add key="ClaimUserId" value="ikealegacyuid" />
    <add key="ClaimEmployeeNumber" value="EmployeeNumber" />
    <add key="ClaimFirstName" value="FirstName" />
    <add key="ClaimLastName" value="LastName" />
    <add key="ClaimEmail" value="emailaddress" />
    <add key="ClaimPhone" value="Phone" />
    <add key="SSOLog" value="true" />
    <add key="LogoutUrl" value="https://sts.ikeadt.com/adfs/ls/?wa=wsignout1.0" />
    <!-- Access Management API Keys-->
    <add key="AM_Api_UriPath" value="https://dhjw01.datahalland.se:443/" />
    <add key="AM_Api_UserName" value="OperatorTest" />
    <add key="AM_Api_Password" value="asd123!" />
    <!--  SSO Security Token settings -->
    <add key="SSO.TokenLifeTime" value="240" />
    <add key="SSO.TokenMaxLifeTime" value="720" />
    <add key="SSO.EnableSlidingExpiration" value="true" />
    <add key="SSO.HandleSecurityTokenExceptions" value="true" />
    <add key="SSO.LogoutCustomerOnSessionExpire" value="false" />
	  <!-- 6Lem1d4ZAAAAAL3W2FI7nrlqToDYQYqPjNeMEhZh -->
    <add key="reCaptchaSiteKey" value="6Lem1d4ZAAAAAL3W2FI7nrlqToDYQYqPjNeMEhZh" />
    <add key="reCaptchaSecretKey" value="6Lem1d4ZAAAAACGdIZQDHvCq4CcuKLXGe9UhC-fZ" />
	    <add key="webpages:Enabled" value="false" />
	<add key="ClientId" value="62972f9e-9859-49f4-877c-256f1b66e089" />
    <add key="Tenant" value="common" /> <!--If your application supports My organization only, replace this value with the Tenant Id or Tenant name (for example, contoso.onmicrosoft.com)
    If your application supports Accounts in any organizational directory, replace this value with "organizations"
    If your application supports All Microsoft account users, replace this value with "common"-->
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
    <add key="RedirectUri" value="https://localhost:449/selfservice" />
    

  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--<location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <system.web>
    <customErrors mode="Off" />
    <!--<authorization>
      <deny users = "?" />
    </authorization>-->
    <!--<authorization>
      <allow users="*" />
    </authorization>-->
    <authentication mode="None" />
    <!--<authorization>
      <allow users="*"/>
    </authorization>-->
    <httpRuntime targetFramework="4.7.2" requestValidationMode="4.7.2" />
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!-- Session time out is set to 4hrs -->
    <sessionState timeout="240" />
    <!--Commented by Identity and Access VS Package-->
    <!--<identity impersonate="true" />-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
	  <modules runAllManagedModulesForAllRequests="true" />
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />      
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
	  <httpProtocol>
		  <customHeaders>
			  <remove name="X-Powered-By" />
		  </customHeaders>
	  </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">            
      <!--<dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--This is for Single Sign-->
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://localhost:447/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://fs.dhsolutions.se/adfs/services/trust">
          <keys>
            <!--<add thumbprint="2118731BB6FFE60C3B814EA2ED31F006B3A64CCA" />-->
            <!--<add thumbprint="b1b57fc18baef58fb9d562a07280efc4f5b38b26" />-->
            <add thumbprint="361b234c722ac9c4135ac56c38c1bd8781a1ab58" />
          </keys>
          <validIssuers>
            <add name="http://fs.dhsolutions.se/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://fs.dhsolutions.se/adfs/ls/" realm="https://localhost:44340/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>
  <!--<system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>-->
</configuration>
<!--ProjectGuid: {9DBE7D20-DEE8-427C-9A68-FC338B1108FC}-->