@model DH.Helpdesk.Web.Models.Case.CaseTemplateTreeModel

@{
    ViewBag.Title = "_CaseTemplateTree";
}

<div id="divCaseTemplate" class="btn-group">
    @*<<div class="btn" id="divBreadcrumbs_CaseTemplate">        
        a href="#">@Translation.Get("Ärendemall", Enums.TranslationSource.TextTranslation)</a>
    </div>*@
    <button class="btn dropdown-toggle" data-toggle="dropdown" >
         @Translation.Get("Ärendemall", Enums.TranslationSource.TextTranslation)
        <span class="caret">   </span>
    </button>
    <ul class="dropdown-menu">
        @Html.CaseSolutionDropdownButtonString(Model.CaseTemplateCategoryTree, Model.CustomerId)
    </ul>    
</div>

