@model DH.Helpdesk.Web.Models.Case.CaseTemplateTreeModel

@{
    ViewBag.Title = "";

    var isJS = "";
    if (ViewData["isJS"] != null)
    {
        isJS = ViewData["isJS"].ToString();
    }
}

<div id="divCaseTemplate" class="btn-group">
    @if (Model.CaseTemplateCategoryTree != null && Model.CaseTemplateCategoryTree.Count > 0)
    {
        <button class="btn dropdown-toggle" data-toggle="dropdown" id="btnCaseTemplateTree" >
             @Translation.Get("Ärendemall")
            <span class="caret"> </span>
        </button>
        <ul class="dropdown-menu subddMenu parentddMenu" style="z-index: 99999999999; max-height: 704px;">
            @Html.CaseSolutionDropdownButtonString(Model.CaseTemplateCategoryTree, Model.CustomerId, isJS)
        </ul>    
    }
</div>
