@{
    ViewBag.Title = "_CaseTemplate";
}

<div id="divFinishingCause" class="btn-group">
    <div class="btn" id="divBreadcrumbs_FinishingCause">@Model.Finishing_Cause_Path</div>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" value="">@Translation.Get("--", Enums.TranslationSource.TextTranslation)</a></li>
        @Html.FinishingCauseDropdownButtonString(Model.FinishingCauses)
    </ul>
    @Html.HiddenFor(model => model.CaseSolution.FinishingCause_Id)
</div>

