@model DH.Helpdesk.Web.Models.Case.LogNoteEmailsViewModel

@{
    var log = Model.CurrentLog;
}

@if (log.Mail2Tickets != null && log.Mail2Tickets.Any())
{
    @Html.Partial("_Mail2TicketEmails", Model)
}
else if (log.EmailLogs != null && log.EmailLogs.Any())
{
    foreach (var l in log.EmailLogs)
    {
        List<string> emails;
        {
            emails = l.Email.Split(',').ToList();
            if (l.CcEmail.Any())
            {
                emails.AddRange(l.CcEmail.Split(','));
            }
        }
        <div>
            @foreach (var e in emails.OrderBy(e => e)) {
                <p>@e</p>
            }
        </div>
    }
}
