@model DH.Helpdesk.Web.Models.Case.LogNoteEmailsViewModel

@{
    var log = Model.CurrentLog; 
 }

@if (log.CaseHistory != null)
{
    if (log.Mail2Tickets.Any())
    {
        @Html.Partial("_Mail2TicketEmails", Model)
    }
    else if (log.CaseHistory.Emaillogs != null && log.CaseHistory.Emaillogs.Any())
    {
        foreach (var l in log.CaseHistory.Emaillogs)
        {
            <div>
                <p>@l.EmailAddress</p>
            </div>
        }
    }
}