@model DH.Helpdesk.Web.Models.Case.LogNoteEmailsViewModel

@{
    var log = Model.CurrentLog;
}

@if (log.Mail2Tickets != null && log.Mail2Tickets.Any())
{
    @Html.Partial("_Mail2TicketEmails", Model)
}
else if (log.EmailLogs != null && log.EmailLogs.Any())
{
    foreach (var l in log.EmailLogs)
    {
        <div>
            <p>@l.Email</p>
        </div>
    }
}
