@model DH.Helpdesk.SelfService.Models.Case.CaseControlsPanelModel

@{
    var prefix = Model.Position > 1 ? Model.Position.ToString() : string.Empty;
 }

<div class="jumbotron greybar">
    <div class="workflowStepsLoader" style="display: none"><i class="gif-loader"></i></div>
    <div class="container-fluid " id="caseControlPanel@(prefix)" style="display: none">
        <div>
            @* NOTE: UI is set up from workflowStepsBehavior.js *@
            <div class="col-sm-1 pull-left save-button-div no-left-padding" style="display: none">
                <input name="btnSave@(prefix)" type="button"
                       value="@Translation.Get("Save and Send")"
                       class="btn btn-default save-button"
                       style="margin-right: 0px !important;"/>
            </div>

            <div class="col-sm-1 input-group workflowStepsPanel" style="display: none">
                <select name="steps" class="dropdown-group workflows-select">
                    @* options are populated from client via ajax request - see workflowStepsBehavior.js*@
                </select>
                <span class="input-group-btn">
                    <input name="btnGo@(prefix)" type="button" class="btn btn-default go-button" value="@Translation.Get("Send")"/>
                </span>
            </div>

        </div>
    </div>
</div>
