@model DH.Helpdesk.SelfService.Models.Shared.SendToDialogModel
@using System.Web.Optimization

@Scripts.Render("~/bundles/case/caseaddfollowerssearch")

<script type="text/javascript">
    $(function() {       
        InitCaseAddFollowersSearch('@Url.Action("CaseSearchUserEmails", "case")');
    });
</script>

<div id="case_add_followers_popup" role="dialog" class="modal fade" aria-labelledby="myModalLabelCase" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5> @Translation.Get("Select E-mail")</h5>
            </div>
            <div class="modal-body overflow-visible">
                <div id="caseAddFollowersModalInput" contenteditable="true" class="case-send-emails-div case-popup-div"></div>
            </div>
            <div class="modal-body overflow-visible case-dropdown-area">                
                <div class="case-followers-button-done">
                    <button type="button" id="btnCancel" class="btn btn-default" data-dismiss="modal" style="float: right;">@Translation.Get("Done")</button>
                </div>
            </div>
        </div>
    </div>
</div>
