@{
    ViewBag.Title = "Index";
}

<div>@ViewBag.test </div>
<div class="divforform">
    <p>
        <div>Sök</div> <input type="text" />
    </p>
    <p>
        <input type="button" value="Sök" />
    </p>
</div>
<div class="divforCaption">Ärenden</div>
<div class="divforform">
    <table>
        <tr>
            <th>Ärende</th>
            <th class="thtdDisplayNone">Registreringsdatum</th>
            <th class="thtdDisplayNone">Incidenttyp</th>
            <th class="thtdDisplayNone">Driftgrupp</th>
            <th class="thtdDisplayNone">Understatus1</th>
            <th>Rubrik</th>
        </tr>
        <tr>
            <td>Ärende</td>
            <td class="thtdDisplayNone">Registreringsdatum</td>
            <td class="thtdDisplayNone">Incidenttyp</td>
            <td class="thtdDisplayNone">Driftgrupp</td>
            <td class="thtdDisplayNone">Understatus1</td>
            <td>Rubrik</td>
        </tr>
        <tr>
            <td>Ärende</td>
            <td class="thtdDisplayNone">Registreringsdatum</td>
            <td class="thtdDisplayNone">Incidenttyp</td>
            <td class="thtdDisplayNone">Driftgrupp</td>
            <td class="thtdDisplayNone">Understatus1</td>
            <td>Rubrik</td>
        </tr>
    </table>
</div>
