@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.CommunicationFieldsModel
@if (Model.NetworkAdapterName.Show
        || Model.IPAddress.Show
        || Model.MacAddress.Show)
{
    <h4>@Translation.Get("Kommunikation")</h4>
    <div class="row">
        <div class="span12">
            <table class="tableform">
                @Html.EditorFor(m => m.NetworkAdapterName, "NotReadonlyFields/Text")
                @Html.EditorFor(m => m.IPAddress, "NotReadonlyFields/Text")
                @Html.EditorFor(m => m.MacAddress, "NotReadonlyFields/Text")
            </table>
        </div>
    </div>
}
