@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.OrganizationFieldsViewModel
<table class="tableform">
    @if (Model.OrganizationFieldsModel.DepartmentId.Show
        || Model.OrganizationFieldsModel.UnitId.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Organisation")</th>
        </tr>
    }
    @Html.EditorFor(m => m.OrganizationFieldsModel.DepartmentId, "NotReadonlyFields/List", new { Source = Model.Departments })
    @Html.EditorFor(m => m.OrganizationFieldsModel.UnitId, "NotReadonlyFields/Text")
</table>
