<script>

    $(document).ready(function () {

        var selectize_options = {
            sortField: [{ field: 'Id', direction: 'asc' }, { field: '$score' }],
            persist: false,
            valueField: 'Id',
            labelField: 'Name',
            searchField: 'Name',
            create: false,
            render: {
                option: function (item, escape) {

                    return '<div data-value="' + escape(item.Id) + '" data-selectable="" class="option">' + escape(item.Name) + '</div>';
                    //return '<div>' +
                    //    '<span class="title">' +
                    //        '<span class="name">' + escape(item.Name) + '</span>' +
                    //    '</span>' +
                    //'</div>';
                }
            },
            load: function (query, callback) {

                if (!query.length && query.length > 1) return callback();

                var url = core.baseUrl + "/" + core.area + "/" + core.controller;

                $.ajax({
                    url: url + '/CountrySearch?query=' + encodeURIComponent(query) + '&formGuid=' + encodeURIComponent(core.formGuid) + '&=' + Math.random(),
                    type: 'GET',
                    error: function () {
                        callback();
                    },
                    success: function (res) {
                        callback(res);
                    }
                });
            }
        };

        $('.autocomplete-country')
            .each(function (e, i) {
                var _this = $(this);
                if (!_this[0].selectize) {
                    _this.selectize(selectize_options);
                }
            });



    });
</script>