@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="reportsApp">
    <ng-view />
</div>

@Scripts.Render("~/bundles/angularjs")
@Scripts.Render("~/bundles/report")