<ng-container *ngIf="!fieldModel.hidden">
    <div class="col-md-6 control-label" *ngIf="fieldTemplate.isLabelHtml">
        <span [innerHtml]="fieldTemplate.label"></span>
        <span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
    </div>
    <div class="col-md-6 control-label" *ngIf="!fieldTemplate.isLabelHtml">
        <label [attr.for]="fieldModel.getUiPath()">
            {{ fieldTemplate.label }}<span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
        </label>
    </div>
    <div class="col-md-6">
        <div class="input-group" [class.ng-invalid]="fieldModel.control.invalid === true">
            <ng-container [formGroup]="form">
                <input [formControlName]="fieldTemplate.id" [id]="fieldModel.getUiPath()" class="form-control" (focus)="togglePopup()" />
                <div class="input-group-addon" aria-hidden="true" (click)="togglePopup()">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </ng-container>
            <div [class.hidden]="showDatepicker === false" *ngIf="renderDatePicker">
                <datepicker class="popup" *ngIf="fieldModel.template.mode === 'year'"
                            [(ngModel)]="dateModel"
                            [startingDay]="1"
                            [showWeeks]="false"
                            (selectionDone)="onDateChange($event)"
                            [datepickerMode]="'year'"
                            [minMode]="'year'"
                            [ngStyle]="{'bottom': inputHeight, 'left': '0'}">
                </datepicker>
                <datepicker class="popup" *ngIf="!fieldModel.template.mode"
                            [(ngModel)]="dateModel"
                            [startingDay]="1"
                            [showWeeks]="false"
                            (selectionDone)="onDateChange($event)"
                            [ngStyle]="{'bottom': inputHeight, 'left': '0'}">
                </datepicker>
            </div>
        </div>
        <validation-error [control]="fieldModel.control"></validation-error>
        <validation-warnings [warnings]="fieldModel.warnings"></validation-warnings>
    </div>
</ng-container>
