@{
    ViewBag.Title = Web.I18N.Translate("Session ended", "en");
}
@section Script {}
<div class="container-fluid" style="margin-top:60px;">
    <div class="row-fluid" style="text-align: center;">
        <div class="span12">
            <h2>Session ended</h2>
        </div>
    </div>
</div>
