<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Helpdesk"
				 connectionString="Server=DHUTVSQL6; Initial Catalog=Helpdesk-Test; User Id=helpdesk-test; Password=helpdesk-test;TrustServerCertificate=True;"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="SmtpServer" value="relay2.hostnet.se" />
		<add key="SmtpPort" value="25" />
		<add key="ErrorMailSender" value="noreply@dhsolutions.se" />
		<add key="ErrorMailRecipient" value="katarina.ask@dhsolutions.se" />
	</appSettings>
</configuration>