<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		
		<!--DB Settings-->
		<add key="dbServerInstance" value="dhdmzsql1.dhsolutions.se"/> 
		<add key="dbDatabase" value="DH_Helpdesk"/>
		<add key="dbUsername" value="DH_helpdesk"/>
		<add key="dbPassword" value="arita860"/>
		<!--End of DB Settings-->
		
		<!--Customername (Must match DB)-->
		<add key="customerName" value="Morups Reklamationer"/>
		<!--End of Customername-->

		<!--Email Settings-->
		<add key="fromEmail" value="support@dhsolutions.se"/>
		<add key="toEmails" value="7647ffb9.dhsolutions.se@emea.teams.ms,06872a7c.dhsolutions.se@emea.teams.ms"/>
		<add key="emailSubject" value="Antal licenser (SaaS)"/>
		<add key="smtpServer" value="smtprelay.hostnet.se"/>
		<add key="smtpPort" value="25"/>
		<!--End of Email Settings-->

	</appSettings>
</configuration>