<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		
		<!--DB Settings-->
		<add key="dbServerInstance" value="dhutvsql6"/> 
		<add key="dbDatabase" value="Helpdesk-Test"/>
		<add key="dbUsername" value="helpdesk-test"/>
		<add key="dbPassword" value="helpdesk-test"/>
		<!--End of DB Settings-->
		
		<!--Customername (Must match DB)-->
		<add key="customerName" value="Datahalland"/>
		<!--End of Customername-->

		<!--Email Settings-->
		<add key="fromEmail" value="testhelpdesk@dhsolutions.se"/>
		<add key="toEmails" value="mattias.arnesson@dhsolutions.se"/>
		<add key="emailSubject" value="Antal licenser (SaaS)"/>
		<add key="smtpServer" value="smtp.datahalland.se"/>
		<add key="smtpPort" value="25"/>
		<!--End of Email Settings-->

	</appSettings>
</configuration>