<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		
		<!--DB Settings-->
		<add key="dbServerInstance" value="dhutvsql6"/> 
		<add key="dbDatabase" value="Helpdesk-Test"/>
		<add key="dbUsername" value="helpdesk-test"/>
		<add key="dbPassword" value="helpdesk-test"/>
		<!--End of DB Settings-->
		

		<!--Email Settings-->
		<add key="fromEmail" value="support@dhsolutions.se"/>
		<add key="toEmails" value="7647ffb9.dhsolutions.se@emea.teams.ms,06872a7c.dhsolutions.se@emea.teams.ms"/>
		<add key="emailSubject" value="Antal licenser (SaaS) TEST (Ex DHSolutions) bara aktiva"/>
		<add key="smtpServer" value="smtprelay.hostnet.se"/>
		<add key="smtpPort" value="25"/>
		<!--End of Email Settings-->

	</appSettings>
</configuration>
