@{
    ViewBag.Title = "About";
}
<div class="content nonemenu">
    <div class="container">
        <ul class="nav nav-tabs">
            <li id="tab_1" class="active">
                <a href="#fragment-1">@Translation.Get("About DH Helpdesk", Enums.TranslationSource.TextTranslation)</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="fragment-1" class="tab-pane tab-pane-border active">
                <div class="container">
                    <div class="row">
                        <div class="span8">
                            <h2>About DH Helpdesk</h2>
                            <p>DH Helpdesk is the complete case management system for those who want current information and monitor your cases. The program handles everything from registration, distribution, monitoring, tracking, inventory statistics and billing.
In DH Helpdesk case registration the focus has been on simplicity, so that administrators can focus on solving their cases.</p>
                        </div>
                        <div class="span3" style="background:#ff6a00;">
                            <p style="color:#fff;text-align:center;">DH Helpdesk has over</p>
                            <p style="font-size:80px; color:#fff;line-height:120px;text-align:center;">5200</p>
                            <p style="color:#fff;text-align:center;">users</p>
                        </div>
                        <div class="span3" style="background:#b200ff;">
                            <p style="color:#fff;text-align:center;">DH Helpdesk is used in over</p>
                            <p style="font-size:80px; color:#fff;line-height:120px;text-align:center;">20</p>
                            <p style="color:#fff;text-align:center;">countries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

