@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Models.Projects.FilesModel
@if (!Model.Files.Any())
{
    @Translation.Get("No uploaded files", Enums.TranslationSource.TextTranslation)
    return;
}

<table>
    @foreach (var file in Model.Files)
    {
        <tr>
            <td>
                @Html.ActionLink(file, "DownloadFile", new { guid = Model.Guid, fileName = file })
            </td>
            <td>
                <a onclick="deleteFile('@Model.Guid', '@file')" class="btn">@Translation.Get("Ta bort", Enums.TranslationSource.TextTranslation)</a>
            </td>
        </tr>
    }
</table>