@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.BusinessRule.BusinessRuleIndexModel
@{
    ViewBag.Title = "Input Rule";
}

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#fragment-1">@Translation.Get("New Rule", Enums.TranslationSource.TextTranslation)</a></li>                        
        </ul>

        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment-1">
                <table>
                    <tr>
                        <td class="span2">RuleName 
                        </td>
                        <td>
                            <input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="span2">Event 
                        </td>
                        <td>
                            <select>
                                <option></option>
                                <option>On Save Case</option>
                                <option>On Open Case</option>
                                <option>On Delete Case</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="span2">
                            Active                            
                        </td>
                        <td>
                            <input type="checkbox" checked="checked" />
                        </td>
                    </tr>
                </table>
                @Html.Partial("_RuleCondition", Model)
                @Html.Partial("_RuleAction", Model)
            </div>            
        </div>        
    </div>
</div>