:host {
  display: block!important;
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #ccc;
}

input.fileupload {  
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;  
}

label {
  background: #F2F3F3;
  font-size: 16px;
  display: block;
  text-align: right;
  
  span.mbsc-btn {
    color:#1272dc!important;
    margin-right:10px;
    z-index: 999;
  }
}


.mbsc-ic:before {
 margin-right:10px;
}

.block{
 margin-bottom:5px;
}