@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
 <body>
          <div>
            <p style="font-family: Verdana; font-size: 11px;">
                <strong>Bijlage bij het contract betreffende Protocol 4</strong><br />
                <br />
            </p>

            <p style="font-family: Verdana; font-size: 11px;">
                Aansluitend op de afspraken, zoals deze zijn vastgelegd in de CAO, kan IKEA gebruik maken van de mogelijkheid om de medewerker op meer en andere uren (mocht dit noodzakelijk zijn) in te roosteren dan de uren waar hij/zij voor op papier staat. Deze uren worden in de IKEA CAO inconveniënte uren genoemd. Meer informatie hierover staat in CAO artikel 20C.
         <br /><br />

                Het inroosteren van de inconveniënte uren zal zoveel mogelijk in overleg met de medewerker gebeuren.

                <br /><br />
                In onderstaande tabel wordt aangegeven binnen welke kaders afspraken kunnen worden gemaakt ten aanzien van extra in te roosteren inconveniënte uren.

                      <br /><br />
            Tabel 1: Aanvullende afspraken inconveniënte uren:
                <br /> <br />
            </p>
     <p style="font-family: Verdana; font-size: 11px;">
       <table border="1" cellpadding="5">
            <tr >
                <th border="0"></th>
                <th colspan="4"><strong>aantal contracturen</strong></th>
            </tr>
            <tr>
                <td border="0"></td>
                <td align="center" valign="bottom"><u>&lt;</u> 12 + vulploeg</td>
                <td align="center" valign="bottom">13-21</td>
                <td align="center" valign="bottom">22-31</td>
                <td align="center" valign="bottom"><u>&gt;</u> 32</td>
            </tr>
            <tr height="20">
                <td border="0" height="20" color="white">_</td>
                <td colspan="4" color="white">_</td>
            </tr>
            <tr>
                <td width="40%"><strong>maximaal aantal koopavonden per 4 weken</strong></td>
                <td align="center" valign="bottom">geen maximum/ in overleg</td>
                <td align="center" valign="bottom">6</td>
                <td align="center" valign="bottom">7</td>
                <td align="center" valign="bottom">8</td>
            </tr>
             <tr>
                <td><strong>maximaal aantal zaterdagavonden per 6 weken</strong></td>
                <td align="center" valign="bottom">geen maximum/ in overleg</td>
                <td align="center" valign="bottom">2</td>
                <td align="center" valign="bottom">2</td>
                <td align="center" valign="bottom">3</td>
            </tr>
               <tr>
                <td><strong>maximaal aantal zaterdagen per 2 weken</strong></td>
                <td align="center" valign="bottom">geen maximum/ in overleg</td>
                <td align="center" valign="bottom">2</td>
                <td align="center" valign="bottom">2</td>
                <td align="center" valign="bottom">2</td>
            </tr>
               <tr>
                <td><strong>maximaal aantal zondagen/feestdagen per jaar</strong></td>
                <td align="center" valign="bottom">geen maximum/ in overleg</td>
                <td align="center" valign="bottom">6*</td>
                <td align="center" valign="bottom">6*</td>
                <td align="center" valign="bottom">6*</td>
            </tr>
           </table>
         </p>
        </div>
        <endpage />
</body>
</html>
