@model dhHelpdesk_NG.Domain.Customer
@{
    ViewBag.Title = "Index";
}

<div class="divforform">
    Välkommen till Helpdesks sida för felanmälan och frågor. Under Aktuellt finner du information om kända fel och driftstörningar m m. När du vill göra en felanmälan eller ställa en fråga: Börja med att skriva in ditt användar-id och klicka på Hämta användaruppgifter. Fyll sedan i övriga uppgifter och klicka på Spara och skicka. Lokala adminrättigheter
</div>
<div class="divforCaption">Användarinformation</div>
<div class="divforform">
    @{dhHelpdesk_NG.Domain.CaseFieldSetting _CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "ReportedBy").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
    <ul>
        <li>Användar ID</li>
        <li><input type="text" id="txtReportedBy" /></li>
        <li><a href="">Hämta användaruppgifter</a></li>
    </ul> 
    }
    
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "Persons_Name").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
        <ul>
            <li>Namn</li>
            <li><input type="text" id="txtPersons_Name" /></li>
        </ul>     
    }
    
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "Persons_EMail").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>E-post</li>
                <li><input type="text" id="txtPersons_EMail" /></li>
            </ul>    
         
    }
    
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "Persons_Phone").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>Telefon</li>
                <li><input type="text" id="txtPersons_Phone" /></li>
            </ul>    
         
    }
    
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "Persons_CellPhone").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>Område</li>
                <li></li>
            </ul>    
         
    }
    
</div>
<div class="divforCaption">Datorinformation</div>
<div class="divforform">
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "InventoryNumber").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>PC-nummer</li>
                <li><input type="text" id="txtInventoryNumber" /></li>
            </ul>    
         
    }
   
</div>
<div class="divforCaption">Ärendeinformation</div>
<div class="divforform">
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "CaseType_Id").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>Ärendetyp</li>
                <li><select></select></li>
            </ul>    
         
    }
    
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "ProductArea_Id").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>Ämnesområde</li>
                <li><select></select></li>
            </ul>    
         
    }

    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "Caption").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>Rubrik</li>
                <li><input type="text" id="txtCaption" /></li>
            </ul>    
         
    }
   
    @{_CaseFieldSetting = Model.CaseFieldSettings.Where(x => x.CaseField == "Description").FirstOrDefault();}

    @if (_CaseFieldSetting.ShowExternal == 1)
    {
            <ul>
                <li>Beskrivning</li>
                <li><textarea id="txtDescription" cols="50" rows="5"></textarea></li>
            </ul>    
         
    }
</div>
<div class="divforButton">
    <input type="button" value="Spara och Skicka" /> <input type="button" value="Rensa" />
</div>

