@using DH.Helpdesk.Web.Models.Questionnaire.Output
@model StatisticsViewModel
<div class="secnavs fixed">
    <div class="pull-left">
        <ul class="secnav">
            <li>
                <a href="@Url.Action("CircularOverview", new { questionnaireId = Model.QuestionnaireId })" class="btn">
                    @Translation.Get("Avbryt")
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"></li>
        </ul>
        @Html.Partial("StatisticsGrid", Model)
    </div>
</div>
