@model DH.Helpdesk.Web.Models.SurveyViewModel
           
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs"><li class="active"><a href="#fragment=1">@Translation.Get("Ärende") @ViewBag.CaseNumber</a></li></ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active">
                <div class="container">
                    <h2>@Translation.Get("Tack för att du deltog i undersökningen")</h2>
                    <div>@Translation.Get("Du angav")&nbsp;@Translation.Get(Model.SurveyTextResult)</div>
                </div>
            </div>
        </div>
    </div>
</div>