<ng-container *ngIf="fieldModel.controls else loading">
    <ng-container [formGroup]="fieldModel.controls" *ngIf="!fieldModel.hidden">
        <div class="col-md-6 control-label" *ngIf="fieldTemplate.isLabelHtml" >
            <span [innerHtml]="fieldTemplate.label"></span>
            <span [class.required-invalid]="fieldModel.controls.invalid">{{ isRequiredLabel }}</span>
        </div>
        <label class="col-md-6 control-label" *ngIf="!fieldTemplate.isLabelHtml">
            {{ fieldTemplate.label }}<span [class.required-invalid]="fieldModel.controls.invalid">{{ isRequiredLabel }}</span>
        </label>
        <div class="col-md-6">
            <div class="checkbox" [class.ng-invalid]="fieldModel.controls.invalid === true">
                <ng-container *ngIf="fieldModel.items.length > 0">
                    <label *ngFor="let item of fieldModel.items" [attr.for]="generateId(item.value)">
                        <input type="checkbox" [formControlName]="item.value" [name]="fieldTemplate.id" [id]="generateId(item.value)" [value]="item.value"/> {{item.text}}
                    </label>
                </ng-container>
            </div>
            <validation-error [control]="fieldModel.controls"></validation-error>
            <validation-warnings [warnings]="fieldModel.warnings"></validation-warnings>
        </div>
    </ng-container>
</ng-container>
<ng-template #loading>
    <label> Loading data...</label>
</ng-template>
