<ng-container [formGroup]="form" *ngIf="!fieldModel.hidden">
    <div class="col-md-6 control-label" *ngIf="fieldTemplate.isLabelHtml" >
        <span [innerHtml]="fieldTemplate.label"></span>
        <span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
    </div>
    <label [attr.for]="fieldModel.getUiPath()" class="col-md-6 control-label" *ngIf="!fieldTemplate.isLabelHtml">
        {{ fieldTemplate.label }}<span [class.required-invalid]="fieldModel.control.invalid">{{ isRequiredLabel }}</span>
    </label>
    <div class="col-md-6">
        <textarea [formControlName]="fieldTemplate.id" [id]="fieldModel.getUiPath()" class="form-control" rows="4"></textarea>
        <validation-error [control]="fieldModel.control"></validation-error>
        <validation-warnings [warnings]="fieldModel.warnings"></validation-warnings>
    </div>
</ng-container> 