<mbsc-popup [options]="popupSettings" #alertpopup>
    <div class="alerts" *ngIf="alerts && alerts.length">
        <div *ngFor="let alertType of alertTypes">
            <div *ngTemplateOutlet="alertsTemplate;context:{ alerts: (alerts | alertsFilter:alertType), type: alertType }"></div>
        </div>
    </div>    
</mbsc-popup>

<ng-template #alertsTemplate let-items="alerts" let-alertType="type">

    <div *ngIf="items && items.length" class="{{ getCssClass(alertType) }}">
        <mbsc-button class="close" flat icon="fa-close" (click)="removeAlerts(alertType)"></mbsc-button>        
        <ul>
            <li *ngFor="let alert of items">{{ alert.message }}</li>
        </ul>
    </div>
</ng-template>