@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;
@{
    Layout = null;
}

        
<!-- The automaticaly repeated table header -->
<!-- To disable the repeating of the header add style="display: table-row-group" to thead -->
<thead>
    <tr>
        <td colspan="2">
            <table style="border:none; width:100%;">
                <tr>
                    <td style="width: 200px">
                        @*<img alt="Logo Image" style="float: left" src="img/logo.jpg" />*@
                            <img style="border: none; max-width: 200px; align-content:center" src="@Model.Contract.BaseUrl/FormLibContent/Assets/img/IKEA_logo_RGB_2.jpg" />
                    </td>                               
                </tr>
            </table>
        </td>
    </tr>
</thead>           


