/****** Object:  Table [dbo].[CBD_IN_CEM_BU_ADDRESS_T]    Script Date: 2017-11-29 09:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CBD_IN_CEM_BU_ADDRESS_T](
	[BUAH_TK] [int] NOT NULL,
	[CLT_CLASS] [varchar](2) NOT NULL,
	[CLUT_TYPE] [varchar](3) NOT NULL,
	[CLU_CODE] [varchar](5) NOT NULL,
	[ADT_TYPE] [varchar](5) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[GAT_TYPE_CTY] [varchar](3) NOT NULL,
	[GA_CODE_CTY] [varchar](10) NOT NULL,
	[ZIP_CODE] [varchar](55) NULL,
	[STREET] [varchar](55) NULL,
	[CITY] [varchar](55) NULL,
	[GAT_TYPE_STATE] [varchar](3) NULL,
	[GA_CODE_STATE] [varchar](10) NULL,
	[ADDITIONAL_INFO] [varchar](200) NULL,
	[POST_BOX] [varchar](20) NULL,
	[VALID_FROM] [datetime] NOT NULL,
	[VALID_TO] [datetime] NULL,
	[II_DATE] [datetime] NULL,
	[IU_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[IIP_INSERT_DATE] [datetime] NOT NULL,
	[IIP_UPDATE_DATE] [datetime] NOT NULL
 CONSTRAINT [PK_CBD_IN_CEM_BU_ADDRESS_T] PRIMARY KEY CLUSTERED 
(
	[BUAH_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CBD_IN_CEM_BU_BANK_ACCOUNT_T]    Script Date: 2017-11-29 09:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CBD_IN_CEM_BU_BANK_ACCOUNT_T](
	[BUBNKAH_TK] [int] NOT NULL,
	[CLT_CLASS] [varchar](2) NOT NULL,
	[CLUT_TYPE] [varchar](3) NOT NULL,
	[CLU_CODE] [varchar](5) NOT NULL,
	[ACCOUNT_NO] [varchar](35) NOT NULL,
	[CUR_CODE] [varchar](3) NULL,
	[BANK_NAME] [varchar](140) NULL,
	[SWIFT_CODE] [varchar](20) NULL,
	[IBAN] [varchar](34) NULL,
	[II_DATE] [datetime] NULL,
	[IU_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[IIP_INSERT_DATE] [datetime] NOT NULL,
	[IIP_UPDATE_DATE] [datetime] NOT NULL
 CONSTRAINT [PK_CBD_IN_CEM_BU_BANK_ACCOUNT_T] PRIMARY KEY CLUSTERED 
(
	[BUBNKAH_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CBD_IN_CEM_BU_MEDIA_T]    Script Date: 2017-11-29 09:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CBD_IN_CEM_BU_MEDIA_T](
	[BUAH_TK] [int] NOT NULL,
	[CLT_CLASS] [varchar](2) NOT NULL,
	[CLUT_TYPE] [varchar](3) NOT NULL,
	[CLU_CODE] [varchar](5) NOT NULL,
	[ADT_TYPE] [varchar](5) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[SEQ_NO_ADDR] [int] NOT NULL,
	[MEDT_TYPE] [varchar](10) NOT NULL,
	[ADDRESS] [varchar](115) NOT NULL,
	[ADDITIONAL_INFO] [varchar](55) NULL,
	[VALID_FROM] [datetime] NOT NULL,
	[VALID_TO] [datetime] NULL,
	[II_DATE] [datetime] NULL,
	[IU_DATE] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[IIP_INSERT_DATE] [datetime] NOT NULL,
	[IIP_UPDATE_DATE] [datetime] NOT NULL
 CONSTRAINT [PK_CBD_IN_CEM_BU_MEDIA_T_1] PRIMARY KEY CLUSTERED 
(
	[BUAH_TK] ASC,
	[SEQ_NO] ASC,
	[MEDT_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CBD_IN_CEM_BUSINESS_UNIT_T]    Script Date: 2017-11-29 09:41:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CBD_IN_CEM_BUSINESS_UNIT_T](
	[BU_TK] [int] NOT NULL,
	[CLT_CLASS] [varchar](2) NOT NULL,
	[CLUT_TYPE] [varchar](3) NOT NULL,
	[CLU_CODE] [varchar](5) NOT NULL,
	[NAME] [varchar](90) NOT NULL,
	[NAME_SHORT] [varchar](55) NULL,
	[VALID_FROM] [datetime] NOT NULL,
	[VALID_TO] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[II_DATE] [datetime] NULL,
	[IU_DATE] [datetime] NULL,
	[IIP_UPDATE_DATE] [datetime] NOT NULL,
	[IIP_INSERT_DATE] [datetime] NOT NULL
 CONSTRAINT [PK_CBD_IN_CEM_BUSINESS_UNIT_T] PRIMARY KEY CLUSTERED 
(
	[BU_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CBD_IN_CEM_E_BU_TAX_REG_T]    Script Date: 2017-11-29 09:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CBD_IN_CEM_E_BU_TAX_REG_T](
	[BUTRGH_TK] [int] NOT NULL,
	[CLT_CLASS] [varchar](2) NOT NULL,
	[CLUT_TYPE] [varchar](3) NOT NULL,
	[CLU_CODE] [varchar](5) NOT NULL,
	[GAT_TYPE] [varchar](3) NOT NULL,
	[GA_CODE] [varchar](10) NOT NULL,
	[TRGT_TYPE] [varchar](6) NOT NULL,
	[TAX_REG_NO] [varchar](30) NOT NULL,
	[VALID_FROM] [datetime] NOT NULL,
	[VALID_TO] [datetime] NULL,
	[DELETE_DATE] [datetime] NULL,
	[IIP_INSERT_DATE] [datetime] NOT NULL,
	[IIP_UPDATE_DATE] [datetime] NOT NULL,
	[SRC_NAME_INS] [varchar](10) NULL,
	[II_DATE] [datetime] NOT NULL,
	[IU_DATE] [datetime] NOT NULL
 CONSTRAINT [PK_CBD_IN_CEM_E_BU_TAX_REG_T] PRIMARY KEY CLUSTERED 
(
	[BUTRGH_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

