<div class="header mbsc-form mbsc-padding">
    <h2 translate>Skapa ärende</h2>
</div>

<mbsc-listview [options]="templatesListSettings" #templatesListView="mobiscroll">
  <ng-container *ngFor="let node of templateNodes; trackBy: trackByFn">
    <mbsc-listview-item *ngIf="!isCategory(node)" (click)="openTemplate(node)" [class.disabled]="node.disabled">{{ node.name }}</mbsc-listview-item>
    <mbsc-listview-item *ngIf="isCategory(node)"><span>{{ node.name }}</span>
      <mbsc-listview-sublist>
        <mbsc-listview-item *ngFor="let template of node.items" (click)="openTemplate(template)">
          {{ template.name }}
        </mbsc-listview-item>
      </mbsc-listview-sublist>
    </mbsc-listview-item>
  </ng-container>
</mbsc-listview>
