<div data-id='{{:Id}}'>
    <table class='articles-params'>
        <thead>
            <tr>
                <th>{{:SelectItemHeader}}</th>
                <th>{{:UnitsHeader}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select class='multiselect articles-params-article'>
                    </select>
                </td>
                <td>
                    <input type='text' class='articles-params-units input-small-important' value='{{:DefaultAmount}}' />
                </td>
                <td>
                    <input type='button' class='articles-params-add btn' value='{{:AddButtonLabel}}' />
                </td>
            </tr>
        </tbody>
    </table>
    <div id="case-invoice-orders-tabs">
        <ul>
            <li>
                <i class="icon-plus-sign" style="cursor: pointer;" onclick="dhHelpdesk.CaseArticles.AddOrder('{{:Id}}'); return false;"></i>
                <i class="icon-minus-sign" style="cursor: pointer;" onclick="dhHelpdesk.CaseArticles.DeleteCurrentOrder('{{:Id}}'); return false;"></i>
            </li> 
            <li><a href="#case-invoice-order-summary{{:Id}}">{{:SummaryTitle}}</a></li>          
        </ul>
        <div class="orders-container">
            {{for Orders tmpl="caseInvoiceOrder" /}} 
            <div id="case-invoice-order-summary{{:Id}}">
                <div  class='textbold' style='text-align: left;'>
                    {{:TotalLabel}}: <span id='case-invoice-order-summary-total'>{{:Total}}</span>
                </div>                              
            </div>
        </div>
    </div>
</div>
