{{if IsBlank }}    
    <tr data-id='{{:Id}}' title='{{:Description}}'>
        <td colspan='8'>{{:Name}}</td>                    
    </tr>
{{else}}    
    <tr data-id='{{:Id}}' title='{{:Description}}'>        
        <td class="case-invoice-colnarrow">{{:Number}}</td>
        <td class="case-invoice-colwide">{{:Name}}</td>
        <td class="case-invoice-colwide">{{:NameEng}}</td>
        <td class="case-invoice-colnarrow">
            {{if IsCredited }}
                -{{:Amount}}
            {{else}}
                 {{:Amount}}
            {{/if}}
        </td>
        <td class="case-invoice-colnarrow">{{:UnitName}}</td>
        <td class="case-invoice-colnarrow">{{:Ppu}}</td>
        <td style="text-align: right;" class="case-invoice-colextranarrow" colspan="2">{{:Total}}</td>                   
    </tr>              
{{/if}}  
