{{if IsBlank }}    
    <tr data-id='{{:Id}}' title='{{:Description}}'>
        <td colspan='7'>{{:Name}}</td>
        <td>
            {{if IsInvoiced }}
                <i class='icon-flag icon-green'></i>
            {{/if}}   
        </td>                 
    </tr>
{{else}}    
    <tr data-id='{{:Id}}' title='{{:Description}}'>
        <td class="case-invoice-colnarrow">{{:Number}}</td>
        <td class="case-invoice-colwide">{{:Name}}</td>
        <td class="case-invoice-colwide">{{:NameEng}}</td>
        <td class="case-invoice-colnarrow">{{:Amount}}</td>
        <td class="case-invoice-colnarrow">{{:UnitName}}</td>
        <td class="case-invoice-colnarrow">{{:Ppu}}</td>
        <td style="text-align: right;" class="case-invoice-colextranarrow">{{:Total}}</td>
        <td>
            {{if IsInvoiced }}
                <i class='icon-flag icon-green'></i>
            {{/if}}
        </td>
    </tr>              
{{/if}}  
