<div id="case-invoice-order{{:Id}}" class="case-invoice-order tab-pane tab-pane-border active" data-id='{{:Id}}'>
    <table>
        <tr>
            <td class='width100'>
                <table class='width100 table table-striped table-bordered table-hover'>
                    <tr>
                        <th class="case-invoice-colnarrow">{{:ArtNoHeader}}</th>
                        <th>{{:NameHeader}}</th>
                        <th>{{:NameEngHeader}}</th>
                        <th class="case-invoice-colnarrow">{{:UnitsHeader}}</th>
                        <th>{{:TypeHeader}}</th>
                        <th>{{:PpuHeader}} SEK</th>                        
                        {{if IsInvoiced }}
                            <th colspan="3" style="text-align: right;"> {{:TotalHeader}}</th>
                        {{else}}          
                            {{if IsCredited }}  
                                <th colspan="1" style="text-align: right;"> {{:TotalHeader}}</th>
                                <td colspan="2">
                                </td>
                            {{else}}                   
                                <th colspan="1" style="text-align: right;"> {{:TotalHeader}} </th>
                                <th class="case-invoice-colextranarrow"></th>                    
                                <th>                                
                                </th>        
                            {{/if}}
                        {{/if}}
                       
                    </tr>
                    <tbody class='articles-rows'>
                        {{for Articles tmpl="caseInvoiceArticle" /}}                                                                       
                    </tbody>
                </table>
            </td>
            <td style='vertical-align: top;'>           
            </td>
        </tr>
         <tr>        
            <td style='text-align: right; padding:8px'>
                {{if IsCredited }}
                    <span class='textbold'>{{:TotalLabel}} SEK</span> -<span class='articles-total'>{{:Total}}</span>
                {{else}}        
                    <span class='textbold'>{{:TotalLabel}} SEK</span> <span class='articles-total'>{{:Total}}</span>
                {{/if}}
            </td>
        </tr>
    </table>
    
    <div class="row-fluid">
        <div class="span6">
            <h4>                        
                <i style="display:inline-block" class="icon-plus-sign showRefrence{{:Id}}" onclick="dhHelpdesk.CaseArticles.ExpandOtherReference('{{:Id}}')"></i>
                <i style="display:none"   class="icon-minus-sign hideRefrence{{:Id}}" onclick="dhHelpdesk.CaseArticles.CollapseOtherReference('{{:Id}}')"></i> 
                {{:ReferenceTitle}}&nbsp;<span id="initiatorInfo_{{:Id}}"></span> 
            </h4>
            <div>
                <table class="tableform">
                    {{if ShowReportedBy}}                    
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:ReportedByTitle}}
                        </td>
                        <td>
                            <input type="text" id="ReportedBy_{{:Id}}" maxlength="40" autocomplete="Off" class="InitiatorFields_{{:Id}} reportedby characterMapping" value="{{:ReportedBy}}" data-orderid="{{:Id}}"/>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>
                            <input type="hidden" value="{{:ReportedBy}}" id="Hidden1" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowPersons_Name}}
                    <tr class="InitiatorFieldsOrder{{:Id}}  InitiatorField">
                        <td>{{:Persons_NameTitle}}
                        </td>
                        <td>
                            <input type="text" id="Persons_Name_{{:Id}}" class="InitiatorFields_{{:Id}} name characterMapping" maxlength="40" autocomplete="Off" value="{{:Persons_Name}}" data-orderid="{{:Id}}"/>
                        </td>
                    </tr>
                    {{else}}
                    <tr style="display: none;">
                        <td>
                            <input type="hidden" id="Hidden2" value="{{:Persons_Name}}" class="name" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowPersons_Email}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:Persons_EmailTitle}}
                        </td>
                        <td>
                            <input type="text" id="Persons_Email_{{:Id}}" class="InitiatorFields_{{:Id}} email characterMapping"  maxlength="40" autocomplete="Off" value="{{:Persons_Email}}" data-orderid="{{:Id}}"/>
                        </td>
                    </tr>
                    {{else}}
                    <tr style="display: none;">
                        <td>
                            <input type="hidden" id="Hidden3" class="phone" value="{{:Persons_Email}}" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowPersons_Phone}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:Persons_PhoneTitle}}
                        </td>
                        <td>
                            <input type="text" id="Persons_Phone_{{:Id}}" class="InitiatorFields_{{:Id}} phone characterMapping" maxlength="40" autocomplete="Off" value="{{:Persons_Phone}}" data-orderid="{{:Id}}"/>
                        </td>
                    </tr>
                    {{else}}
                    <tr style="display: none;">
                        <td>
                            <input type="hidden" id="Hidden4" class="phone" value="{{:Persons_Phone}}" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowPersons_CellPhone}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:Persons_CellPhoneTitle}}
                        </td>
                        <td>
                            <input type="text" id="Persons_CellPhone_{{:Id}}" class="InitiatorFields_{{:Id}} cellphone characterMapping"  maxlength="40" autocomplete="Off" value="{{:Persons_CellPhone}}" data-orderid="{{:Id}}"/>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>
                            <input type="hidden" class="cellphone" id="Hidden5" value="{{:Persons_CellPhone}}" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowRegion_Id}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:Region_IdTitle}}
                        </td>
                        <td>
                            <select class="InitiatorFields_{{:Id}} region RegionSelect" id="RegionSelect-Order{{:Id}}" data-orderid="{{:Id}}" >
                            </select>
                            <input type="hidden" class="region RegionId" id="RegionId_{{:Id}}" value="{{:Region_Id}}" />
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>
                            <input type="hidden" value="{{:Region_Id}}" />
                        </td>
                    </tr>
                    {{/if}}
                        {{if ShowDepartment_Id}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:Department_IdTitle}}
                        </td>
                        <td>
                            <select class="InitiatorFields_{{:Id}} department DepartmentSelect" id="DepartmentSelect-Order{{:Id}}" data-orderid="{{:Id}}" >
                                <option value=""></option>
                            </select>
                            <input type="hidden" id="DepartmentId_{{:Id}}" class="DepartmentId"  value="{{:Department_Id}}" />
                        </td>
                    </tr>
                    {{else}}
                    <tr style="display: none;">
                        <td>
                            <input type="hidden" class="department" id="Hidden6" value="{{:Department_Id}}" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowOU_Id}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:OU_IdTitle}}
                        </td>
                        <td>
                            <select class="InitiatorFields_{{:Id}} ou OUSelect" id="OUSelect-Order{{:Id}}"" >
                                <option value=""></option>
                            </select>
                            <input type="hidden" id="OUId_{{:Id}}" class="OUId" value="{{:OU_Id}}" />
                        </td>
                    </tr>
                    {{else}}
                    <tr style="display: none;">
                        <td>
                            <input type="hidden" id="Hidden7" value="{{:OU_Id}}" />
                        </td>
                    </tr>
                    {{/if}}

                    {{if ShowCostCentre}}                           
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:CostCentreTitle}}
                        </td>
                        <td>
                            <input type="text" id="CostCentre_{{:Id}}" class="InitiatorFields_{{:Id}} costcentre"  maxlength="40" autocomplete="Off" value="{{:CostCentre}}" data-orderid="{{:Id}}"/>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>
                            <input type="hidden" class="costcentre" id="Hidden10" value="{{:CostCentre}}" />
                        </td>
                    </tr>
                    {{/if}}

                    {{if ShowPlace}}
                    <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                        <td>{{:PlaceTitle}}
                        </td>
                        <td>
                            <input type="text" id="Place_{{:Id}}" class="InitiatorFields_{{:Id}} place characterMapping" maxlength="40" autocomplete="Off" value="{{:Place}}" />
                        </td>
                    </tr>
                    {{else}}
                    <tr style="display: none;">
                        <td>
                            <input type="hidden" id="Hidden8" class="place" value="{{:Place}}" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if ShowUserCode}}
                        <tr class="InitiatorFieldsOrder{{:Id}} InitiatorField">
                            <td>{{:UserCodeTitle}}
                            </td>
                            <td>
                                <input type="text" id="UserCodeId_{{:Id}}" class="InitiatorFields_{{:Id}} usercode characterMapping" maxlength="40" autocomplete="Off" value="{{:UserCode}}" />
                            </td>
                        </tr>
                    {{else}}
                        <tr style="display: none;">
                            <td>
                                <input type="hidden" class="usercode" id="Hidden9" value="{{:UserCode}}" />
                            </td>
                        </tr>
                    {{/if}}
                </table>
            </div>
        </div>
        <div class="span6">
            <h4>
                <i style="display:inline-block" class="icon-plus-sign showAttached" onclick="dhHelpdesk.CaseArticles.ShowAttached('{{:Id}}')"></i> 
                <i style="display:none"   class="icon-minus-sign hideAttached" onclick="dhHelpdesk.CaseArticles.HideAttached('{{:Id}}')"></i>         
                {{:attachedFilesTitle}} <span id="orderAttachedFilesNum_{{:Id}}">  </span> 
            </h4>
            <div class="attachedshow" style="display:none;">
                <table>
                    <tbody>
                        <tr>                                                                      
                            <td>
                                <button id="invoiceSelectFile_{{:Id}}" class="btn invoiceFileUploader" onclick="dhHelpdesk.CaseArticles.SelectCaseFiles('{{:Id}}'); return false;">{{:attachFilesTitle}}</button>
                            </td>
                        </tr>           
                        <tr>
                            <td colspan="2">
                                <div style="margin-bottom: 1em;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="files-container"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>       
    </div>
    <div class="row-fluid">
        <div id="orderButtonsArea" class="span12" style="border-top:1px solid #ccc;margin-top:20px; padding-top:20px;">        
            <button id="doInvoiceButton_{{:Id}}" class="btn orderButtons" onclick="dhHelpdesk.CaseArticles.DoOrderInvoice('{{:Id}}'); return false;" data-orderid="{{:Id}}">{{:doInvoiceTitle}}</button>
                <div id="SelDepMessage" style="color:red; padding-top:5px;" align="right" >               
                </div>
                <button class="btn orderButtons" id="actions-credit-order_{{:Id}}" class="actions-credit-order" onclick="dhHelpdesk.CaseArticles.DoOrderCredit('{{:Id}}'); return false;"> {{:doCreditTitle}}</button>
                {{if IsInvoiced }}
                <span class="textbold">{{:InvoicedByTitle}}</span> <span>{{:InvoicedByUser}} - {{:InvoiceDate}} {{:InvoiceTime}}</span>
                {{/if}}
            </div>            
        
    </div>
    <div class="loading-msg save-invoice" style="display:none">        
        <div class="content-wrapper">
            <div class="loader"> {{:SavingMessage}} </div>
        </div>      
    </div>
</div>
