{{if IsBlank }}
    {{if IsInvoiced }}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td colspan='7'>{{:Name}}</td>            
        </tr>
    {{else}}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td colspan='7'>
                <input id="Description_{{:Id}}" 
                        onkeypress="dhHelpdesk.CaseArticles.UpdateCharacterCount({{:Id}})"                        
                        onkeyup="dhHelpdesk.CaseArticles.UpdateCharacterCount({{:Id}})"
                        onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' 
                        type='text' class='width80 article-name' maxlength='50' value='{{:Name}}' />
                <span id="DescriptionCount_{{:Id}}" style="color:GrayText;font-size:smaller">{{:DescriptionCount}} </span>
            </td>             
            <td style="width:5%">
                <a href='javascript:void(0);' onclick='dhHelpdesk.CaseArticles.DeleteArticle($(this).parent().parent())' class='btn btn-small'>x</a>
            </td>            
        </tr>
    {{/if}}                    
{{else}}
    {{if IsInvoiced }}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td>{{:Number}}</td>
            <td>{{:Name}}</td>
            <td>{{:NameEng}}</td>
            {{if IsCredited}}
                <td style='text-align: right;' >-{{:Amount}}</td>
            {{else}}
                <td style='text-align: right;' >{{:Amount}}</td>
            {{/if}}
            <td>{{:UnitName}}</td>
            <td class="article-ppu-fixed" style='text-align: right;' >{{:Ppu}}</td>
            {{if IsCredited}}
                <td colspan="2" class="article-total" style="text-align: right;">-{{:Total}}</td>
            {{else}}
                <td colspan="2" class="article-total" style="text-align: right;">{{:Total}}</td>
            {{/if}}
        </tr>
    {{else}}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td>{{:Number}}</td>
            <td>{{:Name}}</td>
            <td>{{:NameEng}}</td>
            <td>
                {{if IsCredited}}
                -
                {{/if}}
                
                <input id="article-amount_{{:Id}}" onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' maxlength='5'  class='article-amount input-mini-important' value='{{:Amount}}' />                
            </td>
            <td>{{:UnitName}}</td>

            {{if IsCredited}}
                    <td class="article-ppu-fixed" style="text-align: right;">{{:Ppu}}</td>
            {{else}}
                {{if IsArticlePpuExists}}                
                    <td class="article-ppu-fixed">{{:Ppu}}</td>                
                {{else}}
                <td>
                    <input id="ArtPrice_{{:Id}}" onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' maxlength='5' class='article-ppu input-small-important' value='{{:Ppu}}' />
                </td>
                {{/if}}
            {{/if}}

            {{if IsCredited}}              
                <td class='article-total'>-{{:Total}}</td>
            {{else}}
                <td class='article-total'>{{:Total}}</td>               
            {{/if}}
            <td style="width:5%">
                <a href='javascript:void(0);' onclick='dhHelpdesk.CaseArticles.DeleteArticle($(this).parent().parent())' class='btn btn-small'>x</a>
            </td>
        </tr>
    {{/if}}                                
{{/if}}  
