<div id="case-invoice-order{{:Id}}" class="case-invoice-order tab-pane tab-pane-border active" data-id='{{:Id}}'>
    <table>
        <tr>
            <td class='width100'>
                <table class='width100 table table-striped table-bordered table-hover'>
                    <tr>
                        <th>{{:ArtNoHeader}}</th>
                        <th>{{:NameHeader}}</th>
                        <th>{{:NameEngHeader}}</th>
                        <th>{{:UnitsHeader}}</th>
                        <th>{{:TypeHeader}}</th>
                        <th>{{:PpuHeader}}</th>
                        <th>{{:TotalHeader}}</th>
                        <th></th>
                    </tr>
                    <tbody class='articles-rows'>
                        {{for Articles tmpl="caseInvoiceArticle" /}}                        
                    </tbody>
                </table>
            </td>
            <td style='vertical-align: top;'>
                <i class="icon-plus-sign add-blank-article" style="cursor: pointer; display: none;" onclick="dhHelpdesk.CaseArticles.AddBlankArticle('{{:Id}}'); return false;"></i>
            </td>
        </tr>
    </table>
    <div class='width100 textbold' style='text-align: right;'>
        {{:TotalLabel}}: <span class='articles-total'>{{:Total}}</span>
    </div>  
    <table>
        <tbody>
            <tr>
                <td>
                    {{:DeliveryPeriodTitle}}
                </td>
                <td>
                    <input type="text" class="delivery-period" style="margin-bottom: -2px;" value="{{:DeliveryPeriod}}" />                                
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="margin-bottom: 1em;"></div>
                </td>
            </tr>
            <tr>
                <td>
                    {{:ReferenceTitle}}
                </td>
                <td>
                    <input type="text" maxlength="40" autocomplete="Off" class="reference" style="margin-bottom: -2px;" value="{{:Reference}}" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="margin-bottom: 1em;"></div>
                </td>
            </tr>
            <tr>
                <td>
                    {{:attachedFilesTitle}}
                </td>
                <td>
                    <button onclick="dhHelpdesk.CaseArticles.SelectCaseFiles('{{:Id}}'); return false;">{{:attachFilesTitle}}</button>        
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="margin-bottom: 1em;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="files-container"></div>                    
                </td>
            </tr>
        </tbody>
    </table> 
</div>   