{{for Orders}}
<div class="mb20">
    Order {{:Number}}
    <table class='width100'>
        <tr>
            <td>
                <table class='width100 table table-striped table-bordered table-hover'>
                    <thead>
                        <tr>
                            <th>{{:ArtNoHeader}}</th>
                            <th>{{:NameHeader}}</th>
                            <th>{{:NameEngHeader}}</th>
                            <th>{{:UnitsHeader}}</th>
                            <th>{{:TypeHeader}}</th>
                            <th>{{:PpuHeader}}</th>
                            <th>{{:TotalHeader}}</th>
                            <th></th>
                        </tr>                        
                    </thead>
                    <tbody>
                        {{for Articles tmpl="caseInvoiceArticleOverview" /}}                        
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <div class='width100 textbold' style='text-align: right;'>
        {{:TotalLabel}}: {{:Total}}
    </div>  
    <table>
        <tbody>
            <tr>
                <td>
                    {{:DeliveryPeriodTitle}}:
                </td>
                <td>
                    {{:DeliveryPeriod}}                             
                </td>
            </tr>
            <tr>
                <td>
                    {{:ReferenceTitle}}:
                </td>
                <td>
                    {{:Reference}}
                </td>
            </tr>
        </tbody>
    </table>        
</div>    
{{/for}}
<div  class='textbold' style='text-align: left;'>
    {{:TotalLabel}}: {{:Total}}
</div>    