{{if IsBlank }}
    {{if IsInvoiced }}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td colspan='7'>{{:Name}}</td>
            <td><i class='icon-flag icon-green'></i></td>
        </tr>
{{else}}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td colspan='7'>
                <input onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' class='width80 article-name' maxlength='50' value='{{:Name}}' />
            </td>
            <td>
                <a href='javascript:void(0);' onclick='dhHelpdesk.CaseArticles.DeleteArticle($(this).parent().parent())'>x</a>
            </td>
        </tr>
{{/if}}                    
{{else}}
    {{if IsInvoiced }}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td>{{:Number}}</td>
            <td>{{:Name}}</td>
            <td>{{:NameEng}}</td>
            <td>{{:Amount}}</td>
            <td>{{:UnitName}}</td>
            <td class="article-ppu-fixed">{{:Ppu}}</td>
            <td class="article-total" style="text-align: right;">{{:Total}}</td>
            <td><i class='icon-flag icon-green'></i></td>
        </tr>
{{else}}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td>{{:Number}}</td>
            <td>{{:Name}}</td>
            <td>{{:NameEng}}</td>
            <td>{{if IsCredited}}
                -
                {{/if}}
                <input onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' maxlength='5' class='article-amount input-mini-important' value='{{:Amount}}' />
            </td>
            <td>{{:UnitName}}</td>
            {{if IsArticlePpuExists}}
            <td class="article-ppu-fixed">{{:Ppu}}</td>
            {{else}}
            <td>
                <input onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' maxlength='5' class='article-ppu input-small-important' value='{{:Ppu}}' />
            </td>
            {{/if}}
            <td class='article-total'>{{:Total}}</td>
            <td>
                <a href='javascript:void(0);' onclick='dhHelpdesk.CaseArticles.DeleteArticle($(this).parent().parent())'>x</a>
            </td>
        </tr>
{{/if}}                                
{{/if}}  
