<div data-id='{{:Id}}' class="case-invoice-container overflow-visible">
    <label class="case-invoice-message error"></label>
    <div id="case-invoice-orders-tabs" style="overflow:hidden;">
        <ul class="nav nav-tabs"> 
            <li>
                <a onclick="dhHelpdesk.CaseArticles.AddOrder('{{:Id}}'); return false;"><i class="icon-plus-sign icon-white" style="cursor: pointer;"></i></a>
            </li> 
            <li class="case-invoice-order-summary" style="display: none;"><a href="#case-invoice-order-summary{{:Id}}">{{:SummaryTitle}}</a></li>         
        </ul>
        <div class="ml15 mt20">
            <table class='articles-params'>
                <thead>
                    <tr>
                        <th>{{:SelectItemHeader}}</th>
                        <th>{{:UnitsHeader}}</th>
                        <th>{{:UnitsPriceHeader}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>                                                                                       
                        <td class="articles-select-container">
                            <select class='chosen-select articles-params-article'>
                            </select>
                        </td>
                        <td>
                            <input type='text' class='articles-params-units input-small-important' maxlength="5" value='{{:DefaultAmount}}' />
                        </td>
                        <td>
                            <input type='text' class='articles-params-units-price input-small-important' maxlength="5" value='{{:DefaultPrice}}' />
                        </td>
                        <td>
                            <input type='button' class='articles-params-add btn' value='{{:AddButtonLabel}}' />
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
        <div class="orders-container tab-content">
            {{for Orders tmpl="caseInvoiceOrder" /}} 
            <div id="case-invoice-order-summary{{:Id}}" class="case-invoice-order-summary-container">                                          
            </div>
        </div>
    </div>
</div>
