{{if IsBlank }}
    {{if IsInvoiced }}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td colspan='7'>{{:Name}}</td>
            <td><i class='icon-flag icon-green'></i></td>
        </tr>
    {{else}}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td colspan='7'>
                <input onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' class='width80 article-name' maxlength='50' value='{{:Name}}' />
            </td>
            <td>
                <a href='javascript:void()' onclick='dhHelpdesk.CaseArticles.DeleteArticle($(this).parent().parent())'>x</a>
            </td>
        </tr>
    {{/if}}                    
{{else}}
    {{if IsInvoiced }}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td>{{:Number}}</td>
            <td>{{:Name}}</td>
            <td>{{:NameEng}}</td>
            <td>{{:Amount}}</td>
            <td>{{:UnitName}}</td>
            <td>{{:Ppu}}</td>
            <td>{{:Total}}</td>
            <td><i class='icon-flag icon-green'></i></td>
        </tr>
    {{else}}
        <tr data-id='{{:Id}}' title='{{:Description}}'>
            <td>{{:Number}}</td>
            <td>{{:Name}}</td>
            <td>{{:NameEng}}</td>
            <td>
                <input onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' maxlength='5' class='article-amount input-small-important' value='{{:Amount}}' />
            </td>
            <td>{{:UnitName}}</td>
            <td>
                {{if IsArticlePpuExists}}
                    {{:Ppu}}
                {{else}}
                    <input onchange='dhHelpdesk.CaseArticles.UpdateArticle($(this).parent().parent())' type='text' maxlength='5' class='article-ppu input-small-important' value='{{:Ppu}}' />                    
                {{/if}}
            </td>
            <td class='article-total'>{{:Total}}</td>
            <td>
                <a href='javascript:void()' onclick='dhHelpdesk.CaseArticles.DeleteArticle($(this).parent().parent())'>x</a>
            </td>
        </tr> 
    {{/if}}                                
{{/if}}  
