<table class="table table-bordered">
    {{for Orders}}
        <tr class="case-invoice-orderrow">               
             {{if IsInvoiced}}
                <th colspan="8"><i class='icon-ok icon-green'></i> {{:TitleCaption}} - {{:InvoicedByTitle}} <span class="textnormal"> {{:InvoicedByUser}} - {{:InvoiceDate}} {{:InvoiceTime}} </span></th>
             {{else}}        
                <th colspan="8"> {{:TitleCaption}} </th> 
             {{/if}}                             
        </tr>
        <tr>            
            <th class="case-invoice-colnarrow">{{:ArtNoHeader}}</th>
            <th class="case-invoice-colwide">{{:NameHeader}}</th>
            <th class="case-invoice-colwide">{{:NameEngHeader}}</th>
            <th class="case-invoice-colnarrow" style='text-align: right;'>{{:UnitsHeader}}</th>
            <th class="case-invoice-colnarrow">{{:TypeHeader}}</th>
            <th class="case-invoice-colwide" style='text-align: right;'>{{:PpuHeader}} SEK</th>
            <th style="text-align: right;" class="case-invoice-colwide" colspan="2">{{:TotalHeader}}</th>                                
        </tr>
        {{for Articles tmpl="caseInvoiceArticleOverview" /}}
        
        <tr>
            <td colspan="7"><span class="textbold">{{:ReferenceTitle}}</span> {{:Persons_Name}} - {{:CostCentre}}</td>
            {{if IsCredited }}
                    <td style='text-align: right;'><span class='textbold'>{{:TotalLabel}} SEK</span> -{{:Total}}</td>                
            {{else}}
                    <td style='text-align: right;'><span class='textbold'>{{:TotalLabel}} SEK</span> {{:Total}}</td>                
            {{/if}}
        </tr>
        <tr>
            <td colspan="8"><span class="textbold"> {{:attachedFilesTitle}} </span> {{:FileNameStr}} </td>            
        </tr>
        
    {{/for}}
        <tr>
            <td colspan="7" class='textbold' style='text-align: right;'>
                {{:TotalInvoicedLabel}} SEK<br />
                {{:TotalNotInvoicedLabel}} SEK<br />
                {{:TotalAllLabel}} SEK
            </td>
            <td style='text-align: right;'>
                 {{:TotalInvoiced}}<br /> 
                {{:TotalNotInvoiced}}<br />
                {{:Total}} 
            </td>
        </tr>
</table>
<div>
       
</div>
