@model DH.Helpdesk.SelfService.Models.Start.StartPageModel

@{
    ViewBag.Title = "Index";
          
    var welcomePart = "";
    if (Model.WelcomeHtml != null) 
    {   
        welcomePart = Model.WelcomeHtml.SetHtmlParameters();            
    }
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-6">            
            <div class="row">            
               <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">                              
                             @Html.Raw(welcomePart)                                                                                                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (SessionFacade.CurrentCustomer.ShowBulletinBoardOnExtPage != 0 && Model.BulletinBoard != null && Model.BulletinBoard.Any())
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading phselfservice">@Translation.Get("Bulletin Board", Enums.TranslationSource.TextTranslation) </div>
                    <div class="panel-body">                    
                        @if (Model.BulletinBoard != null)
                        {
                            foreach (var b in Model.BulletinBoard)
                            {                                                                                   
                                <p> <strong> @Html.DisplayFor(m=> b.ChangedDate , "DateAndTime")  </strong> <br /> &nbsp;&nbsp; @Html.Raw(b.Text) </p>
                                <br />
                            }
                        }                    
                        <div class="bulletinimg">
                        </div>                    
                    </div>
                </div>
            </div>
        }
        <!--ON GOING--->
       
    </div>
    
</div>
