/* mbsc-nav-item {
    &.mbsc-ms-item {
        min-width: 0;
        width: 5em;
        height: 5em;
        margin: 0.5em;
        border-radius: 50%;
        background: white;
    }

    &.mbsc-ms-ic:before {
        top: auto;
        font-size: 3em;
    }
} */

.active {
  background:rgba(255,255,255, 0.3);
}