@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

@{
    var disabled = string.Empty;

    if((ECT.FormLib.FormLibSessions.User.WorkingGroups.FirstOrDefault(x => x.Id == Model.Contract.WorkingGroupId) == null && Model.Contract.WorkingGroupId != 0)
        || Model.IsLooked
        || Model.ReadOnly("FileBase"))
    {
        disabled = "disabled";
    }
}
<tr>
    <td class="tdstrong">@Model.Label("FileBase")
        <br /><small><em>@Model.Translate("Maximum allowed file size: 5 MB")</em></small>
    </td>
    <td id="container">
        @if(string.IsNullOrEmpty(disabled))
        {
            <a id="pickfiles" style="margin: 10px 0px;" class="btn" href="#"><i class="icon-file"></i>&nbsp;@Model.Translate("Select files")</a>
        }
        else
        {
            <a style="margin: 10px 0px;" class="btn disabled" href="#"><i class="icon-file"></i>&nbsp;@Model.Translate("Select files")</a>
        }
        <div id="filelist">

            @if(Model.Contract != null && Model.Contract.CaseFiles != null && Model.Contract.CaseFiles.Any())
            {
                foreach(var file in Model.Contract.CaseFiles)
                {
                <div>
                    <a target="_blank" href="@Url.Action("index", "files", new
                                                                 {
                                                                     area = "",
                                                                     name = ECT.Core.FileStore.FileStore.GetFileNameWithoutExtension(file.FileName),
                                                                     extension = ECT.Core.FileStore.FileStore.GetFileExtension(file.FileName),
                                                                     caseNumber = Model.Contract.CaseNumber
                                                                 })"><i class="icon-file"></i>&nbsp;@file.FileName</a>

                    @if(string.IsNullOrEmpty(disabled))
                    {
                        <a class="btn btn-mini btn-link btn-delete-file" href="@Url.Action("delete", "files", new { area = "", id = file.Id, caseNumber = Model.Contract.CaseNumber })">
                            <i class="icon-trash"></i></a>
                    }
                </div>
                }
            }
        </div>
    </td>
</tr>
