@model DH.Helpdesk.Web.Models.Questionnaire.Input.NewCircularModel
<div class="container">
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td>@Html.LabelFor(x => x.CircularName)
                    </td>
                    <td>
                        @Html.EditorFor(x => x.CircularName)
                        @Html.ValidationMessageFor(x => x.CircularName)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
