:host {
    overflow: hidden;
    display:block;
    padding: 10px 20px;
    background: none #fff;    
    font-family: arial,verdana,sans-serif;
}

ul.nolist { 
    list-style:  none none; 
    font-size: 16px;
    font-weight:400;
    padding:0xp 0px;
}


