:host {
    overflow: hidden;
    display:block;
    padding: 10px 20px;
    background: none #fff;
    font-family: Verdana, Arial, Sans-Serif;
    border-top:1px solid #ccc;
}

.case-subsection {
    .case-subsection-title {
        font-size:12px;
        color: #020202;
    }
}

ul.filelist { 
    list-style:  none none;
    padding:0px;
    margin:10px 0px;    
}