@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Infrastructure.Extensions
@model DH.Helpdesk.Web.Models.DailyReports.DailyReportOutputModel

@{
    ViewBag.Title = "_HistoryOverview";
}

<h2>_HistoryOverview</h2>
