<mbsc-form class="mbsc-padding md-load-btn md-btn-isLoading" [hidden]="isLoaded">
    <mbsc-button flat block icon="fa-refresh"></mbsc-button>
</mbsc-form>

<mbsc-form *ngIf="isLoaded">  
    <div id="case-header">
      <mbsc-tab-nav [options]="titleTabsSettings" class="case-header">
          <mbsc-nav-item selected="false" (click)="goToCases()" translate>Avbryt</mbsc-nav-item>
          <mbsc-nav-item selected="true"><div class="ellipsis">{{ getCaseTitle() }}</div></mbsc-nav-item>
          <mbsc-nav-item selected="false" (click)="saveCase()" [disabled]="!canSave" translate>{{ canSave ? 'Klar' : '' }}</mbsc-nav-item>
      </mbsc-tab-nav>
    </div>
    
    <div id="case-tabs">
      <mbsc-tab-nav [options]="caseTabsSettings" class="case-sub-header">
          <mbsc-nav-item [selected]="currentTab == 'case_details'" (click)="currentTab='case_details'" translate>Ärende</mbsc-nav-item>
          <mbsc-nav-item [selected]="currentTab == 'case_actions'" (click)="currentTab='case_actions'" translate>Händelser</mbsc-nav-item>
          <!--<mbsc-nav-item [selected]="currentTab == 'case_workflows'" (click)="currentTab='case_workflows'" translate>Åtgärd</mbsc-nav-item>-->
      </mbsc-tab-nav>
    </div>
  </mbsc-form>

<mbsc-form  class="case-content">

    <!-- Case Actions -->
    <div [hidden]="currentTab != 'case_actions'">
        <div class="md-paging">
          <case-actions *ngIf="caseActions.length > 0" [caseKey]="caseKey" [items]="caseActions"></case-actions>
        </div>
    </div>

    <!-- Case edit fields -->
    <div *ngIf="isLoaded" [hidden]="currentTab != 'case_details'">
      <div class="md-paging">
        <form [formGroup]="form" novalidate>
            <mbsc-form-group collapsible #initiatorSection *ngIf="hasSection(caseSectionTypes.Initiator)">
                <mbsc-form-group-title>{{ getSectionHeader(caseSectionTypes.Initiator) }}</mbsc-form-group-title>
                <mbsc-form-group-content >
                    <!-- TODO: ComputerUserCategories -->
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.ReportedBy)" [field]="getField(caseFieldsNames.ReportedBy)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.PersonName)" [field]="getField(caseFieldsNames.PersonName)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.PersonEmail)" [field]="getField(caseFieldsNames.PersonEmail)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.PersonPhone)" [field]="getField(caseFieldsNames.PersonPhone)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.PersonCellPhone)" [field]="getField(caseFieldsNames.PersonCellPhone)" [form]="form"></case-textbox-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.RegionId)" disabled=true [field]="getField(caseFieldsNames.RegionId)" [form]="form" [dataSource]="dataSource.regionsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.DepartmentId)" disabled=true [field]="getField(caseFieldsNames.DepartmentId)" [form]="form" [dataSource]="dataSource.departmentsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.OrganizationUnitId)" disabled=true [field]="getField(caseFieldsNames.OrganizationUnitId)" [form]="form" [dataSource]="dataSource.oUsStore$"></case-dropdown-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.CostCentre)" [field]="getField(caseFieldsNames.CostCentre)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.Place)" [field]="getField(caseFieldsNames.Place)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.UserCode)" [field]="getField(caseFieldsNames.UserCode)" [form]="form"></case-textbox-control>
                </mbsc-form-group-content>
            </mbsc-form-group>

            <mbsc-form-group collapsible #regardingSection *ngIf="hasSection(caseSectionTypes.Regarding)">
                <mbsc-form-group-title>{{ getSectionHeader(caseSectionTypes.Regarding) }}</mbsc-form-group-title>
                <mbsc-form-group-content >
                <!-- TODO: ComputerUserCategories -->
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_ReportedBy)" [field]="getField(caseFieldsNames.IsAbout_ReportedBy)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_PersonName)" [field]="getField(caseFieldsNames.IsAbout_PersonName)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_PersonEmail)" [field]="getField(caseFieldsNames.IsAbout_PersonEmail)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_PersonPhone)" [field]="getField(caseFieldsNames.IsAbout_PersonPhone)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_PersonCellPhone)" [field]="getField(caseFieldsNames.IsAbout_PersonCellPhone)" [form]="form"></case-textbox-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.IsAbout_RegionId)" disabled=true [field]="getField(caseFieldsNames.IsAbout_RegionId)" [form]="form" [dataSource]="dataSource.regionsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.IsAbout_DepartmentId)" disabled=true [field]="getField(caseFieldsNames.IsAbout_DepartmentId)" [form]="form" [dataSource]="dataSource.isAboutDepartmentsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.IsAbout_OrganizationUnitId)" disabled=true [field]="getField(caseFieldsNames.IsAbout_OrganizationUnitId)" [form]="form" [dataSource]="dataSource.isAboutOUsStore$"></case-dropdown-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_CostCentre)" [field]="getField(caseFieldsNames.IsAbout_CostCentre)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_Place)" [field]="getField(caseFieldsNames.IsAbout_Place)" [form]="form"></case-textbox-control>
                    <case-textbox-control *ngIf="hasField(caseFieldsNames.IsAbout_UserCode)" [field]="getField(caseFieldsNames.IsAbout_UserCode)" [form]="form"></case-textbox-control>
                </mbsc-form-group-content>
            </mbsc-form-group>

            <mbsc-form-group collapsible #ComputerInfoSection *ngIf="hasSection(caseSectionTypes.ComputerInfo)">
                <mbsc-form-group-title>{{ getSectionHeader(caseSectionTypes.ComputerInfo) }}</mbsc-form-group-title>
                <mbsc-form-group-content>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.InventoryNumber)" [field]="getField(caseFieldsNames.InventoryNumber)" [form]="form"></case-textbox-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.ComputerTypeId)" [field]="getField(caseFieldsNames.ComputerTypeId)" [form]="form"></case-textbox-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.InventoryLocation)" [field]="getField(caseFieldsNames.InventoryLocation)" [form]="form"></case-textbox-control>
                </mbsc-form-group-content>
            </mbsc-form-group>

            <mbsc-form-group collapsible #caseInfoSection *ngIf="hasSection(caseSectionTypes.CaseInfo)">
                <mbsc-form-group-title>{{ getSectionHeader(caseSectionTypes.CaseInfo) }}</mbsc-form-group-title>
                <mbsc-form-group-content>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.CaseNumber)" [field]="getField(caseFieldsNames.CaseNumber)" [form]="form"></case-textbox-control>
                        <case-datetime-control *ngIf="hasField(caseFieldsNames.RegTime)" [field]="getField(caseFieldsNames.RegTime)" [form]="form"></case-datetime-control>
                        <case-datetime-control *ngIf="hasField(caseFieldsNames.ChangeTime)" [field]="getField(caseFieldsNames.ChangeTime)" [form]="form"></case-datetime-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.UserId)" [field]="getField(caseFieldsNames.UserId)" [form]="form"></case-textbox-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.RegistrationSourceCustomer)" disabled=true [field]="getField(caseFieldsNames.RegistrationSourceCustomer)" [form]="form"  [dataSource]="dataSource.customerRegistrationSourcesStore$"></case-dropdown-control>
                        <case-multi-dropdown-control *ngIf="hasField(caseFieldsNames.CaseTypeId)" [field]="getField(caseFieldsNames.CaseTypeId)" [form]="form" [dataSource]="dataSource.caseTypesStore$ | async"></case-multi-dropdown-control>
                        <case-multi-dropdown-control *ngIf="hasField(caseFieldsNames.ProductAreaId)" [field]="getField(caseFieldsNames.ProductAreaId)" [form]="form" [dataSource]="dataSource.productAreasStore$ | async"></case-multi-dropdown-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.SystemId)" disabled=true [field]="getField(caseFieldsNames.SystemId)" [form]="form" [dataSource]="dataSource.systemsStore$"></case-dropdown-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.UrgencyId)" disabled=true [field]="getField(caseFieldsNames.UrgencyId)" [form]="form" [dataSource]="dataSource.urgenciesStore$"></case-dropdown-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.ImpactId)" disabled=true [field]="getField(caseFieldsNames.ImpactId)" [form]="form" [dataSource]="dataSource.impactsStore$"></case-dropdown-control>
                        <case-multi-dropdown-control *ngIf="hasField(caseFieldsNames.CategoryId)" [field]="getField(caseFieldsNames.CategoryId)" [form]="form" [dataSource]="dataSource.categoriesStore$ | async"></case-multi-dropdown-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.SupplierId)" disabled=true [field]="getField(caseFieldsNames.SupplierId)" [form]="form" [dataSource]="dataSource.suppliersStore$"></case-dropdown-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.SupplierCountryId)" disabled=true [field]="getField(caseFieldsNames.SupplierCountryId)" [form]="form" [dataSource]="dataSource.countriesStore$"></case-dropdown-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.InvoiceNumber)" [field]="getField(caseFieldsNames.InvoiceNumber)" [form]="form"></case-textbox-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.ReferenceNumber)" [field]="getField(caseFieldsNames.ReferenceNumber)" [form]="form"></case-textbox-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.Caption)" [field]="getField(caseFieldsNames.Caption)" [form]="form"></case-textbox-control>
                        <!-- TODO:
                        <case-xxx-control *ngIf="hasField(caseFieldsNames.Mail2Ticket)" [field]="getField(caseFieldsNames.Mail2Ticket)" [form]="form"></case-xxx-control>
                        -->
                        <case-textarea-control *ngIf="hasField(caseFieldsNames.Description)" [field]="getField(caseFieldsNames.Description)" [form]="form"></case-textarea-control>
                        <!-- TODO:
                        <case-mailtoticket-control *ngIf="hasField(caseFieldsNames.CaseRegistrationSource) && getField(caseFieldsNames.CaseRegistrationSource).value === 3" [field]="getField(caseFieldsNames.CaseRegistrationSource)"></case-mailtoticket-control>
                        -->
                        <case-textarea-control *ngIf="hasField(caseFieldsNames.Miscellaneous)" [field]="getField(caseFieldsNames.Miscellaneous)" [form]="form"></case-textarea-control>
                        <case-switch-control *ngIf="hasField(caseFieldsNames.ContactBeforeAction)" [field]="getField(caseFieldsNames.ContactBeforeAction)" [form]="form"></case-switch-control>
                        <case-switch-control *ngIf="hasField(caseFieldsNames.Sms)" [field]="getField(caseFieldsNames.Sms)" [form]="form" description="Send text message when case is closed"></case-switch-control>
                        <case-date-control *ngIf="hasField(caseFieldsNames.AgreedDate)" [field]="getField(caseFieldsNames.AgreedDate)" [form]="form"></case-date-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.Available)" [field]="getField(caseFieldsNames.Available)" [form]="form"></case-textbox-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.Cost)" [field]="getField(caseFieldsNames.Cost)" [form]="form"></case-textbox-control>
                        <case-textbox-control *ngIf="hasField(caseFieldsNames.Cost_OtherCost)" [field]="getField(caseFieldsNames.Cost_OtherCost)" [form]="form"></case-textbox-control>
                        <case-dropdown-control *ngIf="hasField(caseFieldsNames.Cost_Currency)" disabled=true [field]="getField(caseFieldsNames.Cost_Currency)" [form]="form" [dataSource]="dataSource.currenciesStore$"></case-dropdown-control>
                        <case-files-control *ngIf="hasField(caseFieldsNames.Filename)" 
                            [field]="getField(caseFieldsNames.Filename)" 
                            [caseKey]="caseKey"
                            [accessMode]="accessMode"></case-files-control>
                </mbsc-form-group-content>
            </mbsc-form-group>

            <mbsc-form-group collapsible #caseManagementSection *ngIf="hasSection(caseSectionTypes.CaseManagement)">
                <mbsc-form-group-title>{{ getSectionHeader(caseSectionTypes.CaseManagement) }}</mbsc-form-group-title>
                <mbsc-form-group-content>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.WorkingGroupId)" [field]="getField(caseFieldsNames.WorkingGroupId)" [form]="form" [dataSource]="dataSource.workingGroupsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.CaseResponsibleUserId)" [field]="getField(caseFieldsNames.CaseResponsibleUserId)" [form]="form" [dataSource]="dataSource.responsibleUsersStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.PerformerUserId)" [field]="getField(caseFieldsNames.PerformerUserId)" [form]="form" [dataSource]="dataSource.performersStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.PriorityId)" [field]="getField(caseFieldsNames.PriorityId)" [form]="form" [dataSource]="dataSource.prioritiesStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.StatusId)" disabled=true [field]="getField(caseFieldsNames.StatusId)" [form]="form" [dataSource]="dataSource.statusesStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.StateSecondaryId)" [field]="getField(caseFieldsNames.StateSecondaryId)" [form]="form" [dataSource]="dataSource.stateSecondariesStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.Project)" disabled=true [field]="getField(caseFieldsNames.Project)" [form]="form" [dataSource]="dataSource.projectsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.Problem)" disabled=true [field]="getField(caseFieldsNames.Problem)" [form]="form" [dataSource]="dataSource.problemsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.CausingPart)" disabled=true [field]="getField(caseFieldsNames.CausingPart)" [form]="form" [dataSource]="dataSource.causingPartsStore$"></case-dropdown-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.Change)" disabled=true [field]="getField(caseFieldsNames.Change)" [form]="form" [dataSource]="dataSource.changesStore$"></case-dropdown-control>
                    <case-date-control *ngIf="hasField(caseFieldsNames.PlanDate)" [field]="getField(caseFieldsNames.PlanDate)" [form]="form"></case-date-control>
                    <case-date-control *ngIf="hasField(caseFieldsNames.WatchDate)" [field]="getField(caseFieldsNames.WatchDate)" [form]="form"></case-date-control>
                    <case-switch-control *ngIf="hasField(caseFieldsNames.Verified)" [field]="getField(caseFieldsNames.Verified)" [form]="form"></case-switch-control>
                    <case-textarea-control *ngIf="hasField(caseFieldsNames.VerifiedDescription)" [field]="getField(caseFieldsNames.VerifiedDescription)" [form]="form"></case-textarea-control>
                    <case-dropdown-control *ngIf="hasField(caseFieldsNames.SolutionRate)" disabled=true [field]="getField(caseFieldsNames.SolutionRate)" [form]="form" [dataSource]="dataSource.solutionsRatesStore$"></case-dropdown-control>
                </mbsc-form-group-content>
            </mbsc-form-group>
    <!--
            <mbsc-form-group collapsible [attr.open]="isSectionOpen(caseSectionTypes.Communication)" #communicationManagementSection>
                <mbsc-form-group-title>{{getSectionHeader(caseSectionTypes.Communication)}}</mbsc-form-group-title>
                <mbsc-form-group-content>
                    <case-textarea-control *ngIf="hasField(caseFieldsNames.FinishingDescription)" [field]="getField(caseFieldsNames.FinishingDescription)" [form]="form"></case-textarea-control>
                    <case-multi-dropdown-control *ngIf="hasField(caseFieldsNames.ClosingReason)" [field]="getField(caseFieldsNames.ClosingReason)" [form]="form" [dataSource]="dataSource.closingReasonsStore$"></case-multi-dropdown-control>
                    <case-date-control *ngIf="hasField(caseFieldsNames.FinishingDate)" [field]="getField(caseFieldsNames.FinishingDate)" [form]="form"></case-date-control>
                </mbsc-form-group-content>
            </mbsc-form-group> -->

              <mbsc-form-group collapsible #statusSection *ngIf="hasField(caseFieldsNames.FinishingDate) && getField(caseFieldsNames.FinishingDate).value != null">
                <mbsc-form-group-title>{{ getSectionHeader(caseSectionTypes.Status) }}</mbsc-form-group-title>
                <mbsc-form-group-content>
                    <case-textarea-control *ngIf="hasField(caseFieldsNames.FinishingDescription)" [field]="getField(caseFieldsNames.FinishingDescription)" [form]="form" [readonly]="true"></case-textarea-control>
                    <case-multi-dropdown-control *ngIf="hasField(caseFieldsNames.ClosingReason)" [field]="getField(caseFieldsNames.ClosingReason)" [form]="form" [dataSource]="dataSource.closingReasonsStore$ | async" [readonly]="true"></case-multi-dropdown-control>
                    <case-date-control *ngIf="hasField(caseFieldsNames.FinishingDate)" [field]="getField(caseFieldsNames.FinishingDate)" [form]="form" [readonly]="true"></case-date-control>
                </mbsc-form-group-content>
            </mbsc-form-group>

            <mbsc-form-group collapsible #communication >
                <mbsc-form-group-title>{{getSectionHeader(caseSectionTypes.Communication)}}</mbsc-form-group-title>
                <mbsc-form-group-content>
                  <case-log-input [caseKey]="caseKey" [accessMode]="accessMode" [caseData]="caseData" [form]="form"></case-log-input>
                </mbsc-form-group-content>
            </mbsc-form-group>

            <!-- <mbsc-form-group collapsible [attr.open]="isSectionOpen(caseSectionTypes.Invoices)" #invoicesSection>
                <mbsc-form-group-title>{{getSectionHeader(caseSectionTypes.Invoices)}}</mbsc-form-group-title>
                <mbsc-form-group-content>

                </mbsc-form-group-content>
            </mbsc-form-group> -->
        </form>
    </div>
</div>
    
</mbsc-form>
