@model DH.Helpdesk.Web.Models.Inventory.EditModel.Server.StorageFieldsModel
<table class="tableform">
    @if (Model.Capasity.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Lagring")</th>
        </tr>
        <tr>
            <td class="span3">
                <label>@Translation.Get(Model.Capasity.Caption)</label>
            </td>
            <td class="span9">
                @(!Model.Capasity.IsReadOnly
                ? Html.TextAreaFor(m => m.Capasity.Value)
                : Html.TextAreaFor(m => m.Capasity.Value, new { @readonly = true }))
            </td>
        </tr>
    }
</table>
