@model DH.Helpdesk.Web.Models.Inventory.EditModel.Server.StorageFieldsModel
<table class="tableform">
    @if (Model.Capasity.Show)
    {
        <tr>
            <th colspan="2" class="header"><h4>@Translation.Get("Lagring")</h4></th>
        </tr>
    }
    @Html.EditorFor(m => m.Capasity, "NotReadonlyFields/WideText")
</table>
