@model DH.Helpdesk.NewSelfService.Models.Help.AboutModel

@{
    ViewBag.Title = "About";
    var htmlArea = "";
    if (Model.HtmlPageData != null)
    {
        htmlArea = Model.HtmlPageData.SetHtmlParameters();
    }
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(htmlArea)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
