@{
    ViewBag.Title = "FindYourWay";
}

<div class="container-fluid dh-container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/Content/img-profile/ikea-map.png")" />
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Find your way</div>
                <div class="panel-body">
                    <ol>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                        <li>Lörem ipsum dolor. Sit ämet cönsectetur adipisicing. Elit sed dö eiusmod tempor incididunt ut låböre. Et dolore magnä aliquå. Nullåm in äenean egestäs fåcilisis läcinia, ånte nisi.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
