@model ECT.FormLib.Models.FormModel
@using ECT.FormLib;
@using ECT.FormLib.Models;

<div class="tab-pane" id="Complete">
    <div class="span6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="tdstrong" colspan="2">
                        <h4>@Model.Translate("Termination Payments")</h4>
                    </td>
                </tr>
                <tr>
                    <td class="tdstrong">@Model.Label("TerminationPaymentMethod")</td>
                    <td>
                        @Model.Element("TerminationPaymentMethod")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>