<mbsc-listview [options]="fileListSettings">
  <mbsc-listview-item *ngFor="let item of fileUploader.queue"
        icon="fa-paperclip">
        <span class="filename" [ngStyle]="getStatusStyles(item)">{{ item?.file?.name }}</span>
        <!--
        <mbsc-progress [value]="item?.progress" max="100" color="primary"></mbsc-progress>
        -->
  </mbsc-listview-item>
</mbsc-listview>

<div id="casefilesupload">
    <label for="fileupload">
        <input type="file"  id="fileupload" name="fileupload" class="fileupload"
               #fileupload ng2FileSelect [uploader]="fileUploader" multiple />
        <span class="mbsc-btn mbsc-btn-ic mbsc-ic mbsc-ic-fa-upload" translate>Bifoga</span>
    </label>
</div>



