@echo off
"#{InstallationRoot}\#{FolderName}\DH.Helpdesk.Mail2Ticket.exe" #{WorkingMode}, Data Source=#{DatabaseServer}; Initial Catalog=#{DatabaseName}; User Id=#{DatabaseUsername}; Password=#{DatabasePassword};Network Library=dbmssocn,