@model dhHelpdesk_NG.Web.Controllers.MyClass
<tr>
    <td>
        <i class="icon-plus-sign" style="cursor: pointer"></i>
        @Html.TextBoxFor(x => x.Id)
    </td>
    <td>
        @Html.TextBoxFor(x => x.Name)
    </td>
</tr>
<tr>
    <td colspan="2" class="expanded-content">
        @Html.TextAreaFor(x => x.Description)
    </td>
</tr>
