@model DH.Helpdesk.BusinessData.Models.Case.ExtendedCaseFormsForCustomer
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#subfragment-1">@Translation.GetCoreTextTranslation("Editerbara formulär") - @Model.Customer.Name</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tab-pane-border active" id="fragment1">
                <div class="container">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            @foreach (var form in Model.ExtendedCaseFormModels)
                            {
                                <tr>
                                    <td>
                                        @*<a href="@Url.Action("EditForm", "ExtendedCase", new { customerId = customer.CustomerId })" ">
        <div style="height:100%;width:100%">*@
                                        @form.Name
                                        @*   </div>
           </div>
        </a>*@
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>