@using DH.Helpdesk.Web.Infrastructure
@model DH.Helpdesk.Web.Areas.Admin.Models.SystemInputViewModel
@{
    ViewBag.Title = "";
}
@using (Html.BeginForm("new", "system", new { id = Model.System.Id, area = "admin" }, FormMethod.Post, new { id = "target" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li>@Html.ActionLink(Translation.Get("Spara", Enums.TranslationSource.TextTranslation), "new", null, new { onclick = "$('#target').submit();return false;", @class = "btn" })</li>
                <li>@Html.ActionLink(Translation.Get("Avbryt", Enums.TranslationSource.TextTranslation), "index", new { customerId = Model.System.Customer_Id }, new { @class = "btn" })</li>
            </ul>
        </div>
    </div>
    @Html.Partial("_Input", Model)
}

<script type="text/javascript">

    $("input:text:visible:first").focus();

</script>
