<ng-container [formGroup]="form">
  <div class="mbsc-grid mbsc-no-padding formcontent">
    <div class="mbsc-row">
      <div class="mbsc-col-10">
        <mbsc-input id="notifierInput" #notifierInput 
            [formControlName]="field">{{ formControl.label }}{{ requiredSymbol }}</mbsc-input>
      </div>
      <div class="mbsc-col-2">
        <mbsc-button *ngIf="!isFormControlDisabled" flat icon="fa-search" class="input-icon"
            #searchButton id="searchButton" (click)="notifierSelect.instance.show()"></mbsc-button>
      </div>
    </div>
  </div>
</ng-container>
<mbsc-select filterExt *ngIf="!isFormControlDisabled" #notifierSelect [options]="selectOptions" [data]="notifiersData"></mbsc-select>
