<ng-container [formGroup]="form">
  <div class="mbsc-grid mbsc-no-padding formcontent">
    <div class="mbsc-row">
      <div class="mbsc-col-10">
        <mbsc-input id="notifierInput" #notifierInput 
            [formControlName]="field.name">{{ formControl.label }}{{ requiredSymbol }}</mbsc-input>
      </div>
      <div class="mbsc-col-2">
        <mbsc-button *ngIf="!isFormControlDisabled" flat icon="fa-search" class="input-icon"
            #searchNotifer id="searchNotifer" (click)="notifierSelect.instance.show()"></mbsc-button>
      </div>
    </div>
  </div>
</ng-container>
<mbsc-select *ngIf="!isFormControlDisabled" #notifierSelect 
    class="dhselect noinput" [options]="selectOptions" [data]="notifiersData"></mbsc-select>
