body {
    padding-top: 0;
    background: #f2f7fe;
}

#lmEmbedded .navbar {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

#lmEmbedded .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

#lmEmbedded .navbar-fixed-top {
    margin-top: -18px;
}

#lmEmbedded .collapse {
    display: block;
}

#lmEmbedded .container.containeralignright {
    margin-left: 0;
}

#lmEmbedded input[type=text] {
    width: auto;
}

#lmEmbedded .chosen-search input[type=text] {
    width: auto;
}

#lmEmbedded select {
    width: 200px;
}

#lmEmbedded textarea {
    width: auto;
    min-height: 100px;
}

#lmEmbedded input[type=text], select, textarea {
    min-width: 200px;
    width: 200px;
    height: auto;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#lmEmbedded .table > tbody > tr > td {
    border-top: none;
}

#lmEmbedded input.append-ie8 {
    width: 173px !important;
    min-width: 173px !important;
    border-radius: 4px 0 0 4px;
}

#lmEmbedded .input-append .add-on,
#lmEmbedded .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 26px;
    min-height: 30px;
    *min-height: 26px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}

#lmEmbedded .input-append .add-on,
#lmEmbedded .input-append .btn,
#lmEmbedded .input-append .btn-group {
    margin-left: -1px;
}

#lmEmbedded .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    background-color: transparent;
    color: #fff;
}

#lmEmbedded .nav-tabs > li.active > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 0 0 0 0;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
}

#lmEmbedded input[disabled], #lmEmbedded select[disabled], #lmEmbedded textarea[disabled], #lmEmbedded input[readonly], #lmEmbedded select[readonly], #lmEmbedded textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee;
}
