:host {
  display:block;  
  background: none #fff;

  ::ng-deep .bordered {
    border-bottom:solid 1px #ccc!important;
    overflow:hidden;

    .mbsc-label-stacked:before,
    .mbsc-label-stacked:after
    {  
      left: 0px!important;
      border-bottom-width:0px!important;
      border-top-width:0px!important;
    }
  }

  ::ng-deep .searchInput input,
  ::ng-deep .searchInput textarea {
    font-size: 0.75em;
  }

  ::ng-deep .switch  {
    .mbsc-control-w { font-size:14px!important; }
    input.mbsc-control { font-size:14px; }
  }

  ::ng-deep .mbsc-label-stacked:before,
  ::ng-deep .mbsc-label-stacked:after
  {  
    left: 0px!important;
    //border-bottom-width:0px!important;
    //border-top-width:0px!important;
  }
  
  .formcontent {
    background:#fff!important;
  }

}

.fileListView {
  margin-right: 20px;
  margin-left: 20px;
}