
<ng-container [formGroup]="form" *ngIf="isExternalLogFieldVisible || isInternalLogFieldVisible">
  
  <case-textarea-control *ngIf="isExternalLogFieldVisible" 
          [field]="externalLogField" 
          [form]="form"></case-textarea-control>

  <case-textarea-control *ngIf="isInternalLogFieldVisible" 
          [field]="internalLogField" 
          [form]="form"></case-textarea-control>
                   
  <ng-container *ngIf="isAttachedFilesVisible">
    <div id="log-files" *ngIf="files && files.length > 0">
        <mbsc-listview [options]="fileListSettings" class="fileListView">
            <mbsc-listview-item *ngFor="let file of files;" icon="fa-paperclip">{{ file }}</mbsc-listview-item>
        </mbsc-listview>
    </div>
    <log-files-upload [caseKey]="caseKey" (fileUploaded)="processFileUploaded($event)"></log-files-upload>
  </ng-container>

</ng-container>