<div id="case-actions" *ngIf="grouppedItems && grouppedItems.length">
  <mbsc-card [class.owner]="isActionOwner(group.CreatedByUserId)" *ngFor="let group of grouppedItems">
    <mbsc-card-header>      
      <mbsc-card-subtitle class="mbsc-txt-s">
        <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
          <div class="mbsc-row mbsc-no-padding">
            <div class="mbsc-col-6 time"><span><i class="mbsc-ic mbsc-ic-fa-clock-o"></i> {{ group.CreatedAt |
                date:'yyyy-MM-dd HH:mm' }}</span></div>
            <div class="mbsc-col-6 mbsc-bold author">{{ group.CreatedByUserName }}</div>
          </div>
        </div>
      </mbsc-card-subtitle>
    </mbsc-card-header>
    <mbsc-card-content>
      <mbsc-listview [swipe]="false" [enhance]="true">
        <mbsc-listview-item *ngFor="let action of group.Actions">
            <case-action-container [caseAction]="action"></case-action-container>
        </mbsc-listview-item>
      </mbsc-listview>
    </mbsc-card-content>
  </mbsc-card>
</div>
