<div *ngIf="grouppedItems && grouppedItems.length">
  <mbsc-card *ngFor="let group of grouppedItems">
      <mbsc-card-header>          
          <!-- mbsc-card-title class="mbsc-bold">{{ group.CreatedByUserName }}</mbsc-card-title -->
          <mbsc-card-subtitle class="mbsc-txt-s">
              <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                  <div class="mbsc-row mbsc-no-padding">
                      <div class="mbsc-col-8 time"><span><i class="mbsc-ic mbsc-ic-fa-clock-o"></i> {{ group.CreatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</span></div>
                      <div class="mbsc-col-4 mbsc-bold author">{{ group.CreatedByUserName }}</div>
                  </div>
              </div>
          </mbsc-card-subtitle>
      </mbsc-card-header>
      <mbsc-card-content>
          <mbsc-listview [swipe]="false" [enhance]="true">
              <mbsc-listview-item *ngFor="let action of group.Actions" [icon]="getActionIcon(action)">
                  <div [innerHTML]="action.Data.getTitle()">
                  </div>                      
              </mbsc-listview-item>
          </mbsc-listview>
      </mbsc-card-content>
  </mbsc-card> 
</div>