$mbsc-mobiscroll-accent: #007bff;
$mbsc-mobiscroll-background: #f7f7f7;
$mbsc-mobiscroll-text:  #000000;
$mbsc-font-path: '../../../node_modules/@mobiscroll/angular/dist/css/';
@import "../../../node_modules/@mobiscroll/angular/dist/css/mobiscroll.angular.scss"