/* You can add global styles to this file, and also import other style files */

/* @import '../../../node_modules/@mobiscroll/angular/dist/css/mobiscroll.min.css'; */

/*.mbsc-ios .mbsc-btn {
    background-color: #d96326
}*/

/* .mbsc-ios .mbsc-input {
    flex-direction: column;
}

.mbsc-ios .mbsc-input .mbsc-label {
    width: auto;
    max-width: none;
    font-size: .75em;
    color: #6d6d6d;
} */


/* .mbsc-ic.icon:before {
    font-family: fontawesome !important; 
} */

@keyframes md-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes md-rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.md-load-btn {
    min-height: 0!important;
}

.md-load-btn .mbsc-ic-loop2 {
    font-size: 22px;
}

.md-load-btn .mbsc-ic-loop2:before {
    display: inline-block;
    -webkit-animation: md-rotating .6s linear infinite;
    animation: md-rotating .6s linear infinite;
}

.md-btn-loading {
    display: block;
}

.md-load-btn.md-btn-loading .mbsc-ic-loop2 {
    display: inline-block;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
/*     background-color: red;
    color: white; */
    text-align: center;
}

.stickyTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efeff4;
    z-index: 1000;
}

