@using DH.Helpdesk.Web.Infrastructure
@using DH.Helpdesk.Web.Models.Faq.Output

@model DH.Helpdesk.Web.Models.Faq.Output.NewFaqModel

@{
    this.ViewBag.Title = Translation.Get("New FAQ", Enums.TranslationSource.TextTranslation);
}

@using (this.Html.BeginForm("NewFaq", "Faq", FormMethod.Post, new { id = "faq_edit_form" }))
{
    <div class="secnavs fixed">
        <div class="pull-left">
            <ul class="secnav">
                <li><input type="submit" value="@Translation.Get("Save", Enums.TranslationSource.TextTranslation)" class="btn" /></li>
                <li><a href="@this.Url.Action("Index")" class="btn">@Translation.Get("Cancel", Enums.TranslationSource.TextTranslation)</a></li>
            </ul>
        </div>
    </div>
    @this.Html.Partial("FaqEditing", new EditingFaqModel(this.Model.TemporaryId, this.Model.Categories, string.Empty, string.Empty, string.Empty, new List<string>(0), string.Empty, string.Empty, this.Model.WorkingGroups, false, false))
}