@model DH.Helpdesk.Web.Models.Inventory.EditModel.Printer.CommunicationFieldsModel
<table class="tableform">
    @if (Model.NetworkAdapterName.Show
        || Model.IPAddress.Show
        || Model.MacAddress.Show)
    {
        <tr>
            <th colspan="2" class="header">@Translation.Get("Kommunikation")</th>
        </tr>
    }
    @Html.EditorFor(m => m.NetworkAdapterName, "NotReadonlyFields/Text")
    @Html.EditorFor(m => m.IPAddress, "NotReadonlyFields/Text")
    @Html.EditorFor(m => m.MacAddress, "NotReadonlyFields/Text")
</table>
