
@model DH.Helpdesk.Web.Models.Notifiers.ConfigurableFieldModel<bool>
           
@if (Model.Show)
{
    <tr>
        <td class="span3">
            @Translation.Get(Model.Caption, Enums.TranslationSource.TextTranslation)
        </td>
        <td class="span9">
            @Html.CheckBoxFor(m => m.Value)
        </td>
    </tr>
}